FORMAT: 1A
HOST: https://apiv2.vueltapp.com/api_1.0/
# Vueltap REST API

Documentacion oficial del API RESTFul aplicación Vueltap.

## Login User Method [/User/Login]

### Login [PUT]

Logueo de usuarios de Vueltap, verificacion de usuario y contraseña.

Descripción de campos JSON (Request), campos relevantes:

- Body:
    - email: correo de usuario
    - password: contraseña de usuario base64 de la contraseña

Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: estado de la petición correcta = true en caso de error = false
    - message: mensaje de respuesta
    - response: Objeto JSON de Usuario
        - _id : Id único del usuario
        - email: Email de usuario
        - name: Nombre del usuario
        - lastname: Apellidos del usuario
        - session: Objeto JSON de sesión de usuario:
            - exp_date: fecha de expiración del token
            - token: token (email) de usuario generado para la sesión, el cual se usará en los headers más adelante.
        - type: Tipo de servicio que generará el usuario si es mensajería es (messaging)

+ Request (application/json)

    + Body
    
            {
              "email": "wilmeralzateroman@gmail.com",
              "password": "d2FyMjY2MDQ4OQ=="
            }
        
+ Response 200 (application/json)

    + Body
    
            {
              "status": true,
              "response": {
                "_id": "58703a04e8fa120cf0987c17",
                "email": "wilmeralzateroman@gmail.com",
                "email_confirmation": true,
                "active": true,
                "password": "$2a$10$PzZrli3mfND64ZvLho4GZehHRLQAsHH2QIjUBcwiDVbbbLhfrhZrK",
                "name": "Wilmer",
                "lastname": "Alzate Roman",
                "mobilephone": 3204204615,
                "__v": 0,
                "device": [],
                "stats": {
                  "created_services": 178
                },
                "session": {
                  "exp_date": "2017-05-01T05:00:00.000Z",
                  "token": "wilmeralzateroman@gmail.com"
                },
                "corporate_payment": true,
                "favorites": [],
                "password_recover": {
                  "status": true,
                  "token": "$2a$10$ahwhHkWddBNvBWHMxmJ9HepQVtze42MywEh3pm0zueJmSP4U5akVK"
                },
                "type": "messaging"
              },
              "message": "Autenticado correctamente"
            }



## Create/Update WareHouses Method [/Admin/UpdateWarehouses/diego2029_@hotmail.com]

### UpdateWarehouses/:user_email [PUT]
Método de actualización/creación de bodegas

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.

- Params:
    - user_email: Correo de usuario que realiza la petición.
    
- Body:
    - seller: Arreglo de los sellers (bodegas) a actualizar y/o crear en la base de datos de vueltap, si se reciben parametros vacios, se reemplazaran con esta información, si no se quiere actualizar un valor no se envía en el item del arreglo seller.
        - shop_id: (Obligatorio) identificador único del establecimiento (comercio, seller)
        - shop: (Obligatorio) nombre único del establecimiento (comercio, seller)
        - contact_name: nombre de la persona contacto del establecimiento (comercio, seller)
        - email_address: dirección de correo de la persona contacto del establecimiento (comercio, seller)
        - address: dirección del establecimiento (comercio, seller)
        - details: instrucciones adicionales para ubicación del establecimiento (comercio, seller)
        - phone_number: número telefónico del establecimiento (comercio, seller)
        - zip_code: zip code del establecimiento (comercio, seller)
        - city: nombre de la ciudad de ubicación del establecimiento (comercio, seller)
        - municipality: nombre del departamento, provinica, del establecimiento (comercio, seller)
        
Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: Estado de la respuesta true = exitosa, false = error
    - message: en caso de error este parámetro contiene la descripción del error.
    - saved: Arreglo de sellers almacenados y/o actualizados
        - count: cantidad de seller almacenados y/o actualizados
        - shop_saved: Arreglo con los sellers almacenados y/o actualizados
            - shop: equivalente al campo shop enviado en la petición (único)
            - warehouse_id: identificador único del seller almacenado y/o actualizado al lado de vueltap
    - not_saved: Arreglo que contiene la especificación de los shop (sellers) que no se pudieron almacenar
        - count: cantidad de seller no almacenados y/o no actualizados
        - reason: mensaje que contiene la descripción de la razón del error.
        - shop_not_saved: Areglo que contiene la especificación de los sellers
            - shop: descripción (código único) del seller que no se pudo almacenar y/o actualizar
            - address: dirección del seller que no se pudo almacenar (esto se retorna porque en la mayoria de los casos se retorna un error porque no se pudo verificar la dirección física del seller)

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            
    + Body

            {
                "seller":[
                    {
                    "shop_id": "1111",
                    "shop":"DIEGO QUINTERO",
                    "contact_name":"diego quintero loaiza",
                    "email_address":"diego@mail.com",
                    "address":"calle 80 10 60",
                    "details":"Bodega 5",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1112",
                    "shop":"WILMER ALZATE",
                    "contact_name":"wilmer alzate",
                    "email_address":"wilmer@mail.com",
                    "address":"carrera 22 18 28",
                    "details":"Apto 201",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1113",
                    "shop":"DIEGO ESCOBAR",
                    "contact_name":"diego escobar",
                    "email_address":"diego@mail.com",
                    "address":"carrera 2 88",
                    "details":"Oficina 302",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1114",
                    "shop":"CAMILO ARANGO",
                    "contact_name":"camilo arango",
                    "email_address":"camilo@mail.com",
                    "address":"carrera 22 18 28",
                    "details":"Casa verde puertas rojas",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    }
                ]
            }


+ Response 200 (application/json)

        {
        "status":true,
        "message":"Proceso finalizado",
        "response":{
                "saved":{
                    "count":3,
                    "shop_saved":[
                        {
                        "shop":"DIEGO QUINTERO",
                        "warehouse_id":"1"
                        },
                        {
                        "shop":"WILMER ALZATE",
                        "warehouse_id":"2"
                        },
                        {
                        "shop":"CAMILO ARANGO",
                        "warehouse_id":"3"
                        }
                    ]
                },
                "not_saved":{
                    "count":1,
                    "reason":"Address is not valid. Can't verify address for shop.",
                    "shop_not_saved":[
                        {
                        "shop":"DIEGO ESCOBAR",
                        "address":"carrera 2 88"
                        }
                    ]
                }
            }
        }

            
 
## Get Trazability By Delivery Id [/DeliveryTrace/5a38feb7663dcd0e6c246ab7/]  

### DeliveryTrace/:delivery_id [GET]
Obtener trazabilidad de estados

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.


- Params:
    - delivery_id: ide del servicio

Descripción de campos JSON (Response), campos relevantes:

- Body:
Arreglo de estados
    - _id: identificador unico del registro del estado en la base de datos
    - delivery_id: identificador del servicio al que pertenece el estado
    - status: estado del servicio, pueden ser:
        - available: disponbile para ser aceptado por un mensajero
        - accepted: el mensajero lo acepto en la aplicación móvil
        - collected: el mensajero ya recolecto el producto a entregar
        - in-transit: en transito hacia direcciones de entrega.
        - returning: cuando el servicio representa ida y vuelta, es el estado que indica que el mensajero está retornando al punto de partida, sitio de recolección
        - delivered: entregado        
    - overall_status: estado en general del servicio, es para uso interno
        - requested: solicitado por el usuario
        - started: iniciado por el mensajero
        - in-process: en proceso de entrega
        - finished: finalizado/entregado
        - not-deliverd: no entregado, sucedió una novedad al entregar
    - date: fecha y hora (ISO) en la que se registra el movimiento, fecha en que se registro el estado

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            

+ Response 200 (application/json)

    + Body
    
            [
                {
                    "_id":"5a57d9c8cce1967b70a65e57",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"accepted",
                    "overall_status":"started",
                    "__v":0,
                    "date":"2018-01-11T21:40:24.720Z"
                },
                {
                    "_id":"5a57d9d0cce1967b70a65e58",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"available",
                    "overall_status":"requested",
                    "__v":0,
                    "date":"2018-01-11T21:40:32.567Z"
                },
                {
                    "_id":"5a57d9e0cce1967b70a65e59",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"accepted",
                    "overall_status":"started",
                    "__v":0,
                    "date":"2018-01-11T21:40:48.655Z"
                },
                {
                    "_id":"5a57d9e6cce1967b70a65e5a",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"in-transit",
                    "overall_status":"started",
                    "__v":0,
                    "date":"2018-01-11T21:40:54.254Z"
                },
                {
                    "_id":"5a57d9eccce1967b70a65e5b",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"delivered",
                    "overall_status":"finished",
                    "__v":0,
                    "date":"2018-01-11T21:41:00.555Z"
                }
            ]


## Get Trazability By Service Code [/DeliveryTraceByCode/1026846]  

### DeliveryTraceByCode/:service_code [GET]
Obtener trazabilidad de estados

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.


- Params:
    - service_code: codigo del servicio

Descripción de campos JSON (Response), campos relevantes:

- Body:
Objeto JSON con estado de la petición y arreglo de estados
    - status: estado de la respuesta
    - message: mensaje de la respuesta
    - response: arreglo que contiene la trazabilidad
        - _id: identificador unico del registro del estado en la base de datos
        - delivery: identificador del servicio al que pertenece el estado
        - user: identificador de usuario que creo el servicio
        - status: estado del servicio, pueden ser:
            - schedule: el servicio fue programado
            - available: disponbile para ser aceptado por un mensajero
            - cancelled: cancelación del servicio
            - accepted: el mensajero lo acepto en la aplicación móvil
            - collected: el mensajero ya recolecto el producto a entregar
            - not-collected: servicio no pudo ser recogido
            - in-transit: en transito hacia direcciones de entrega
            - deliver_attempt: el paquete no puede ser entrega y se debe realizar un nuevo intento de entrega
            - returning: cuando el servicio representa ida y vuelta, es el estado que indica que el mensajero está retornando al punto de partida, sitio de recolección
            - returned: cuando el servicio es devuelto al punto de recoleccion.
            - delivered: entregado
        - date: fecha y hora (ISO) en la que se registra el movimiento, fecha en que se registro el estado

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Trace find",
                "response": [
                    {
                        "_id": "5c9ba7595eae816c1bb26769",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "Delivery",
                        "status": "available",
                        "user": "5a8c8434ef9ddf018d0d6094",
                        "date": "2019-03-27T11:39:53.113Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7b874d99b6c477a9126",
                        "status": "accepted",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:41:28.718Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7eb2463386c53bd60ca",
                        "status": "collected",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:19.345Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7ee74d99b6c477a912e",
                        "status": "in-transit",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:22.796Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba8272463386c53bd60ce",
                        "status": "delivered",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:43:19.050Z",
                        "__v": 0
                    }
                ]
            }


## Get Trazability By Client Order Number [/Delivery/Get/Trace/1026846]  

### Delivery/Get/Trace/:order_number [GET]
Obtener trazabilidad de estados por número de orden de cliente

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.


- Params:
    - order_number: número de orden del cliente

Descripción de campos JSON (Response), campos relevantes:

- Body:
Objeto JSON con estado de la petición y arreglo de estados
    - status: estado de la respuesta
    - message: mensaje de la respuesta
    - response: arreglo que contiene la trazabilidad
        - _id: identificador unico del registro del estado en la base de datos
        - delivery: identificador del servicio al que pertenece el estado
        - user: identificador de usuario que creo el servicio
        - status: estado del servicio, pueden ser:
            - schedule: el servicio fue programado
            - available: disponbile para ser aceptado por un mensajero
            - cancelled: cancelación del servicio
            - accepted: el mensajero lo acepto en la aplicación móvil
            - collected: el mensajero ya recolecto el producto a entregar
            - not-collected: servicio no pudo ser recogido
            - in-transit: en transito hacia direcciones de entrega
            - deliver_attempt: el paquete no puede ser entrega y se debe realizar un nuevo intento de entrega
            - returning: cuando el servicio representa ida y vuelta, es el estado que indica que el mensajero está retornando al punto de partida, sitio de recolección
            - returned: cuando el servicio es devuelto al punto de recoleccion.
            - delivered: entregado
        - date: fecha y hora (ISO) en la que se registra el movimiento, fecha en que se registro el estado

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9Tbz0=
            token: wilmeralzateroman@gmail.com
            

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Trace find",
                "response": [
                    {
                        "_id": "5c9ba7595eae816c1bb26769",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "Delivery",
                        "status": "available",
                        "user": "5a8c8434ef9ddf018d0d6094",
                        "date": "2019-03-27T11:39:53.113Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7b874d99b6c477a9126",
                        "status": "accepted",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:41:28.718Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7eb2463386c53bd60ca",
                        "status": "collected",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:19.345Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7ee74d99b6c477a912e",
                        "status": "in-transit",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:22.796Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba8272463386c53bd60ce",
                        "status": "delivered",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:43:19.050Z",
                        "__v": 0
                    }
                ]
            }
            

## Get Traceability Service [/Delivery/SearchTraceability/wilmeralzateroman@gmail.com/10239266]

### SearchTraceability/:user/:code [GET]


Metodo de obtención de la trazabilidad de una entrega filtrada por numero de orden del cliente, código interno del cliente o guía Vueltap.

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario
    - Authorization: parámetros de usuario y clave en formato Basic
    - token: email del usuario que realiza la petición
    
- Params:
    - user: email de usuario al que esta ligado el código.
    - code: Guía Vueltap asignado a la entrega.

Descripción de campos JSON (Response), campos relevantes:

- Body:
    
Objeto JSON con estado de la petición y arreglo de estados
    - status: estado de la respuesta
    - message: mensaje de la respuesta
    - response: arreglo que contiene la información relevante de la entrega
        - vueltap_guide: Numero de guía de Vueltap
        - order_number: Numero de orden del cliente
        - date: Fecha de creación de la entrega
        - status: Estado de la entrega
        - trace: Arreglo con los items de trazabilidad de la entrega
        - messenger: Objeto que contiene la información del mensero asignado a la entrega
        - locations: Arreglo con los datos de las direcciones de recogida y entrega
        - contact: Objeto con la información de contact y de quien recibió la entrega
        - evidence: Objeto con la evidencia, recolección, entrega o devolución
        - novelty: Objeto con la información de novedades, en recolección o en entrega
    {
    
+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9Tbz0=
            token: wilmeralzateroman@gmail.com
            

+ Response 200 (application/json)

    + Body
            
            {
                "status": true,
                "message": "Servicio encontrado",
                "response": {
                    "vueltap_guide": 10239266,
                    "order_number": "",
                    "date": "2020-05-03T16:06:00.349Z",
                    "status": "delivered",
                    "trace": [
                        {
                            "_id": "5eaeebe86dfae15c1470d815",
                            "delivery": "5eaeebe86dfae15c1470d814",
                            "roadmap": "5eaeebe86dfae15c1470d812",
                            "trace_type": "DeliveryItem",
                            "status": "available",
                            "user": "57d9994f5e3256c215b22fe2",
                            "user_type": "messaging",
                            "date": "2020-05-03T16:06:00.361Z",
                            "__v": 0
                        },
                        {
                            "_id": "5eaeebfe756ad5466f888d03",
                            "status": "accepted",
                            "delivery": "5eaeebe86dfae15c1470d814",
                            "trace_type": "DeliveryItem",
                            "messenger": "57a366cbf701345a32adbaa8",
                            "user_type": "Messenger",
                            "date": "2020-05-03T16:06:22.367Z",
                            "__v": 0
                        },
                        {
                            "_id": "5eaeec7595fd0e467631e19d",
                            "status": "collected",
                            "delivery": "5eaeebe86dfae15c1470d814",
                            "trace_type": "DeliveryItem",
                            "user_type": "Messenger",
                            "date": "2020-05-03T16:08:21.136Z",
                            "__v": 0
                        },
                        {
                            "_id": "5eaeecee756ad5466f888d73",
                            "status": "in_transit",
                            "delivery": "5eaeebe86dfae15c1470d814",
                            "trace_type": "DeliveryItem",
                            "messenger": "57a366cbf701345a32adbaa8",
                            "user_type": "Messenger",
                            "date": "2020-05-03T16:10:22.221Z",
                            "__v": 0
                        },
                        {
                            "_id": "5eaeee4b95fd0e467631e1fc",
                            "status": "delivered",
                            "delivery": "5eaeebe86dfae15c1470d814",
                            "trace_type": "DeliveryItem",
                            "user_type": "Messenger",
                            "date": "2020-05-03T16:16:11.129Z",
                            "__v": 0
                        }
                    ],
                    "messenger": {
                        "email": "carangolopez@gmail.com",
                        "name": "Camilo Arango Lopez"
                    },
                    "locations": [
                        {
                            "address": "AC 100 # 19 - 0",
                            "details": "Recoger Sobre, contacta a: Wilmer",
                            "lat": 4.68631596952311,
                            "lon": -74.0528381767905
                        },
                        {
                            "address": "CL 70 # 7 - 30",
                            "details": "afasdfasf",
                            "lat": 4.6530752340000845,
                            "lon": -74.05681594999993
                        }
                    ],
                    "contact": {
                        "name": "asfasdfasdfasdf",
                        "phone": "",
                        "receiver": "Destinatario",
                        "receiver_name": "Wilmer",
                        "receiver_id": "123123"
                    },
                    "evidence": {
                        "pickup": {
                            "image": [
                                {
                                    "_id": "5eaeec7595fd0e467631e19e",
                                    "url": "https://vueltap.s3.amazonaws.com/carangolopez@gmail.com/5eaeebe86dfae15c1470d814/image_1588522098249.jpg",
                                    "size": "27861",
                                    "register_date": "2020-05-03T16:08:21.138Z"
                                }
                            ],
                            "signature": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsK\nCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQU\nFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAbbBDgDASIA\nAhEBAxEB/8QAHgABAAICAwEBAQAAAAAAAAAAAAgJBwoEBQYDAgH/xABZEAEAAgEEAQMDAgIEBwkN\nAREAAQIDBAUGEQcIEiEJEzEiQRRRIzJhgRUWF0JSYnEYJDM4Q4KFkaElNEdTY3J2krG0tcHERHOV\n8Bk1VpSksrPR1FRVZIOi/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAA\nAAD/2gAMAwEAAhEDEQA/ALUwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGP/PvmLa/T/4b5Z5B3jH9/SbHopz003dq/wATntMY\n8GD3Vpeafcy3x4/f7Zivv90/ESyAq5+tf5wppto4T4k0OaPv6nJPIt0iIvW1cVffh0tO4n22ra06\ni1qz3MThxz8dx2EXOU/Vg9SPIN+1W4aDl+38Z0mb2+zatr2TSX0+DqsVn2W1GPLln3TE2n3ZLfNp\n66jqIto9D3qkt6t/BuHmGq2iNl3vQ67JtG66fD86a2qx48eScmDu02+3ambHPV/1VmbV7tFYvbXY\nX/fTV9PO+enT0y6HbeSZut65FrZ5HqNBbT3w3277+nwUrpskXiLfcrXDWbxNa+29rU+Yp7rBKoAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHWco5LtnDOM7vyDetVXQ7Pt\nOkza/W6q1bWjDgxUm+S8xWJmeq1meoiZ+PiGtX6gvMe5eoHzPy3yDuuOcGo3zW2zYtNM1mdNp6xG\nPT4fdWtYt9vDTHT3+2Jt7PdPzMrS/rJeoz/E/wAa7P4j2nUxXdeUTXcN2ivXux7fiyf0dJ7j4+7n\np3E1nvrT3rMdXU5glN9OH02/7ov1JbPj3PRRquIcZ9u9bzGbDF8OauO0fZ0totS9Lfdy+2LY79e7\nFTP1PdWwEib9NL01/wC549OO25910P8AC8x5Z7N43b7uP25sNLV/3tprd0rePt457mlu/bky5oie\npSyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAddyPkO3cS49um+bxq6\naDads0uXW6zV5e/Zhw46TfJeevnqK1mf7nYq6frF+pL/ABH8Y7X4l2fVTj3rlfWs3T7c9Wxbbjv+\nms/vH3stOu4n+rgy1mOrAq79S3m/cPUX5v5Xz7X1vhpumqn+D0t5jvTaSkRTBi+PjuuOtfdMfm3u\nt+7LH04vTT/uj/UdtWPdNF/FcO417d53r7uL3Yc0UtH2NLb3UtS33cnUWpbr3YqZup7qiyv++m96\nZ49OPpz2z/Cmi/heZco9m8bz93H7c2H3V/oNLbulb1+1jmPdS3fty5M3U9SCVQAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nK0PW19WK3jzf934D4e02m1u96DNfSbhynXU+7p9NkiLVvTS4vxkvS/X9JfundLR7MkWi0BZeNeLV\n/US9Rus5Ng37J5V3euuwxEVxYsOnx6Seo6/Vpa44w2/P5tSUg/An1k/I3Edy02i8p7ZpOd7HfJ/T\n7jocGPRbnhra1e7VikVwZIpWL9Y5pjm0zHeSIgFzQxv4K9Q3A/Ufw7HyPgm+4d100RWNVpLf0er0\nOS0T/R58U/NLdxaIn5rb2zNZtXqWSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAddyPkO3cR4\n9um+7xq6aDaNr0uXW6zVZO/bhw46TfJeevnqK1mfj+TW29S3nHcvUZ5t5Tz7cYyYq7nqp/gtJkmJ\n/hdJSPZgw/Hx3XHWvumOvdb3W/NpWg/WO9SM8K8a7V4j2fU+zd+VRGu3X2T1bFt2O/6Kfj/lc1Pz\nE/1cGSsx1dTgCWX01PTNHqK9RWgz7tov4nhvE/Zu+7xkp7sWe8W/3tpbd1tWfuZK92pbr3Y8WaIn\nvpfsjL9PT00f7mj07bTt+5aSNPzDfZjd98m1Y+5jy3rH29NM9RMRix+2s1mZiMk5ZierJNAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAA4G/79t/Fti3Let21eLb9q27TZNZq9XmnqmDDjrN73tP7RWsTM/7AQ7+p96vMnp28Q14v\nxncb6TyBy2l8Glz6TUfbz7bo4mIzaqOom1bT/wAHjmJrPuta9bd4piaKmXPVb6gty9TfnPkfOtdO\nbFotTl/h9q0Oa0z/AAehxzMYcUVm1orPXd7xWfbOTJktER7niPGnjrfPLfP9h4bxrSW1u+b1q6aP\nTYoi01ibT83vMRM1pSvd7W66rWtpn4iQfnYPG3LuV7Buu+7Jxbet42Taazfcdy0G3Zs+m0VYrNpn\nNkpWa449sTPdpj4jt5xswennwTx304eJdi4LxvT4q4NDhrbV62mL2X3DVzWPvanJ3a0+69o76m0+\n2sVpX9NKxEaPWn9MbiHqEwazlHBcWi4X5FvfJqM2WlJpod2vb5n+IpWP0ZJt3P3qR3M2t74vM1mo\nU4+FfN3MfT7z7Rcw4Ru+Tat208fbyVj9WHV4ZmJtgz4/xkx29sd1n8TFbRMWrW0Xs+iz1ucW9XnE\nL/ZjHsnOdtxRbduPXydzFe4j+IwTPzfDMzEd/mkzFbfmlr0E884FyHxfzDdeK8r2nU7HyDa832NX\noNXXq+O3UTE/HxatqzW1bVma2ratqzMTEz9vHHkfkfiTm208t4luubZt/wBrzRm02rwT8xP4mton\n4tS0TNbVtExaszExMTMA2hBHr0Wer/YvV14yjdsFMO2ct2yKYN82Wl5n+HyzE+3Lj7+ZxZPbaazP\ncx1aszM17mQoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADrOT8k23hvG923/edVXQ7PtWky67W6q9\nZtXDgxUm+S8xETMxFazPxEz8OzVrfWT9SkcZ4NtPhvZtTH+EuQxTct79v5xaLHk7w4/mvXeTNSbf\nFomIwdTHWQFZPqO82bl6iPNfK+f7nS2C276ubabS2mJ/hdLSIpgw9xERM0x1pE2iI90xNp+Zlnr6\nXvpp/wAvnqI0u9bppYz8S4XOLdtfF4iaZtR7p/hMEx+8WvS2SYmJrNcN6z/WhD2lLZL1pSs2vaeo\nrWO5mf5Nh/0Gem+PTJ6dNi49rtPXDyjcv+62+z33MavLWP6LuLTH9FSMeL9M+2Zpa0f1pBIgAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAABXR9Yz1IzwjxltXiXZtXOLeeVda3dftz1bFtuO/6aT+8fezV67if6uDJWY6ssK3vetB\nxvZdfu+6avFoNs0GnyarVavPb248OGlZte9p/aK1iZmf5Q1t/U/501/qP85cq57rYyYsG46maaDS\n5J+dLo6R7MGLruYiYpETbr4m83t/nAxYtj+jV6Ysek2ndfN2+6OLanVzl2njkZscT7MVZ9up1VJm\nJ6m1onDW1ZiYimes9xdWn4R8Tbv518s8X4Fsce3cN81tNNGb2+6NPi+bZc1o7juuPHW+SYie+qT1\n8tlPgXCNp8a8J2Limw6edLs2y6LDoNJime7Rjx0itZtP+daeu5t+ZmZmfyDvgARd9c/od4/6u+F1\n1GnnBsvkXacFo2fe7U/Tlr82/hNT1HdsNrTMxPzbFa02rExN6ZKE+a8L3zx1yvdOM8l2zUbNvu2Z\n7afV6HU16vivH/ZMTHUxaJmLRMTEzExLaOQn+o96EsHqX4hfmXEsFMHk3Y9NMYscR1XeNNXu06a0\n/tljuZx3/HczS3xaLYwpx8C+deV+nLyZtfN+H63+F3LRz7M2nydzg1untMfc0+av+djt1H9sTFbV\nmtq1tGw76efPfGPUn4r2nnHFtRF9Jqo+1qtHa3eXQaqsROXT5Y/a1fdHz11atq2j9NomdaTU6bNo\ntTl0+oxXwajDeceTFlrNb0tE9TWYn5iYn46lIz0L+sDcvSP5YpuOambcOFbx7NLv22Yr9WnHE/o1\nGKPxOXF3MxE/1qzendfdFqhsMDruO8h23luwbdveza3DuO07jp8er0mswW92PNivWLUvWf3iYmJd\niAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADzPkzyLsniTx/v/MuSamNJsmy6PJrNTkia+61ax8UpEzE\nWveeqVr3+q1qxHzLWz82eW9687eVuTc83+0f4T3vV21FsVZ7rgxxEVxYaz/o48daUjv56rHfysK+\nsd6pJ3PeNu8I8f1k/wAJoZx7lyO+G9o9+eY92n0tvxExSsxltHzEzfF+LY5Vn8d4/uPLeQbZsez6\nTJuG7blqcej0ekwx3fNmyWilKV/tm0xH94Jq/Sd9MdvMfnSvO940s34rwfJj1lffForqdyme9NSJ\niY7+3MTmnrvqaY62iYyLw2IvSn6fNs9Mfg/j3BtB9rNrdPj/AInddbij/vzXZIic2Xv2xM17iKU7\njuKUpE/hl0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAH8mYrEzMxER8zMggN9X31FT408HaTx1tOr+1v/NrzTVfav1kw7bim\ns5Z/TaJr9280xx3E1vT78fmFKLPPrh9QNvUn6kOU8r02otn4/gyf4L2Tvv2xocMzGO1YmImIyWm+\naazHcTmmP2Yp8ccB3bypz7j3D9ixRm3ffNdh0Gmi/fsrfJaK+68xEzFK9+609fFYmf2BaB9GD06f\nwW1ci8zbxpJjLrPdsuwzlpMf0VbROqz17jqe71pii1Z7j7eas/laK8p4p8a7P4d8b8b4TsGL7W07\nHoceiwzNa1vk9sfqy39sRE3vb3XtMR82taf3erAAAABVV9V70NRWNb5w4DtMVj/hOWbdo69d9z/+\nUK0j/qze3+zJMf8AC3VWNqDcNv0u7aDU6HXabDrNFqcVsOfTajHGTHlx2iYtS1Z+LVmJmJifiYlQ\nZ9Q30dZfSp5btm2TS5P8nXIbX1OyZpyWy/wto+cmjva36u8czE1m0zNqTX9VrRfoM8fSU9Zd+F8m\nw+E+Xa607BvOebcc1OozRFNDrbTM20se78Uz2nusRPxlnqKzOaZi4Nqs4st8GWmTHe2PJSYtW9Z6\nmsx+Jif2lf8A/Tv9Wf8AuqPCVMm8Z4vzvjc49BvsRjin35mJ+zqoiPjrLWlu+uv6SmXqsV9vYSnA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAYn9UnqA2r0zeEuQ863L7ebUaXF9jbdDe0R/Ga28TGHF+Ynr3f\nqt18xSl7RE+3plhRh9U71V/5d/NduH7Drvv8J4be+kxThv3i1mv/ABqM/wARHcVmPtU/rR1S9qz1\nkkEOuU8n3PmvJt25BvWrvr943XVZdbrNVkiItmzZLze9piPiO7TM9R8LI/o5+lqd75Fr/NvINJP8\nDtc5Nu47TLW0fc1Nq+3PqY+Yia0pacUf1om2TJ+LY4QF8EeGt89QHlnjnA+P0/3/ALvqYx21Fo7p\npcMR7sue/wAx+mlItaY77nrqPmYhsieM/HOx+I+AbDw3jWljR7HsukppNNj+PdMVj5veYiIte1pm\n1rdfqta0/uD04AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAACIn1QPP9fCHpf3fb9Dqa4uR8xm2xaGlb199MN6z/FZvb3E+2uL\nunur/Vvmxyl2ob+qb5+t5o9T257NotTbLx3hUW2TSUi0+y2prbvV5fbP4tOWPt9x/WrgpIIdrLfo\nv+n7/D/OOR+Xtz00W0ew0ts+z2tETE6zLSJz5Kz33E0w2rT5jqY1M/vVW1tu26vedx0ug0Gmy6zX\narLTBg0+Ck3yZclpitaVrHzMzMxERH82yZ6XfCOl9O3gbh/A8Hsvqdt0cW1+fHPujNrMkzk1F4nq\nJms5LXivcdxSKx+wMqAAAAAAMW+pnwBsnqZ8Nb9wPe4x4J1mP7ug3C2GuS+g1lO5w56d/MdT3W0V\nmJtS96dxFpZSAauvPuC734y5pvXFOSaG+3b7s+qyaPV6a/z7clJ6mYmPi1Z+JraPi0TExMxMSyt6\nLfUjqvS5592Ll3uvbYc8/wCDt902OsWnNoMlq/cmsfn3UmtMtYiY7tjisz1ae5zfWV9MNcul2rzf\nsOiiMmKce08kjDj691Z/TpdVfqv7T/QWta3fzp6xHUSqlBtQbfuGl3bQabXaHU4dZotTirmwanT5\nIyY8uO0RNb1tHxasxMTEx8TEuQgt9I71DZPK/p9zcJ3XVWz7/wAFy00VJyTabZNuyRM6WZmfifZ7\ncuGIj4rTFj/n8zpAAAAAAAAAAAAAAAAAAAAAAAAABwd93zQcY2Pcd43XV49Bte3afJq9Xqs09Uw4\ncdZve9p/aIrEzP8AsBFn6kvqqj01eCNRpNn1f2Oc8qjJtu0eyZi+mp1EajVRMTHU462iKz33GTJj\nnqYiygv8s2esP1Ibh6pPOm98yz/cw7PWf4HZdFf4/htDjmftxMdz1a0zbJb5n9WS3XxERHrPp/8A\npXy+qXzvodv3HTZL8J2L2bjv+bq0Uvii39HpvdXrq2a0e38xPsrltHzQFh/0kPSrPivxbm8o8g0c\n4uUcwwVjQUyx1bS7X3FqdfHcTntFck/MxNK4eup9ywF89Pp8WkwY8GDHTDhxVilMeOsVrSsR1ERE\nfiIj9n0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAABhb1i+eMXpx9O/LuZ1zUx7vi006PaKX9szk12b9GHqs/wBaKTM5LV/0\nMd2uFly3z5b5Ml7ZMl5m1r2nubTP5mZ/msg+s957nkvkvjvifbtRadDxrDG57rStpittbnpE4qWr\nMdd48ExaLRM/99Wj9lboJv8A0k/ANfLPqPjlu5aWM+w8Fw13KffETS+vvM10lZjvvus1yZomPxbB\nXv8AK8lF36b3gP8AyC+lvjmDW6eMPIeRx/h/dPdExet81azhxTExE1mmGMVZrP4v9zr8pRAAAAAA\nAAA815K8fbP5X4ByHh3IMM59m3zRZdDqa1ivvrW9Zj30m0TEXrPVq26n22rWf2az/kngO6eK/IHI\n+Hb3Std22LX5tv1M4/d7L3x3ms3pNoiZpbr3VnqO6zE/u2hVLn1m/ENOH+f+P880uOmPS8x2z2ai\nfuza99Zo/Zivaaz8Vr9i+krHX5mtp6/mGHfpqeZ7eGfVzxDJmyWptPJbzxvXVpjraZrqbVjDPdpj\n2xGorp7WtHzFa3/PfU7ArVYx5LYr1vS00vWYmtqz1MT/ADhs2eCPI8eX/C3B+azOm+9vuzaXX6im\nkv7sWLPfFWc2KJ7n+pk99Op+YmsxPyD3YAAAAAAAAAAAAAAAAAAAAAAACsX6w3qursux6Xwhx3V/\n90Nxrj13I8uK0f0Wn7i2DTT18xa8xGS0fExWuP8AMZJTt9R/nbZfTf4d5Bzze5rlpt+H26TRTeK2\n1uqt8YcFf/Ot+ZiJ9tYtbrqstcPyBzvevJ/Nt75ZyPWW1++bxq8ms1eotHXuvae+oiPitY+IisfE\nRERHxAOn2/b9Tu2v02h0Wny6vWanLXDg0+Ck3yZclpiK1rWPmZmZiIiPzMthz0M+l/TelbwTtnHs\n+LFble49bjv+qp1M21Vqx/RRaJnumKvVI6nqZi14iJvKvj6Q3pMjnfNc/mPkuj9+xcczzg2PDlrH\nt1O4RETbN1P5rhraOp6/4S1Zie8cwuMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeb8k8+2rxX4/5FzDe8k49p2PQZtfqP\nZ177Vx0m3tr3MRNrdRWsd/MzEfu9Irf+s757jjHjHj3inbdTFdw5Nnjct0x0tHddDgv3irasx31k\nzxFomJ/+zWj9wVNeSOe7r5T5/wAi5hveSMm7b5r824ama9+2t8l5t7axMz1WvftrH7RER+zL3oQ8\nBR6jPUzxTjWr006nj+jyTu+9VmvupOjwTFrY79TExXLeceHuJ7j73f7I/Ln/AKN/gb/Ejwnu/knc\nMEV3TmOp+1orWiszTQae1qRMfHurN833ZmO+pjHikFhIAAAAAAAAACDP1iPHluW+kyvIMOPSxm4r\nvek1+XPlrH3f4fL7tLbHjt13HuyZ8FpjuImMcTPzWE5mAPX3w2edejbyxtsXik4Nlvundp6/70vX\nV9f3/Y6/vBrrL1vpFc3ryv0abTtkYPs24zvGv2m1/d392bZI1nu/s+NXFev9X+1RSuR+iVyCNT4I\n55sf24i2i5L/ABs5O/mYzaXDTrr+z+Hn/rBYuAAAAAAAAAAAAAAAAAAAAAACIH1LvVhb02+EbbXs\nWq+zznlkZNDtt6TMX0mGIj+I1UfHxNYtWtfmJ9+SLR3FLQCvn6qfqxnzj5gngmwaycnC+G58mCbY\nrz9vW7jH6c2aY/Fox9TipPU/8paJmMiLPgjw1vfqA8s8c4Fx+sRr931MY7ai1e6abDETbLnvHcd1\npSLWmO+566j5mHgvyuw+k36Tp8QeLb+S+RaP7XLOYaeltJTJH69HtkzF8cf2TmmK5J/1YxfiYtAJ\nneLfGuxeHfHmwcL41pY0eybLpa6XT06j3W6+bZLzERE3vabXtbr5ta0/u9UAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP5\nMxWJmZiIj5mZa4vrO8939SHqL5bzHDnyZdltn/gdmpebdU0OH9GKYrb5p7/1ZZr+1stlxf1NfO8e\nEfStyDFpM84t/wCVT/i/oIr17qxlrP8AEZPzExFcMZIi0d9Xvj/moHB6/wAQ+M9z8yeUOL8I2f43\nDftww6GmWaTeuGt7RF8toj59lK+69uvxWsy2YeHcT23gXEdk41s2GdNtGzaHDt+jwzabTTDixxjp\nEzPzMxWsfM/lU59FzwLbfeecn8t7jp4todiwzs21WvTuLazNWLZ8lbe74nHhmKTExMTGq/Me1b2A\nAAAAAAAAAAwz6z9/0XGvSX5f1evy/ZwZOLbho626/OXPgvgxR/fkyUj+9mZDf6tXNNHxX0W8i23U\n1yzqOR7lt+1aSccRMVy1z11czf5+K/b0mSPjv5moKH1xH0RuP5dN4Y8h75M/0Gs3/Hoqx3/nYdPS\n9v8As1FVO6836P8AwnUcU9Hem3PPnxZcfJd9127YKY5n3YqV9mjmt+4j592jvb47jq1fnvuICbYA\nAAAAAAAAAAAAAAAAAAAAOo5dyvaeCcW3bke+6ym3bNtWlya3WarJEzXFix1m17dR3M9RE/ERMz+I\n+Wud6sPUXu3qj8171zfcq302jyTGk2rb7T3/AAeipM/axf8AnT7rXtMfE3veY6iYiJ3/AFhPVr93\nJi8F8a1Ueyk4tdybPjn82+Mmn0n+yP0Zrf2/a6n4tCsHjfHdy5fyHbNi2bR5dx3fctTj0ej0mGO7\n5s2S0VpSv9s2mIBJz6cnpSn1OedNPk3jSTm4Lxmce4bzNo/RqJ7n7Ol/E9/ctWfdHx/R0ydTE9L+\noiKxEREREfERDC/pD9N22elrwhsvDNH9rPusx/Gbzr8fz/F668R9y0TMR+ivUUp8RPspXv57mc0g\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADGnmr1J+M/Ttt+j1nkPl2i45TWX9mmwXpkz6nN1+\nbUwYq3yWrH4m8V9sTMRMx3HeKtp+pp6aN63XR7fp/J+nx6jV5qYMd9XtOv02GtrWisTfLkwVpjr3\nPze9orWO5mYiJkEoBxNp3bQ79tWj3PbNZp9x23W4aanS6zSZa5cOfFesWpkpeszFq2rMTFomYmJi\nYcsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGNfUj5l0np+8Hcx59qq48t\ntn0NsmlwZYmaZ9VeYx6fHbr59tst8dZmPxEzP7Ap9+rV56jyx6lL8V2/VRn2Hg2G22UilotS2uvM\nW1do+O4mJjHhmJ/E6eevyhLhw31GWmLFS2TJe0VrSkdzaZ+IiI/eXJ3fdtbv+663c9x1WXW7hrc9\n9TqdTntNsmbLe02ve0z+ZmZmZn+1K76X3gafNfql2TXa3TTm49xCI37W2tE+22XHaI0uPvqY7nNN\nL+2f61MWQFxnpD8G09Ovp34bwm+KlN00ukjUbrentn363LP3M/6q/wBaK2tNK2/0aV/kzGAAAAAA\nAAAAACn761PmnHv/AJH4d4y2/VTfDx7SX3Tc6YdT7qTqtR1GHHkxxH6b48VPfEzMz7dX8dfva/5F\n57tHi3gfIOX7/nnT7Nsmhy6/VXr175pjrNprSJmIm9uvbWvfzaYj92tL5Z8l7v5k8mcm5vv2T37r\nvuuy63LSL3vTDFrfoxUm0zMY8dfbSsTM9VpWP2B5SlLZL1pSs2taeorEdzMtmP07eLaeFPBfBeDx\nh0+HUbLtGn02r/hJmcWTVeyLanJWZ+Z9+a2S/wDzvxClH6YXgTN5s9U2w6/UYMk8e4davINdmiLV\nrOXFaP4XFForNfdbN7Ley0x7seLL1PwvyAAAAAAAAAAAAAAAAAAAAAYY9XXqP230t+EN65pq4xan\nc460ez6DJM9avW3ift0nr/NrEWvb5j9NLdfPTM0zFYmZmIiPmZlQN9Rn1ZX9T3m7Pg2fVfd4Jxi2\nXQbLFP6upnuIzav+37lqV9v+pSnxEzbsIx8l5HufMORbnvu86zJuG77nqcms1mrzT3fNmyWm17z/\nAGzaZlZ39Hr0mRqM+p85cm0MzjxTk0PGMWasxE2+aajVxHXz184qT3Md/e7jutZQT9Jvp23T1Qeb\nti4TofuYdvyX/it212PrvSaGlo+7kiZiY909xSvcdTe9e/jtsY8T4rtPBuM7Xx7YtDi2zZts01NJ\npNJgjqmLFSIitY/uj8z8z+ZB2wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACHPrt+obsPpV0du\nM8dx6bkfkvU4ovXQXvM6fbKWjumXU+2e+5iYmuKJi0x+qZrE1m3XfUK+oJofTFsmXh3Dc2n3Hylu\nGDuvcRkxbLitHxnzVnuLZZie8eKfj8XvHt9tclHe9b1uHJN41u7btrtRue6a7NfU6rW6vLOXNny3\nmbXve9pmbWmZmZmfmZkHZ8/5/wAi8p8y3blfLN21G+ch3XNOfV67UzHuyW6iIiIiIita1iK1pWIr\nWta1rERERHn3e8F4JyDyby7bOL8V2jVb7v8AuWX7Ok0Gjp7smS3U2mf5RWtYta1p6rWtbWmYiJlZ\nL4x+iPuW47RsG4888k12fW5bUy7psOz7XGe2LH7+7Ycertmiv3Jp1E3+zatbzPUZK1ibBn36N3Kt\n05D6R9Zodw1X8Rpdj5NrNu27H9utfsae2HT6madxETb+l1Oa3du5/X131ERE6XjvEHijj3g7xtsP\nBuK6fJpti2bBOHT1zZPuZLza1r5Ml7fva973vPURHdp6iI6iPYgAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAKn/AK1PnqNVuHEfEG26mtqaaP8AD+8VpNZ6yWi2PS45mJ7rMVnN\neazHzGTFb+S07knItu4hx3dd93fVU0W07Xpcut1mpyd+3Dhx0m+S89ftFazP9zWl87+Wtx86+YuW\n893P301O+a/JqaYcl/fOnw/1cOH3dR3GPFXHjievxSAeDXpfSc8DT4k9Mun5LuGl+xv3OM0btkm9\nPbeuirE10lJ+fms1m+aJ/lqOv2U9emjwzqvUF524bwHTe+mPd9dWurzY7VrbDpKROTU5Kzb491cV\nMkxE/mYiPzLZS2zbNJsu26Tb9BpsWj0OkxUwafTYKRTHix1iK1pWsfEREREREfyByQAAAAAAAAAA\nee8hc82fxfwXfuXcg1H8Lsuy6LLrtVkjr3eylZtNaxMx7rT17a1/M2mIj5kFcn1m/UhG18d2Lwvs\n2q/3zuc03jfvt2/q6el5/hsFv2/XkrOWY+Jj7OKfxdUm9t5s8tbx518r8n55v1o/wlvmstqbYqz3\nXBjiIriw1n9648daUiZ+eqR38s0/Ts9NE+pT1F7Tpdy0n8Rw/j3t3je/uY/diy46Wj7Wmnus1n7u\nTqs1mYmcdcsx81Bap9M702/7nz037dqt00f8Py7lvs3ndPuY/blw47V/3tprd1raPt45900t81yZ\nc0fhLUAAAAAAAAAAAAAAAAAAAAeL8y+WNi8G+MORc55Hm+1tOzaW2ovWsxF81/6uPDTv/Pvea0r+\n3do76gEN/qzerKPEni6njHjut+3y3l2C0a2+Kf16PbJma3nvv4tmmJxx+f0xl/E+2VKdaza0VrEz\nMz1ER+72/mzy9vvnjylyLnfI8sX3TeNTOacdZ/RgxxEVxYaf6tKRWkfvMV7nuZmUv/pP+kqPMXlK\n/knkminJxDiGel9JjydxXWbnHVsdfx+qmKOslo7j9U4o6mJtAJ+/Tg9Jc+mLwpTVb5pIxc85P9vX\nbt74/XpMcR/Q6T/mRa02/wBe947mK1S1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEb6gXrm0\nPpN4dh2jY50+4+SN6w2tt+jyTFq6HD81/i81f3r7omKVnr32rb9qWZF9YPqr496TPE+q5HuWTDq+\nQ6yL6fYdltb9eu1XX5mInuMVO4tkv8REdRE+69Itr2eQvIPIfK3Nd45byvdM+88g3bPOo1es1E92\nvbqIisRHxWlaxWtaViK1rWtaxEREA6/kfI905fv24b3vev1G6bvuGe+p1et1WSb5c2S092ta0/mZ\nmXb+MvGPJvMXN9r4jxDac2879uOT7eDTYY/Efm172n4pSsdza1piIiJmZfnxt425H5d5vtPEeJbX\nm3jf90zRh02lwx+Z67ta0z8VpWsTa1p6itYmZmIhft6L/Rfxn0i8EjTaeMW7c03HHWd536afOS3x\nP2cPcd1w1n8R+bTHut89RUOv9EPoc416QuH2zWnBvnkLdMMU3ff4p8Vr3Fv4XTdx3TBFoiZn4tkt\nWLW6itKY5OAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACA/1gvPf+TrwF\nouA7dqft71zbUfbzxSZi1NvwTW+ae4n4995w06n4tWcsftKk9I36gXn6vqJ9T/J970WprquO7VaN\nk2a9JraltLgtaJyVtWI91cmW2bLEz3Pty1jvqIYB49sG4cr3/bdk2jSZNfuu5anFo9HpMMd3zZsl\n4pSlY/nNrREf7QWofRU8ETpdv5h5e3HDat9TP+L+0e7uO8dZpl1WTqY6mJtGClbRPxOPLErSXgPA\nfiPb/A/hriPAdsml9Psegpp8makTWM+ee7583UzPX3Mtsl+u/j39Q9+AAAAAAAAAAAq2+sv6mq6b\nb9n8JbFrInLqft7tyOcV4n244nvS6a3VvzNo+9atoiY9untE9WlYv5i8p7N4S8X8l51yDJ7Nq2PR\n31WSkWits1vxjxUmfj35LzSle/8AOvDWy8p+Sd78w+ReQ815Fn/iN53vWZNZqJi1ppT3T+nHT3TM\nxSlYrSte56rWsfsDyy//AOnD6Y59Nnp426u66L+F5pyb2btvX3cfty4JtX+g0tu61tH2sc/qpbv2\n5L5up6lV/wDTF9MceoT1B6bdd30lNTw3h04t03KmWItTUZ+5/hdPNZ790WvS17RMTWaYb1nr3Qvp\nAAAAAAAAAAAAAAAAAAAAAUs/Vp9Wn+VXyVTxZxzWTfivE9Rb/CN8c/p1m5x3W0d9/NcMTNI/H67Z\nfzEVlP76iPqxr6XfCGedo1VMfO+R+/QbJT4m2D4j72q6n9sVbR1+f13x9xMdqAMmS2XJa97Te9pm\n1rWnuZmfzMyD1/iDxVv3m7yXx/g/GdPGo3nedTGDF7v6mKvU2yZbzH4pSlbXtP8AKs/lsfeD/D2w\n+A/FnHuC8cxezbdo08YvvWjq+pyz+rLmv/rXvNrT+0d9R1ERCGn0l/SR/kr8c28q8k0U4+V8q08V\n27Fmjq2j2yZi1Z6mPi2aYi/7/ojH113aFgoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADy/k/yT\nsHh/x/vvM+Ua2u37Fs2mtqdTmmY7mPiK0pEzHuve01pWv5ta1Yj5l6a9646Wta0VrWO5tM9REKKv\nqVeti3qX8hRxPi+pt/k441qLRpslL/p3XVxE1tq5iPj2RE2ri/M+2bW7j7ntqGDfVR6leReqny5u\nPM99j+D0v/e217VS82x6DSVmZpiif863zNr36j3WtaYisdVjGHHePbly3f8Abtk2bRZty3bcdRj0\nuk0enr7smbLe0VpSsfvMzMQ69dJ9L30K28L8dw+UuebVXHz3d9P/ANy9Dqqd5dm0l6/MzWf6mfLW\nf1f51KT7J9s2y1BmH0JeiPY/SRwKuo1dMO5+R94wV/w1vHXujDHxaNJp5/zcNZiO5/OS1fdb4jHT\nHKMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEafqHeoC/p59L/Jd00Gp\nvpeSb3EbFs+TFa9b48+etvdlrasxNLY8VcuStvxF6Uj90i923bQ7DtWs3Pc9Zp9u23RYb6nVazV5\na4sODFSs2vkve0xFa1rEzNpmIiImZa2vqP8AUXyz1L+TN35VyXctdk0mbV5sm17PqNVObBtOmtMe\nzT4Yitax7aVx1tetKzkmvvt3aZkGLE7PpC+Bq+TfURqea7jp65tl4Npo1dIvFbVvr83uppomsx/m\n1rmyxaPmt8WP+aCbYP8Ap1eBMnp/9LXGdt1+C+n5Bvve/wC648kXrbHmz1r7MVq3iJpbHhrhpavX\nxet/5gkyAAAAAAAAAADFvqb887V6a/CnJOebpGPNfQYft6DRXv7Z1msv+nDhj9+pt1Npjua0re3U\n+0Fb31kfU7/h3k21+Fdi1UzotnnHufIL47TEZNVanen08/Edxjx3+5PUzWZzU/Fsas/S6XNrtVh0\n2mw5NRqM14x4sOKs2ve0z1FaxHzMzM9REOfynk+5815Nu3IN71d9fvG66rLrdZqskRFs2bJeb3tM\nR1Ed2mZ6j4Tn+kd6Xp8qeXsvk3e9JGTjHC8tbaOMtJ9up3SY92LruvU/Zr1ln5ia3nBPzEyCzD0P\nem3F6XvT5sXFs+Osck1f/dPfctbe73a3LWvupExa0TGOtaYoms9W+37uom0s+gAAAAAAAAAAAAAA\nAAAAA6vlHJts4ZxvdN/3rWY9u2jbNNk1mr1eaeqYcVKza9p/2REu0VS/WC9W/wB7Lh8G8Y1k+zHO\nPW8nzYbfFrfF8Gk7/fr9OW8fz+1HfxaAQY9XfqP3P1Seb965prIyafa+/wCD2fQZJ/700VJn7dZ+\nZ/Vbu17fPXuvbr46iMh/Tt9Jd/VF5qxW3fTWtwTjc49dvV5iYrqJ7/otJE/zyTWe/wAdUpf5ifb3\nGji/GN05ryTa9g2TRZNx3jc9Tj0ej0mGP15st7RWlY/b5mY/Pw2L/SP6cds9LfhHZeFaK2LU7lXv\nV7vuGOvX8ZrbxH3L/wDmxEVpXv59mOvfz2DMmPHTDjrjx1rSlYita1jqIiPxEQ/QAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAjV67/V9oPSV4jvr9NGPWc23r36TYNBk6mv3IiPfqMkfvjxRaszEf1r\nWpX4i02qEYfqyetqOLbTq/CHC9beu87hhj/GbcNPk9v8Npr17jR1mPn35azE5PxEY5iv6vuW9tRT\nm73vWv5LvOv3fddZn3HdNfnyarV6zU3m+XPlvabXve0/M2taZmZn8zKQfoX9IO5erfyzTbs05dDw\nrZ5x6rf9yxx+quKZn2afHP4+7l9toiZ/qxF7dW9vtsEiPpWeh2vk3fdL5i5vorzxTaNT3sWgzU6p\nuWsx26nPbv8ArYcVo6iI+LZK9TPWO9bXIOv4/sG3cV2Lb9l2fRYdt2nb9PTS6TR6ekUx4MVKxWlK\nxH4iIiIh2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIvfUs8qV8Vej\nnneXFq8Gm3PkGGnHdHjz45vGedVPsz0r1+Lfwsam0TPURNP3nqJ1+Gwv9QL03bh6n/ThunGthrGX\nlO26rFvOzYMmeuHHn1OKL0tita0dfrxZc1a9zWvvmk2tWsTKg7cvF/Mtm5rTh2u4nvej5bfJTFTY\ns23Zq6697xE0rXBNffM2iYmOo+YmOu+wZg9BHgKPUX6neK8e1mmrqePbfed63qt6VvS2jwWrM471\nm1ZmuXJbFhnruYjN7upistiJCj6XfpE3X03eLN13/mOgvt3OOVZKXz6HLNLX0Gjxe77OKfb37b3m\n98l4934nHWYi1JTXAAAAAAAAAAAUmfVs9UNvLHmOnjbZNZa/FuFZb4tXGO0xTU7p81zWmO+p+zHe\nKO47i33+pmLQss9dnqZw+l30/wC8cg0ueleVbl3tmwYbdWmdXes/03tmJia4qxbJPce2ZrWszHvh\nrxajUZdXqMufPlvmz5bTfJkyWm1r2me5mZn8zM/uDs+H8T3XnvK9n43sWktr963fV4tDotLW0VnL\nmyXilK9zMRHczHzMxEfmZiGyH6a/Be0+nDwtxrgW1fbyzt2nidbrKU9s6zV3/VnzT+/6rzPUTM+2\nsVr31WFdf0bfS/Ot3Hc/N+/aT+h0k5dq45XLSY92WY9up1Ve4juK1mcNZiZiZtmiYiawtiAAAAAA\nAAAAAAAAAAAAAB88+fHpcGTNmyUxYcdZvfJe0VrWsR3MzM/iIgGEvWP6ltu9LHg/d+W55xZ97zRO\ni2TQ5Pn+J1t6z7O47julIib2+Y/TWYie5hrsch5BuPLN+3He941mXcN13HUZNXq9Xmnu+bLe02ve\n39szMykf9Qb1X5PVP5v1Gp2zPeeD7BF9BsWGYmv3K9x93UzE/wCdltWJj8dUrjiY7ie/I+jj0z7l\n6qPN208TwRlwbHhmNbvevxx/3to6Wj39TP8An3mYpX8/Nu+uqyCdX0ffSROmw5vOfJ9HH3MsZdFx\njBmr81r/AFM+sj+Xf6sVJ/l92euprK011/H9g27imxbfsuz6PDt21bfp8el0mk09fbjw4qVitKVj\n9oiIiHYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/kzFYmZmIiPmZkHkvLHlLj3hXx3vvNeU6v+\nD2PZ9POfPevU3vPfVMeOJmIte9prSsdx3a0R3DXY9THqF5D6nfLu7855BM4J1Exg0G3VyTfHt+kr\nM/awUmeu+u5m0xEe69r26j3dJDfU09aceo7yHXh3FNb93xzxrPb7ObDeZpumsiJrfU/ymlYm1Mf5\n+Jvbv+k6rCjFivnyUx46WyZLzFa0rHc2mfxEQD13iHxRyLzf5H2LhHFdLGr3vd9RGHDF5mMeKvU2\nvlyTETMUpWLWtPU9RWeomfhsT+mv0+cd9MfiTaeC8cj72PTd59buF8cUya/V2iPuZ7xHfUz7axEd\nz7a1pXufb2wP9Nz0V19MPji3IuTaTH/lJ5JhrbXd1i1tt03cWpo62/n3Fb5OvibxWv6ox1tMyQAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQs+qX6o/8\ng/gnLxbZtT9vmHNseXb9PNJ/VpdF1EanP+J6ma3jHX8T3km1Z7xyCtX6jvqjn1Lef9ZG06ydRwnj\nHv2zZYpbvHm6mPv6qOpmJ+7esdWjrvHjxdxExLCPgfw5vPn/AMt8a4FsMe3XbzqoxW1E17rpsMRN\ns2e0dx3GPHW9+u+59vUfMw8Eua+kJ6W/8nXjPVeWd+0ns5Dy3F9na65azF9NtkW793UxHU571i/7\nxNMeKYn9UwCdXjjx9sningmxcP43pI0Ox7NpKaPS4Y679tY/rWmIj3XtPdrW/NrWmZ+ZekAAAAAA\nAAAAAAAAAAAAABXX9XH1bx474JTxBxrWe3knJcH3d4y4p+dJtszMfa7j8XzTHX7/ANHW/cfrrKaH\nqB83bF6dvEnIOechv3pNsw94dLW3WTV6i36cWCn+te0xHfXxHdp+Ky1xPKXkvffMXkLfuacl1X8X\nve86q2q1F479te/iuOkTM9UpWK1rHfxWsR+wPN6TS5tfqsOm02G+o1Ga8Y8WHFWbXvaZ6isRHzMz\nM9dNgf6f3pRw+ljwhpdHuGnx/wCO2/RTX79niIm1Mnt/o9NFo/NcVbTH5mJvbJMfFkDvpGekb/H3\nmmTzFyfQ+7j/AB7NOLY8OfHE01eviPnNHf5rhiY6nr/hLVmJ7xzC40AAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAABXL9V/1qf5OeM5vDfDtbWOT73p+9+1eG/wCrb9FePjBHX4yZqz89/Ncc/j+kraJR\nes31TbT6TvDeu5NnnBq+R6z3aPYdryzM/wAVqpr3FrViYn7WOP13nuPiIr3Fr1715OWcr3fnXJt0\n5Dv2vy7pvW56i+r1mszz3fLlvPdrT+0fM/iPiPxHwDqlmn0mfRP/AIz7rpfOHM9HE7Tt+ef8WNBn\nx9/xOppPVtZPfx7cVomMf5mckTb9P26+6L3oQ9Imu9Wfl7FoNTXLpuE7LNNXv+vpExP2pmfZp8do\n/GTLNbRE/wCbWt7fPtis7A+x7Jt/Gtl0G0bTo8O3bXoMFNLpdJpqRTHgxUrFaUrWPiKxERER/YDn\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4G/b7t\n/F9j3Hed21eLQbVt2myazV6vPb248GHHWb3vaf2itYmZ/wBjXL9XXqI1/qf87cg5tqZy4tsvf+D2\nfR5fzpdBjmYw067nq092yXiJ69+S8x8SsY+sR6pZ4txLQ+F9g1Xt3PfcdNfv2TFb5w6Kt/6LB+Pi\nct6TafmJimOImJrkVBfkGevRL6atT6o/PmycWvTJXjmlmNx33UUnr7eix2j30ie/i2SZrjrMfMTf\n3dTFZbE+g0Gm2rQ6fRaLT4tHo9NjrhwafBSKY8VKx1Wlax8VrEREREfERCK303PS3Ppr8BaXNvGj\n/h+bcp9m57x9yvWTT19v+99LPcRMfbpaZtWfxkyZY7mOksAAAAAAAAAAAAAAAAAAAAQr+p96uY9P\nniC/E+Pa2MXPOW4b6bT2xWmMmh0UxNc2piY+a2/zKT3E+6ZtH/BzAID/AFR/VzHn3y1HDOO6373B\nuI5r4aXxWn2a7Xf1c2f+2tPnHSfn499onq6Nvp08Fb56j/L+wcE2GtqZdwze7Va2MfvpotLX5y57\n/j4rX8RMx7rTWsT3aGNV6v0wvSLHp68QxyrkWg+xz7leKmfUxmpMZdDo/i2HTTE/NbT/AMJePifd\nNaz/AMHAJW+NPHex+JeBbFw7jWjrodj2bS10umw1/PUfm1p/e1rTNrW/M2tMz+XpgAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAdLzTmey+O+JbtybkW4Ytr2PatNfV6zWZu/bjx1juZ6j5mf2isRMzMx\nERMzEO6U2/Vd9ak+SeUZ/DvD9daeK7HqYnfNXgv1XcNdSf8Agfj+tiw2/MT8WyR31/R0tIRc9Ynq\nl3v1YeX9byfWzm0ewabvS7HtF7d10elifzMR8fcvMe+9vnuZiO/bWsRjbxZ4x5D5l8g7Hwvi2itr\n993fURp9Pijv21+Jm2S8xE+2lKxa9rftWsz+zysR3PUfleR9Mj0VR6ePH0c45XorY/InJdNWb6fU\nY/bfadHMxaun6n5jJfqt8nfUxMVp1HsmbBIr0yenjYPTD4g2fg+w9Z7YI+/uG4zjil9frLRH3c9o\n+eu+orWJmfbStK9z7e2VgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAeL8zeV9k8HeLuSc65Dkmm1bLpLai9Kz1fNf4rjw0/18l7UpXv47tHfw9opz+sF\n6po5vz3ReHuPa2uXY+N5I1W9XwXia59xms+3FMx+Yw0tPcd/18l4tHeOAQQ8teT9880eSeRc35Jq\nP4jed71d9Vm6taaY4n4pip7pmYpSkVpWJmeq0rH7JVfSy9K0eePN9eW79ovv8L4ZfHrM1ctO8es1\n0z3p8H5juKzE5bfFo6x1raOskIc8a45uXMORbXsWzaTJuG77nqsWj0ekxR+vNmyWilKR/bNpiP72\nxz6UfT3tvpi8H7BwbQziz63BSdTuuuxV6jWa7JETmy/iJmPiKV7juKUpE/gGXgAAAAAAAAAAAAAA\nAAAAAeY8m+Rti8RcB33mPJtZXQbHs2mtqtTmt+eo+K0rH73taa1rX8za0RHzLXF9Q3nTfvUb5b33\nnfILTTUbhl602ji83x6LTV+MWCnf7Vr+/Ud2m1uu7Smh9XH1c/5Qeb08P8Y13u49xzP9ze82nyxb\nHrNf1HWGevzGD5iY7/4S1omO8cSgp4o8X7/5o8i7DwnjGmjVb3vOprpsFbdxSkfM3yXmInqlKxa9\np6nqtZkEtPpaekWnnvyvbm3JNFTUcH4hnx5bYM9bezcNdMTbFi/lauPqMl4mf/F1mJi8ryGPvAfh\nXYfT14m4/wAD47j/AN47Xg9uTUWjrJqs9p92XPf/AFr3mZ6/ER1WOoiIZBAAAAAAAAAAAAAAAAAA\nAAAHjObeavHnjTccG38v55xniuvz4vv4tLve8afR5cmPua++tcl6zNe62juPjuJ/k9HsPINr5Vs2\nk3fZdy0m8bVrMcZdNrtBnrnwZ6T+LUyUma2j+2JB2AAAAAAAAAAAMa+onzxx702+Jd853yPJW2n0\nOP2aXRRk9mTXaq0T9rT4/if1WmPmep9tYtaY6rII5/Uz9Z8enDxvHEeMayK+Q+T6e9MGTHfq+2aO\ne6X1XxPdbzPdcU/6UXt3/R9TRbMzaZmZ7mfzMvZeYfLXI/Ofkfe+b8r1cazet1zfcyTSPbjxUiIr\nTFjr+1KVitYj89R8zM9zOQPR16Xd49V3mTb+L6SM2l2DTTXV77umPqP4TSRb9XtmYmPu3/qUjqfm\ne5j21tMBKH6Ufoqp5R5PTy9zPQWvxTYtT7dk0eevVNx11J7nLMT/AFsWGev26tk6juYx3rNyrp+H\ncQ2bgHFtq43x7b8O17JtenppdJo8EdUxY6x1Efzmf3mZ+ZmZmZmZdwAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADBnrO9Sej9LXgje+XWtiy79mj+A2\nPR5fmM+tyRPsmY/elIi2S0fHdaTHcTaGupu27a3ft11m57lq82v3HW5r6nU6rUXm+XNlvabXve0/\nNrTMzMzP5mUrfqV+qWPUh571Oi2bV/f4TxT7m27VOO3ePU5O4/iNVHUzE++9YrWY+Jx48c9RMywR\n4D8L716g/LnHOB7DX26zdtTFMmpmvuppcFf1Zc9o7j4pSLW67+eoiPmYBP76OXpandd61/m7kGln\n+E2+cm28cx5azHvzzX26jUx+O4pW04qz8xNr5fxOOFtTzvjrgGyeK+C7FxDjmkjRbJs2kx6PS4fi\nZ9lY691p/wA61p7ta35m0zM/MvRAAAAAAAAAAAAAAAAAAAIv/UH9V+P0s+EdRqNs1Nac43/36DYs\nXti04r9R93UzE/HtxVtEx8T3e2OJjqZ6kZynk+18K43um/73rcW3bPtmmyavV6vNPVMWKlZta0/7\nIiWut6wPUnunql827xzDV+/BtNJ/gtm0NpnrTaKlp+3Ex/p27m9v9a8/tEQDDGp1OXWajLqM+W+b\nPlvN8mXJabWvaZ7mZmfzMz+6576TPpFnxX49t5V5PoZxcr5Rp4jbcOase7R7bPVq2/stmmIvP+pG\nP8d2hAr6dHpLt6oPNmHLvOmm/BONTj1+82vWfZqp939Fo+4/fJMTNvx+il/mJ9vd/GHDj0+KmLFS\nuPFSsVrSkdRWI+IiI/aAfsHE3bdtDsO16zc9z1mn27bdFhvqdVrNXlriw4MVKza+S97TEVrWsTM2\nmYiIiZkHLEFeU/WS8Ccf37VbfoNHzDk2kw+32bptW14aafP3WLT7I1GfFlj2zM1n3Y6/NZ67jqZy\nd6afqIeJPVJyvNxfjmfddh5JGO2bTbZyLT4tPl11Kx7rzgnHlyUvNY7tNPdF/bFrRWa1tNQk4AAA\nAAAAAAAAAAADqOW8v2TgXG9fyDke66TZNk0GP7uq1+uyxixYq9xETNp/nMxER+ZmYiO5mAdply0w\nYr5Ml648dIm1r3nqKxH5mZ/aFS/ry+qlue4bxq+B+DN5nQbTp4y6fdOYaWKzl1l5rNLY9Fee/t46\nxMz/ABFer2tETjmlaRfLiz18/Uk3j1B7jruE+PNVqtj8Y4pnDm1Ee7Dqt9n8Wvlj800/7VxT82j9\nWT5mMeOCoPtrdbqNy1mfV6vPl1Wr1GS2XNnz3m+TJe092ta0/MzMzMzM/ntmX0o+q/mHpK8jY+Rc\ncyTrto1Xsxbzx/Plmum3LBEz8TPU+zLXu048sRM0mZ+LUtel8a08e8jv4/z84jaNTXiWHc8ez23a\n9YrhtrL4smWuGkzPd7RTFe1vbE+2Jp7uvfT3eeBtI8P5XtnPOJbJyXZc86rZ950ODcdFntS1JyYM\n2OuTHaa2iJr3W0T1MRMfu7dCv6Q/O/8AG70bbbtc6L+F/wAV951+0fe+97/4n3XrrPude2PZ1/Ge\nz292/wCD77/V1E1AAAAAAAAAfHW63T7bo8+r1efFpdLgx2y5s+a8UpjpWO7WtafiIiImZmfwoM+o\nh6xMvqo8tTptk1GSvj3jtr6bZ8M19n8VefjLq7x+e7zERWJ/FK1+K2tfuXf1bfWh/gXb8vg/hu4d\na7WYovyjWaa/U4cNuppootE9+68fqyR/oTWvzF7RFSoO44dxDeOf8q2njfH9Bl3Pe911NNJo9Hh6\n92XLeeqx3PURHc/MzMREdzMxENhn0Z+lzavSh4Y2/i+n+zquQ6uY1m+7njif99au0fMVmfn7eOOq\nUj4jqJt1Fr27i19J70Wx484zg8y8w0MV5PvWnmNh0uen6tBorx1OfqY/TkzV76mPxit+f6S0RY4A\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhX9Uj1\nUf5BfB9+LbHrfsc05lTJotPbFeIyaTR9dajP/OszFvt1n4nu82ie6SmFyXke28P47um/bzq6bftG\n2aXLrdZq8vftw4cdJve89fPUViZ+P5Ncf1W+oXdPU75u37nGv+7h0ea/8NtehyW7/g9FSZ+1i/l3\n8ze3XxN73n9wYhXTfSQ9Kk+K/F2XylyDSfb5NzDBWNvpkrMX0u2e6LU/MR857RXJ+8eyuGYmJm0K\n5/QX6Xs3ql89bbs2sw3niO09blv2evcR/D1tHtwRPcdWy26p8T3FZvaO/ZLYV0ulw6HTYdNpsOPT\n6fDSMePFirFaUrEdRWsR8RER8REA+oAAAAAAAAAAAAAAAAAAME+s71Nbf6VvCG68qyTjzb9qe9Ds\neivHujPrLVn2zaPj9FIib2+Y+K9fmYBBv6v3q7tlzY/B3FtbMY6Tj1fJtRp8n9af62HRz1+0fpy3\nj+f24/a0KyeHcR3bn3K9n41sOjvuG9btq8ei0emp1E5MuS0VrHc/ER3PzM/ER8z8ONyDf9x5Xv24\n71u+rya/ddx1OTV6vVZp7vmzZLTa97f2zaZn+9a79IP0iTse15PN/KdFam4a7HfScb02oxRE4tPP\nUZNZHfzE5P1Y6T8foi8/MZIBNv0n+nXafS94S2ThG2zXPrKR/Gbtro/+2a+9a/ey/iP0/prSsfmK\nUpE9zEzOYQARq+pD/hz/AHEvlL/F7/CH8f8AwWn+7/gz3/d/hf4vB/F+72fP2v4f733O/wBP2/f7\nv09pKuLum16LfNs1m27lo8G4bdrMN9PqdJqsVcuHPivWa3pelomLVtEzExMdTEzEg1YXK2ndtdsG\n66Lc9s1mo27ctFmpqdLrNJltizYMtLRamSl6zE1tW0RMWiYmJiJhOD6pfpE8eel/f+Dbh4+02v2z\nS8o/j/4jatRq51Gm0v8ADV0kV+zN4nLHunNktb35L/M/p9sR0gqDZr8B+R7eXvCPBOa5smhvq992\nTSa/V1223uwYtTfFWc+KndrTHsy++ntmZms1mJnuJe9RV+lx/wARPxl/0n/8T1aVQAAAAAAAAAAA\nIcetP6kfDvTDi1XGuPRpuZeSLYbe3b8WX3aTbL/1azrL1nuLd9z9isxeYr+qccXpaQzr6g/UtwD0\nxcP/AMYOdbxGirmi8aHbdPEZNbuGSkRM0wYu490/NYm0zWlffX3WrExKjH1det/nnq63vFXer12P\niGhz2zbbxnRZJtgw2nuIy5r9RObNFZmvvmIiO7eytIvaJxR5Y8wcx85cy1HKecb9quQb3mrGP7+p\nmIrixxMzGLFSsRXHSJtaYpSIju1p67mZny23bdq943DS6DQaXNrddqstcGn02mxzky5slpitaUrH\nc2tMzEREfMzIOOnH6CPpvb16itx03MufabWcf8ZYJrlw0tE4tTvlvzFMPfzTB182zfv37cfcza+L\nPnoa+lDh0ePaefecNFGXWRkjU6Lg+WItipEfNLa/8xeZn9X8PHxERWMk2918VbR6UrjpWtaxWtY6\nisR1EQCHP1GuB8d4J9O/mvH+P7Notp2bZ6bZTQaPTYYrTTf90tNEzX+Vpi9+7fmffaZmZtPdD6+v\n6rvItFsnoj5lo9VeaZ941e3aHSREd+7LXWYs8xP8v6PBkn+5QoC6n6Kn/FY5T/6Z6r/3HQp/oAfR\nU/4rHKf/AEz1X/uOhT/AAAAAAARz9c3q02/0meHdRu+KcOq5ju3v0ewbfkmJ9+f2/qz3r33OLFEx\na3X5maV7j39xmzyBz3Y/F/Ct55ZyXX49s2LaNNbVarU5J+K1j9oj97TPVa1j5taYiPmYa73q19S+\n9+qjzHunL9ynJptrradNs212t3XQ6Os/op13Me+39e8x+bWnrqIrEBibft93HlG97hvO763PuW67\nhqL6rV6zU3m+XPlvabXva0/MzMzMzP8AamL9M/0X29SPkn/G3k2ki/jvjGppbU4s1O67nq4j300s\ndxNbUj9Nssf6Nq16/pO4jp6efBHIvUh5X2XgvGsUxqtbf36nWWpNsWh01Zj7ufJ1/m1ifx3HutNa\nx82hsW+HfEfHPBfjfZOE8U0n8Js21YIxUm/U5c9/zfNlmIiLZL27taeo+Z+IiOogPZREViIiIiI+\nIiH9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHD3j\nd9Dx/adbum56vBt+26HBfU6rV6nJGPFgxUrNr3vafita1iZmZ+IiAR+9cnrA270geKqbvTSYd35f\nvF76TYtrz39uO+WtYm+fN1MWnDii1ZtFfm03pTunv99aT9x9bPnvdOT337N5e5fTXXz11M4tNuuX\nBpItExMRGlpMYYp8fNIp7Z+e4+Zff1mepXW+qfzvvPL7/cw7Fh/7n7Ho8tK0tp9BjtacfuiO/wBd\n5tfJbubdWyTWJ9ta9YNBNf1C/Ur5T6gPSrsHjvcsNdLynPq7U5NuempGPHuOmw/btp7RSI6pbJeZ\ntkrXqItgiaxFcnsrCvT6fLq8+PBgx3zZstopTHjrNrXtM9RERH5mZ/Z+E/8A6SPpU/yq+UsvlLf9\nJGTi/DtRWNDTJHddVunUWp+3zGCs1yT8xMXth/Me6AWK+gT0tYvS14H0G2a7BSOY717Ny37L1E2r\nmtX9GniY77rirPt/MxNpyWj+skoAAAAAAAAAAAAAAAAAAAOPuO4aXaNv1Ou12oxaPRaXFbPn1Ge8\nUx4sdYmbXtafiIiImZmfxENfH17eqrU+qnzhrNz0mS9OH7L79u2LT9z1bDF592oms/i+WerT8dxW\nKVnv29pyfV99W+bi2x6bwrxbcftbju2GNTyTJhiPdj0k9Ti03u/ackxNrRHU+ytY/q5Jialdm2fX\n8i3fQ7Vtejz7jueuz49LpdHpcc5MufLe0VpjpWPm1rWmIiI+ZmYBnr0NelrWeqzzjt+w5ceTHxTb\nPbuG/wCrr3X26Wt4j7NbR+MmWf0V+e4j32+fZLYX2nadHsO1aLbNu0uLRbfosNNNptNgrFceHFSs\nVpSsR8REREREfyhgj0P+lzRelTwdt3Hr1x5eUbj7dw3/AFdYrM21dqRE4q2j848UR7K/PU9Wt1E3\nmEggAAAAVV/XO/8AAn/03/8AQKq1qn1zv/An/wBN/wD0CqsF/wB9Lj/iJ+Mv+k//AIpq0qkVfpcf\n8RPxl/0n/wDFNWlUAPze9cdLWtaK1rHc2meoiFUXru+qtq8u47r4+8H7lTFocdL6Tcebaae8mW8/\nF6aC3+bWI7j+Ij5mZmcXtitMtwnL6iPW/wCIvTJXLpeW8krquQ1r7q8c2asarcJ+KTHupExXD3XJ\nW1ZzWxxaIn2zbrpBTyN9b7ds9NVp+BeMdHorV1M/w+4cj3C+ojJgjvr36bDXH7Lz+mfjNaI+Y/V+\nYrC1ms1G46zPq9XnyarVZ8lsuXPmvN75L2nu1rWn5mZmZmZn8viCxPjf1s/Kul3nT5eQcG4due1V\nn+m0u211ejz3jr8Vy3zZq1nv95x2Sk8FfWB8TeS9bptr5pt+u8Z7rnv7K59ZkjWbb3N61pWdTStb\nUmfdMzbJipjrFZ7upIAbTu07tod+2vR7ntms0+47brcNNTpdZpMtcuHPivWLUyUvWZi1bVmJi0TM\nTExMOW1p/DXqe8qen3LeeAc33Pj2myWvkvoKWrn0V72rWtsltNli+Kb9UrHvmnuiKx1KU22fWg86\naDbdJps+xcG3LNhxUx31mq23VVy57REROS8Y9VWkWtMdz7a1r3M9REfALsnjPKfmXg/hHjl9951y\nfbuM7bEW9l9dm6vnmsdzTDjju+W/Xz7MdbW/sUpeRfqz+obndYx6De9o4VprYLYMuHju2Uicvu77\nv9zUTmyUvET1E47V66iY+flE/lnMt/57vmbeeTb5uXIt4zVrXLuG7avJqtRkisRWsWyZJm0xERER\n3PxEAsD9XX1dOQeQcGs4v4cw6zh+xX92LNyXPMU3PVUmsR/QxWZjTR37/wBUTbJMeyYnFMTWa5b3\ntktNrTNrWnuZme5mX8S/9HX03ee+prU6DkG94s/DPHFskWybvqsfWp11IiLdaPFb+tFu6x9639HH\ndpj7k0mgMAeD/A/NfUTzvS8T4Ns2Tddyy/rzZp/RptHij+tmz5Z+MdI/nPzaeq1i1rVrN2vov+nn\nwr0qaHRb9rq4uU+S5w2jUb9lp/RaObxMXx6Ok/8AB19szSck/rvE3+a1v9uM6eEfBPCvTxwTScS4\nPs2Lattw/qzZZ/VqNZln+tmz5PzkvP8AOfiIiK1ita1rHvwAAQB+tTea+lfjERPUW5lpIn+3/eWu\nn/5KVV/P1M/T/wAg9Q3pi1W28Wpk1e+7BuWLf9PtmHD9zJuEYsWbFfDT5iYv7M9716i02nHFIju8\nTFCG7bTrtg3XWbZuei1G3blos19NqtHq8VsWbBlpaa3x3paImtq2iYmsxExMTEg9Z4S5tyrx15d4\nhyLhGLUanleg3PBfbtHpq5bW1mWbxWNNNMVq3yVyxacVsdZib1yWr/nNnJUj9OP6bXJJ5jsnljyr\ntur43o9k1savZuNa7Hk0+u1GpxW7x6jPT9NsOOmSItWlv1ZJp3asY+vu23AAAAAAhJ9Tf1nz6dfH\nEcO4rr/seReS4JjFlw26ybbopma31P4+L2mtqU/ExPutE906kIe/Vb9Z0+VOaZPEvENwtbiHHtRP\n+F9RgtMV3HcKT1NO/wDOx4Z7iP2nJ7p+YrSyvnR6PPuGrwaXS4Mmp1We9cWLDhpN75L2nqta1j5m\nZmYiIh8pnuVn30lPRZXe9bg848z0NbaHSZZrxbRZ69xlzVma31tqzHXVJj24/wDXi1viaUmQl19P\nH0cab0seJ8es3nTY7eROQ4qajeM8zFp0lPzj0dJ6+IpE936791/d8zWtOpYAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAri+sL6orcH4Ft/h7YNXbFvX\nJscazecmK1q2wbdW8xTF31/y2Slonq39TDetomMkJ9eRvIGy+KuB79y/kWqjR7Jsujya3VZe4901\npXv20iZj3XtPVa177ta1Yj5lrZeb/Lm8+d/LHJ+e79MRuO96u2onDWe64McRFcWGs9R3XHjrSkTP\nzMViZ+eweHfrLinFaItMTMxE/E99dx2+ulrWJtmvHdMfz1MT1a37R+P7/nr4if3fLJkvmyWyZLWv\ne0za1rT3MzP5mZB99r0UbluWk0k58WljUZqYpz55mMeP3WiPdbqJnqO+56iZ6j8Nlz0/eFtn9PXh\n7jPANktObSbRpvZk1VqzW2qz2mb5s0xMz178lr29vcxWJisfEQ1mmz74n5t/lL8WcN5f/DxpP8YN\nm0e7fw8T39r7+CmX2/3e/r+4HqwAAAAAAAAAAAAAAAAAGKvU76gdl9M3hrfec7xOPNl0uP7W36C1\n/bbXay0TGLDX9/mfm0x31St7dfDKkzFYmZmIiPmZlQl9SP1cW9THmXJtux6u2TgXF75NHtkVmPZq\n83fWbV/2xeaxFe/8ysT8Ta0AjHz7nW9eTeab1yvkWtvuG97vqr6vVai8/wBa9p76iP2rEdRER8RE\nREfELGvpE+jvDyXcrebuXbfTPt235rYOM6bPW3V9VSY+5rOvxMY57pTvv9fvnqJx1lCj0n+nPd/V\nF5q2XhW3Rlw6C1o1W76/F13otDS1Yy5fn4936orWJj5vesT8dtjDiHFNr4JxXaOObHpKaHZ9q0mL\nRaTTU/GPFjrFax/b8RHz+4O3AAAAABVX9c7/AMCf/Tf/ANAqrWqfXO/8Cf8A03/9AqrBf99Lj/iJ\n+Mv+k/8A4pq0qkVfpcf8RPxl/wBJ/wDxTVsXfVI9bt/CHD/8mnCN1tpvIG/YPdrtXpv+E2nQWiYm\na3/zM+X5rXru1Kxa/wCiZxWkI/8A1NvqGZ+Y6/dvDvjPcb4eOae19JyLfNNbq245Inq+kw2j8YKz\n3W9v+Vnusf0cTOWtISN9Eno23v1eeSJ0FcubaeGbVNMu+bzjrE2x0mZ9uHD3ExOa/UxHcTFYibTE\n9RWwdH6WvR7z/wBWPKo2/i+ijRbFp8nt3LkmuraNFoo67mvcfOTLMTHtx17mfdEz7a93i3nwT9Lf\nwd4c0mi1G7bFHkXkWKvebceTVjNp7Xtiil4po/8AgYx9+61YyVyXrNv+EmYiYk3488d8c8UcM2ri\nfEtp0+x8f2zDGHS6LTRPtrH5m0zPc2vaZm1r2mbWtM2tMzMy9GDCPLfRF4C5rsuTa9w8RcS0+myW\nrecm0bZj23PExPcdZ9NGPJEfziLdT+/avf1E/Ri5DsmTU7t4b5BTkegiJtHHt/y0wa6vxSIri1ER\nXFl7tOSf1xh9tYrHd5+VuwDWR8m+CfInhnVWw844VvnGI+/fTY9RuOhyY9PnyU/rRizdfbyx+/up\na0TExMTMS8K2qHmt/wDGXD+VbjGv3vimx7xr4iKxqtft2HPliI/Ee69Zn4BrE7Lsm48l3bR7VtG3\n6rddz1mWuDTaLRYbZs2fJaeq0pSsTa1pmYiIiO5Sd8P/AEyPP/l2+LNbiE8K2u83rOv5dedD7bV6\n+J0/ttqPnv4t9r2z/pL+dNpsOi02LT6fFTBp8VIx48WKsVrSsR1FYiPiIiPjqH1BCf03fSj8T+Et\nRg3flPfk/kuKZmmXeNNWm3YZ/VETTR92rafbaO5y2yfqrFqxSU2AAAAAAAAAAAAB88+fHpcGTNmy\nUxYcdZvfJe0VrWsR3MzM/iIgGPPUH52436cPFO8865Pm60ehp7NPpKWiMut1Fu/t4Mff5taY/wCb\nWLWn4rMtdDzD5Z5D5y8k77zflOpjU7zu+onNkincY8NfxTFjiZmYpSsVrWJmZ6rHczPcpB/UW9Yu\nT1SeWp0Ow6rL/k847a2n2rF/VrrMvfWTWWr+f1/inf4pWPis2vCNXj/gW+eUOa7LxPjWgyblvu76\nmml0mmxx/WvafzM/5tax3a1p+K1iZnqIkGbfQt6Tdf6sPMml2rNjy4eGbRbHrOQa/H3Htwdz7cFb\nfHWTLNZrH7xEXt1Ps6nYM2HYtv4tse37NtGjw7ftW36fHpNJpNPX248OGlYrSlY/aIrERH+xiv0o\nemvY/Sx4d2vhu0+3U6+etVu+5RE+7Xa21YjJk+fxWOorWv7VrXvue5nMYAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPE+a/LGz+C/FHJ+eb9M/4N2PR2\n1NsUW9ts+TuK4sNZ6nq2TJamOJn47vHfwCt/6yvqei07V4Q2HVz3Wce7cknFaY/b3aXS26t8/n71\nq2r/AP09on8qrXovI3P968q8837l/ItTOr3retZk1uqy/Pt997d+2sTM+2lY6rWv4rWsRHxDzsT1\n8g/eS0dVpH9Wv/bP7/8A8P7nL27Ytw3bR7pq9Fo82p0216eur1uXHXuunwzlx4Yvef2icmbFTv8A\nnesfu4K13x/6I8vjv6X3lTV7xgroOb8q2WnJdd/ERat9LpNFaus0+lmPnq00xWtaOon35vbb+pEw\nFUTYT+m9yjXcv9E3i3W7jn+/qcOi1G31tP7YtNq82nw1/ux4qR/c17F0n0V+Q4tf6aOU7RbVRl1e\n3cpzZP4f57xYcul000n/AGWvTN/1SCwQAAAAAAAAAAAAAAAAHhPOHmLYvAfizkPOuR5fbt206ecs\nYa2it9Tln4x4ad/517zWsfy77n4iQQ9+rB6uo8R+Nv8AJhxrW1py7lentGuvitP3NFttu63n4/Fs\nsxNI/wBWMk/n2ypWxYr58tMeOlsmS8xWtKR3Npn8REfvL2PmXyzv3nLybyDnHJdROfdt41Ns9qxM\nzTBT8Y8NO/xSlIrSsfyrH7pp/SV9JM+UfI8+WOR6SbcX4nqa/wCC6WnqNVulfbeluuvmuGJi/wCY\n/XOP8xFoBPL6c/pJp6YfCuDUbzpaV55yauPX7ve1OsmkpNYnFo+5/wDF9293+va/zMRVLAAAAAAA\nAVV/XO/8Cf8A03/9AqrW1/XE4puWs4j4l5LiwRbZ9u1247dqM/vrE0z6jHgyYa+3v3T3XSZ57iOo\n9vzMdx3UoC4XwD6sNg9JX0vPHXINdfBrOTa+N20+w7LktPu1uojc9V3aYie/tY/dW17fHUTWvcWv\nSJqY57zzf/J/Mt35Xyjc828cg3bUW1Os1ufr3ZLz/KIiIrWIiK1rWIrWsRWsRERDq9bu2u3HTaDT\n6vW6jVafQYZ02jxZstr102Kcl8s48cTPVKzky5L+2Oo92S0/m0zP82va9Zve5aTbtu0mfX7hq81N\nPptJpcdsmXNlvaK0pSlYmbWtMxEREdzMxAPXeFPDnJPPvk3Y+C8U01M+8brm9lb5re3Dp8cR7smb\nLaImYpSsTaeomZ66rFrTETsV+n7wTxn04eK9n4PxbS0xaPRU9+p1c06y6/U2iPu6nLPzM3vMR+8x\nWsVpXqtaxGCfp2eifF6VPHWTdeSaTS5PJm/4623PPSa5Z2/B8WroseSO4mImItkmk+214j5vXHSy\nXgAAAAAAAAAAAAAAAAAAAACs/wCrj6x/8Vdjt4S4juWTDve4465eS6jT2iJwaO9fdTSTP5i2WJre\n0R1/R+2J7jLMJa+s/wBVO0+k7w7rOSZp0+r5LrfdpNi2rNMz/Fanr+taImJ+1jifdeYmPjqvcTer\nXl5Ryfdeacj3Pf8AfNdm3PeNy1F9Xq9Znnu+bLe02taf9sz+3wDrF0X0p/RjXxLwnH5X5doK15jy\nLTRO16fPXu23bfeImLdf5uXNHVp/etPbX4m16of/AExvRTT1D87vzjl2gnL4845qKxGHJEezc9dX\n23rgmJ/rY6xMWv8Az7rX5i1urxgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAFQ/1lfUr/jBy7Z/DGzamZ0WyTTdN9mk/F9Xenenwz8f8nivN56mYmc9\ne/nGsy9RHmnbPT14Y5Vz/daxmw7RpJvg00zMfxOotMUwYe4iZj35LUrM9T1EzM/ES1tOX8s3TnnK\n955JvmqnXbzu+sy6/WamaxX7mbJeb3t1EREdzafiIiI/EA6gHL2jaNbv+7aLa9t0uXW7jrc9NNpt\nNgr7smbLe0VpSsR+ZmZiIj+0Es/plelqnqL89Yd03vRxqOE8QnHuW5Uy0rbFqs/un+G0tonuJre1\nbXtExMTTFes9e6JXmc94hpPIPBuRcW19rU0O+bbqds1Fqf1ox5sVsdpj+3q0sXejf046P0u+Bti4\ndSMeTer1/j961eP5jPrskR9zqf3rSIrjrPx3XHWZ+Zlm8GqvaJrMxMdTHxMStC+h1yfR6bkflzju\nTLMbhrdJtuvwYv2nFhvqKZbf3TqMMf3oCepPjOk4Z6iPJ+w6DTzpNv23k+5aXS4J7n2YaarJXHHz\n/qRVJz6OvLdPxz1eX27PWbZN/wCO63bsExPUVyVvh1Pc/wA/0aa8f3gvFAAAAAAAAAAAAAAAAUjf\nVY9XM+avKUeOuOa2cnC+I6i1M9sc/o125x7qZMnf71xxNsdf7ZyzEzFoT0+pf6uK+m/w3k2LYdZ9\nrnvK8eTSbfOK3V9Fp+us2q+P6sxE+2k/6du479kwocmZtMzM9zP5mQe98E+Gd+9QHlXYOC8cxTfX\n7pnil8/t91NLhj5y57/6tKxNp/n1ER8zDY88R+Lti8K+NePcI43p/wCH2fZdLXTYu4iLZLfm+W/X\nxN73m17T+9rTKIv0r/SJ/kN8Wf4/8j0f2ubcu09MlMebH7cm37fMxbHh+fmLZP05Lx/ZjiYiaT3O\nkAAAAAAAAGAfXL6cf91B6dd/4npIj/GLSTXdtitaeo/jsNbezHPd6ViMtL5cPuvPtp9339TNYhrx\nb3sm48a3fW7Vu+g1O17pos1tPqtFrMVsWbBkrPVqXpaImtomJiYmO4bTbG/ln04eMPOmLJHO+DbL\nyPU2wU00bhqdLFdbjxUyTkrjx6qnWbHX3TaeqXiJ91on4tMSGthxzjW78w3vSbNsO163e931d/Zp\n9Bt2nvnz5rdTPVMdIm1p6iZ+I/ZdB9PX6cGP09ZNL5B8iVwa7yLfDP8ACbdjtXLh2WLxMW/XEzXJ\nnmszWbV/TXu0Vm3fumXfjLwN458MYK04PwjYuMZP4eukvqtv0OPHqc2KvUxXLn6+5l+Yie72tMz8\nzPb3gAAAAAAAAAAAAAAAAAAAADqOXct2jgfF905Fv+vw7Xsu2ae+q1esz26pix1juZn+f9kR8zPU\nR8y7dTv9WT1o/wCPvI8vhnh24e/je0Z4tv8AqtPeJrrdZWe66eJj80wz/W/nk/b+jiZCKXrG9Um8\neq/zDruUav72j2HTd6XZNpvfuNJpYn4mYj4+5eY995j95iO+q16816bvAPIPUv5c2Xg3H6Xx31d/\nu67XxinJTQaSsx93UXjuPisTEREzHutate4m0Mb6PR6jcdZg0mkwZNVqs+SuLDgw0m98l7T1Wtax\n8zMzMRER+V+/09fR7p/St4jpl3fTYb+QeQVpqd51Nf1Tp69d49JWfx1j7n3TH9a82+ZiKdBn7xR4\nt494W8ebHwvi2irodl2jT1wYaREe7JP5vlvMRHuve0za1v3taZetAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGLvU1502304eEuT883GMeXJt2mmuh0\nmSev4rWX/TgxfE99TeY90x8xWLW/YFYf1jfUp/jn5G2vxFs2qi+z8Ymuu3accxNcu45KT7KTP/ks\nV/2n+tnvEx3SFcjsOR8h3HlvIdz3zeNXk1+7bnqsut1mqyz3fNmyXm972/tm1pn+914CyH6PfpZj\nmfNtb5k5Bo4ybNx3JbR7JjzVia59fNY9+bqf2w0tHU9de/JExPeOUDfEXi3ffNfkvj3B+N6f+I3j\netVXTYe4ma46/Nr5b9fMUpSLXtP7VrMtkjw/4t2Xwn4w43wbj2L7e07Ho66XFaYiLZbfM5Mt+vj3\n5Lze9uvza8g9iADX9+p7x/Fx71veRqafSxpdNq7aLW0iImIvbJosFsl/n895PuTP9vbofp6cxxcG\n9aHincc2P7tM+6TtcV93X6tXhyaWs/3Tnif7me/rU7HOi9THFdzpp64sOu4rgpbLWsR93Lj1Wpi0\nz/OYpbFH+zr+SFfh3mVfHXl3hHK7Y4zV2LfNDuk45/F4w6imTr8x+fb/ADBs8gAAAAAAAAAAAAAP\nPeQee7H4u4TvXLOS66m27FtGmvq9Xqb/AObSsfiI/wA60z1WtY+bWmIj5mHoVQH1ePV1/jfyfH4W\n4vrvds2y5a5+Q5sF/wBOo1sfNNNMx+a4vzaP/GTETETjBCf1Left89S/mLfOd733gnWXjFotD7/d\nTRaSncYsFZ/sie5mIj3Wte3Ue5nb6ZvpHj1HeZK79yDQxn4DxW9NVr6Zqd49dqfzh0v9sdx77x8x\n7a+2f68IsePuBb55R5vsnEuN6K+475vGqpo9Jp6/Huvaeu7T+K1iO7WtPxWsTM9REtjf00+A9k9N\nPhzYeC7JFcv8Hj+7rtb7era3V3iJzZ7f+daOoie/bWta9/pBlEAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAHgvOfmjjvp+8Xb5znk+f7e27Zh91cNJj7uqzT8Y8GOJ/N726iP2j5meoiZgI7fUl9ZVPTN\n4unYOO62KeReTYb4tvnHb9e36f8Aq5NXP8pj5rj/AJ37n5iloUP5Ml82S2TJab3tM2ta09zMz+Zm\nXvPO3mnkXqD8p77zrk2f7m47nm91MFZ/o9Lhr8YsGOP2rSsRH85nu09zMzOR/RB6Udx9WPmXSbHa\nM2m4ltns1u/7hijqcWni3xipb8RlyzE1r+eo91upikwCW/0kfRjG+7hi84cw0MW2/RZbY+MaTPX4\nzZ6z7b6yYn4mtJia0/P64tb4mlZm2xwNi2Lb+MbJt+z7To8O37Xt+nx6XSaTT19uPDipWK0pWP2i\nKxERH9jngAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAKZPrC+pP/AB/8q7d4q2bVzk2PiM/xG5fbv3jzblkp+J6nqfs47e2J/MWy5qz+Fnnqx8/aH00e\nCOTc51NsV9fp8M6badLl6mNTr8kTXBT2+6s2rFv13iJ7ilLzHfTXC3neddyLeNduu6avNuG567Pk\n1Wq1eovN8mfLe02ve9p+Zta0zMzP5mQcMGaPSB6dtd6oPPHH+FYYzY9pm/8AG7zq8M9W02gxzH3b\nRPUxFrd1x0mYmPfkp38dgsY+jv6XI4pwzX+Zt/0nW7b/AEtodiplr+rBoa2/pc0fPxOW9fbHxExX\nF3EzGSVlDhbLs2g45s2g2na9Jh2/bNBp8el0uk09IpjwYqVitKVrHxFa1iIiP5Q5oAAKtfrkbJky\nbZ4f3emKPtYc266TLliPnu9dLalZn/8A15Jj+9VCu2+s3suo3P0nbTqsOP3027lWj1Oe3X9XHOn1\nWLv/ANbLSP71JINn/wAV8xnyH4w4hyqaVxzvuz6Pc/ZT+rX72CmTqP7P1PUsAegXmE859G/ifcrV\nis4NlptnUR1/3pa2k7/P/kGfwAAAAAAAAAAAcPed50PHdn1267nqsWh23Q4Mmq1Wqz2iuPDipWbX\nvaZ/ERWJmZ/lAI9+vH1Vab0q+ENbu2ly47cw3j36DYNNbqZ+/Nf1Z5rPfdMUTFp7jqbTSs9e9r37\njuGq3fcNTrtdqcus1uqy2z59RnvN8mXJaZm17Wn5mZmZmZn8zLOnrY9T+t9VXnHc+SxbLh41ou9B\nsWiyfH2tJWZ6vaP2vknu9v3j3RXuYrDm+hX0s6r1V+cdBseox5KcS2uK7hv+qpM1600WiIw1t+18\ntv0R+8R77fPskE8vpC+kb/FTjV/NfJ9F7d33nDfT8dw5q/q0+jmesmp6n8WyzHtrP/i4mY7jIstc\nbbtu0uz7fpdBodNi0eh0uKuDBpsFIpjxY6xFa0rWPiKxERERH4iHJAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAB+cmSmHHbJktWlKxNrWtPUREfmZlRD9Sj1lW9THlH/F7jmstfx1xjNfFoJx2/RuGp/q\n5NXPX5r+a4+/xTuficloTC+rJ6z58fcay+GuIa72ck3rTxbf9Xgv+rRaK8fGniY/GTNH5ifxjn8f\n0lZinUHd8J4XvXkbl20cY45oMu6b5u2pppNHpMPXuyZLT1HzPxER+ZtMxEREzMxETLYi9Inpl2b0\nq+Gts4jt/wBvVbtk/wB97zuda9W1mrtEe639lKxEUpH7VrHfzNpmKX0m/Rn/AJOeJ4/MfLdDWOTb\n9puti02an6tDobx85vn8ZM0ddTHzGOY+f6S0RYwAMXeoL1J8C9MnDZ5Fzrd40WPL766Lb9PWMms1\n+SsdzjwYu490/NYm0zFK+6vutWJ7Ut+rX6jvkj1N6jV7PotRl4TwHJH242DbdRPv1VepiZ1WeIrb\nLFvdP9H1GPqK/pm1ffIWveYvqM+BPC+bW6LcebYeQb3paxadp41inX5bW9/stT7tf6Cl6zFpmmTL\nW0RH47mInx/i36sPgDyVvEbbqt23bg+oyZceHBk5Toq4cGa1pmP+Gw3y48dY+O7ZbUrHf5/PVDwD\nampeuSlbVtFq2juLRPcTD9K7vo2+oDefIfizk3jzf9bbXZOHZNNfac2oz1tl/gc8ZI+xFevdNMN8\nU9WmbdRnpSPbWlIWIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAw36u/UDo/TN4D5NzfNfFbc8WH+E2fTZep/iNflia4a+2Zj3VrPeS8RPfsx3mPwCrf6vHq\nW/yn+ZtL412bV/c47wubV1k4r901G53iPu99WmLfZr1jjuItW854+YlANydz3LV71uWr3DX6nNrd\nfq8t8+o1OovN8mbJaZta9rT8zaZmZmZ/My4wC9n6XHpcjwJ4Iw8m3nSzi5jzXHi3DVVyV6vpdH1M\n6bB+fifbeclviJ92T22j+jhWl9OD0uR6lvP+ktu+jnUcJ4x7N03n317x5590/Y0s/ExP3b1mZrPX\nePHl6mJ6X+AAAAAjB9TPaMu9eh/ydhw44yZMWDRan8fiuLXafJef/VrZr7Nlz1ObTl3702+V9twY\nvvajV8T3XDixxXubXtpMsV6j+fcw1owXrfSJ5hPJfRptW3TWK/4vbxr9siY/zvdkjVdz/wDpXX9y\naStz6IvL663w/wCRuLRSsX2zfcO5zf57mNTp644j/ZH8HP8A1ysjAAAAAAAAAAAVifWA9W0bJs+L\nwfxnVzG4a+mPWckz4b/OHTz+rDpZ6+YnJ+nJaPj9EU/MZJ6nB6p/ULtHph8K75zndK01GowVjTbb\noLW9s63W3iftYo/s+Jtbr5ilLzHfTXL5pzHePIXLd35NyDXZNy3vdtVk1mr1WX85Ml7dzPX4iPnq\nIj4iIiI6iAdftm2avety0m36DTZdbrtXlpg0+mwUm+TLktMVrStY+ZmZmIiI/My2GfQ16WtL6VPB\n237Bnx4snLNymNfv+rx9W9+ptWIjFW3748Vf0V/aZ91vj3ygT9IH0lzynk+fzVybQRbZ9nyX0vHs\neevxn1n4yamIn81xRM1rPUx77TMTFsS3wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABg31ieqDZvS\nl4b3HlOtnFqd91EW0mx7Zf5nV6yazNfdETE/bp/WvPcfEdRPutWJzByXkm2cP49uW+71rcW27Rtu\nnyavV6zPPVMOKlZte8z/ACiImWvN61fVVunqx8y63kV5z6TjGh92j2HbMtv+99NE/wBe0R8fcyTH\nvt+ev017mKVBhrmHLt359yrduSb/AK7JuW9brqcmr1mrzT+rLlvaZtP8oj5+Ij4iOojqISz+mn6N\nrepTyj/jLyPRzfx3xfPTLrK5KRNNx1UdWx6T5+Jr+LZPz+nqs9fciYjl4K8K8i9QnlLY+C8Ywxfc\ndzy+2+fJE/a0uGPnJnyTH4pSvcz+8/ER3MxE7F3g/wAMcc9P/jDY+DcW084dr2zD7Zy5Opy6nLPz\nkz5J/e97TMz+0dxEREREQHu4iKxEREREfERCLPrY9evE/SVx7Jt+m+xyLyNrMXeg2CuT9OCJj41G\nqmPmmOPzFfi+SfivUe69PDfUB+ortnpr2/U8J4Pm027+UNVi6yXnrJg2Olo7jLmj5i+aYnumKfiP\ni9/0+2uSknkvJd15lv8Ar9833cdTu28a/NbUarW6vJOTLmyWnubWtPzMg9F5f8y8w88c41nLeb71\nn3redREUi+T4x4MUTM1xYqR+nHjjueq1iI7mZnuZmZ6LiXEN757yPQ7BxvadZvm966/29NoNBhtl\nzZbdTM+2tY7+IiZmfxERMz8RLIvpq9LvOvVRzj/F7hugicGnimTct31XddHt+K0zEWy3iP609W9t\nI7tb226jqtpi9T0qejXgPpM4tj0nHdHXceTZ8EY9z5PrMUfxesmZi1q1/P2sPurXrFWev01m03tE\n3kIUemH6NWCNNot+837rktqJtTLHEtkzxFKx+m3s1Oqr3M9/rramHrr4muae/iqaY6mYbVDVe12C\n2l12ow2jq2PJakxP7TE9An39FPJaPVDyzHFpiluHam017+JmNboup/7Z/wCtdMpW+ip/xpuVf+hm\nq/8AftCupAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUn\nfV39SP8AlP8AN2n8dbPrIzcd4VFseq+zkicefc7xH3pnq0xP2q+3F1MRat/vx+6071ceoDR+mfwJ\nyfnGa2G254MP8LtGlzdTGp1+TuuGntm1ZtWJ7yXiJ79mO8x+GuHum6aze9z1e47hqs2u1+rzX1Go\n1WovN8mbJe02ve9p+bWmZmZmfmZkHGfvBgyarPjw4cdsubJaKUx0rNrWtM9RERH5mZfhPX6SPpgt\n5X8y38k71pPfxjhOWmXS/cpPs1O6THuwxE9dT9mP6Wep7rb7HxMWkFlvoV9M2H0ueANn49qcNI5V\nuPW579mjqZnV5Kx/Re6JmJrirFccdT1M1taIj3ykMAAAAAPnqdNi1mny4M+KmfBlrNMmLJWLVvWY\n6mJifiYmP2asOt0mTQazPps1Zpmw5LY71mOpi0T1Mf8AXDaia0vqi2nBsPqX8s7dpMMabSaXlm64\ncGGO+qY41eWKRHf7RXoE6voecpw6Tm3lbjdq96jcNu0G40t3+K6fJmx2jrr951Vf3/b9/wBrcFI3\n0aN/020erPc9HntMZN14vrNJp4j98lc+mzf/ALGG67kAAAAAAAAB/JmKxMzMREfMzL+oKfVW9W0+\nEfE9eAcb10Yeacvw3xZb4rR9zQ7dPdcuT891tknvHSevx92YmLUgEAfqVerefUp5nybTsOttl4Dx\na99Htv27f0esz99ZtX1H5i0x7aT/AKFYmOpvaGDvTb4H3r1JeY+P8E2Wt8c67LF9bra091dFpKzE\n5s9v2/TX8RMx3aa177tDGK9P6XnpMr4A8NU5bv2inDzrl+Gmp1Fc9Osmh0f9bBp47+azaJjJePie\n5rWY7xwCWvj/AIHsnjDhOy8T45oqbfsez6Wmk0mnr8+2lY67mfza0z3M2n5mZmZ+ZegAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAESfqLesbD6W/E9tv2PVU/yickx5NPtGOI906PH+MmstH4j2d9Uif6\n15j4tFL9BD76tXrR/wAad4z+EOH62f8ABO2aiLcm1mDJ8arU0mJrpImJ6mmK3zeJ/wCUrWPj7c+6\ns+tZvaK1ibWmeoiPzL96jUZdZqMufPlvnz5bTfJlyWm1r2me5mZn5mZn91i30m/RnPkPleLzJy3R\nTPGdi1ExsWlzU/TrtdSf+H+Y+ceGfx1+ckR8/wBHaJCY/wBNn0Z19Mvi+eQck0eOvkbkuKmXXTav\n69u009Wx6OJn8Wif1ZOuu79R8xjrLxv1C/qOaPwNpdd4+8darDr/ACNmxzj1m4V6yYdkraPzMfi+\no6nuKT8V+Jt38Vn8fUY+olg8E6LW+OfHmsx6nyLqcXs1u4Y+rU2XHavf+ydRMTE1r+KRMWn9omln\nWazUbjrM+r1efJqtVnyWy5s+a83vkvae7WtafmZmZmZmfyD9bluWr3ncdVuG4arPrtfq8t8+o1Wp\nyTky5slpm1r3taZm1pmZmZn5mZSK9F/oi5Z6vOWXnTfc2Tg+3Za03XkOTH3Ws9RP2MET/wAJmmJi\nevxSJi1vzWLdv6GPQlyD1b8q/j9dOo2PxvtuaK7nvVKxGTUXjqZ02m90TFssxMd2mJrjie5iZmtL\n3vcA8f8AHfFnD9r4rxPaNNsXH9swxh0uh0teq0r+8zM9za1p7ta9pm1rTNrTMzMg6fwx4W4h4B4D\noeH8J2nHtOz6Xu9uv1ZdTmmIi+bNf83yW6ju0/tFYjqtaxHuQAawPlnaLce8p8y2u9fbfQ71rdNa\nv8ppnvXr/sbPzWs9WP8Axp/Mn/pnvP8A79mBKr6Kn/Gn5T/6Gar/AN+0K6lRT9Ijfr7R6ytr0lMk\n0ruuz6/R3iJ/rRGOM3U/34Yn+5esAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAADFnqe856D04+DOV891n2smfbtLNdv0uX8anWX/Rp8UxExM1nJas29s9xSL2/z\nQVWfWA9SP+UfzHofGWzav7mwcMiba77WTumfc8lY9/fttNbfZx+3HHcRat76isq/XN3ze9fyXetw\n3fddZm3DdNw1GTV6vWai83yZ82S02vkvafmbWtMzM/vMuEDsuNcc3LmHI9r2HZtJfX7vumqxaLR6\nXH17s2bJeKUpHfx3NrRHz/Nsg+mDwJtfpq8Jcb4Htv282bQ4fubhrcdYidZrL/qz5p+ImYm3xXvu\nYpWle59qtb6N3pmjk/M928y73pvdt2wWttux1vHxk1t6f02aP1f8livFY7rMTOeZiYtjW/AAAAAA\nANez6kXHNNxb1teUtHpI6xZdZp9dPx/n6jSYM+T/AP7y2bCai76vnE5456x9duEzExv2yaDco6n8\ne2ttL8/H/wDjf2//ACgPI/S819dB65fG03yxix5p3HDMzPxM22/UxWP77e1f+1uPRzueXafVh4ez\n4be29+WbZgmf9XJqceO0f31vMNkcAAAAAAAAHlPK3kzY/DfjnkPNeSaj+G2bZdJfVZ7RMe6/XxXH\nTuYib3tNaVj97WiP3a4PnrzPvnqC8tcj55v95jW7tqZvj00W91NJgj9OLBSeo/TSkVr3189TM/My\nmx9XX1Zzz/neLxBxrX+/jvG833N6vht1Gp3GO4+1M/vXDE9df+MtbuO6VlAbgfBt68mcz2bivHND\nfcd83fVU0ek01Pj35LT1Hc/itY/M2n4iImZ6iJBLT6X3pLn1A+ZKcr3/AEX3eC8QzY9Vqa5qd49d\nrP62HT/MdWrExF7x8/pitZj+kiV6zF/pq8CbJ6a/DewcF2WtMn8FijJrtbWnttrdZaInNnt+/wCq\n0dREzPtrWle+qwygAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADxvmDy1x3wb433zm/KtVOl2XacE5\ncnsiJyZbTPVMWOJmO73tNa1juI7mO5iO5jXQ9QnnbkXqP8r73znkua06rXZJrptH7/dj0OmrM/a0\n+P4j9NIn89R7rTa0/NpmZK/U59Z8+ojyN/iVxfWVy+POL6q0Ys2DJ7qbprYiaX1PcT1ale7UxzHf\ncTe3fV4iIY7DsW4co3vb9n2jRZtx3XcNRj0uk0empN8ufLe0VpStY+ZmbTERH9oMuekT0y716qvM\nm2cR2/7ml2jHMavetzrHxo9HW0e+0TMTE5LdxSkdT3a0d/pi0xZ364/Wtxz0ZePdB4d8RYtHpuZY\nNDTSY8Wnr78PHtL7I9mS/ffu1FomLUrbufn7mTvusZMS8s8nbF9K70/YfGvEsmi3rz7yfBTXb7uN\nIrkxbVNqfotbuP1/bi1q4cdviZm+W0RFopesDed51/It31u67rrdRuW567NfU6rWavLbLmz5b2m1\n73vaZm1rTMzMzPczIPluG4ardtfqddrtTm1mt1OW2bPqdRknJky5LTM2va0/NrTMzMzPzMylR6Ef\nQhvvq05T/hTc/v7L422zPFdx3WsdZNVeOpnTabuOpvMTHut8xSJiZ7ma1txvQp6G999XHM7avW/f\n2fxztOWI3beax1bNfqJjS6fv4tltExNp+Yx1n3W+ZpW983COEbD424ltfGOMbXp9l2HbMMafSaHS\n16pipHz/ALZmZmZm0zM2mZmZmZmQf3hfCti8dcU2zjXGdr0+y7FtmGMGk0Olr7ceKkf9szMzMzae\n5tMzMzMzMu7AAABrWerKOvVP5k/9M95/9+zNlNrhetnZ77H6ufL2mvE1tfk2t1XUx18Zss5Y/wCy\n8AyD9LXJNPXV42iPxeu5xP8A97NVP/yX+KAfpcf8ezxl/wBJ/wDwvVr/AIAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABTx9Zj1C25R5J2TxFtmomdt4zSm57tSO\n4i+vzY+8VZ7j5+3gvFomszE/xNon5qtR81eVtp8HeKOUc83uYnbti0N9VbF7/ZOfJ/VxYa2mJ6tk\nyWpjr3+94a03NeX7p5B5hvnKN7zxqt53rXZtw1matIpF82W83vMVj4rHutPUR8R+IB0z0PjzgW8+\nUudbFxHj2lnWb1vWsx6LS4vnr33tEe60xH6a1+bWt+K1iZn4h55aP9GX01xrNy3vzXvek7x6Sb7P\nx6MtP+VtWP4rUV7j9q2jDW1ZmJ9+es/NQWU+EfEuz+CfE3F+BbFEzt2x6OumjLaOrZ8kzNsua0dz\n1bJktfJMRPUTeYj46e4AAAAAAABTP9bLZsuD1CcI3a1f6DVcWppaW/nbFq9Ra3/Zmr/1rmFVX1zN\nNXvwtqIx1i0/4Zx2yRHzMf7xmsTP/rf9cgrP8a8oy8H8jcV5HgtNM+z7rpNwx2iepi2LNXJE9/7a\ntoVqrxPUtpnYN60/JNi23dtHPu0mv02PVYZn96XrFq/9kwDngAAAAAI2evf1U6f0r+DdbuejzUnm\nW9Rfbtg08zE2rmmv6tRNZ77phiYtPxMTacdZ69/aRW5blpNm27Va/X6nFotDpcV8+o1OovFMeLHW\nJta9rT8RWIiZmZ/EQ14vXD6otZ6q/OO48hx3y4uLbd7tv2HR37j2aWtpn7tq/tkyz+u37x3WvcxS\nAYC1erza/VZtTqc19RqM17ZMubLabXvaZ7m0zPzMzM99ravo/ekudh2XP5v5NoojX7ljyaPjeLNW\nPdi0/c1zarr8xOSYnHWfifZF5+a5IlAT0Y+mfX+qjzltHE8f3MGxaf8A3/vetp/yGjpMe6In/TvM\n1x1676m/fXVZ62Jtj2TQcZ2Tb9n2rSYtBte36fHpNJpcNeqYcOOsVpSsftEViIj/AGA5wAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAACvn6rXrNnxJwr/JVxDcPt8y5Fp5tuep09pjJtugt8dRMf1cmb5rH\n71pFp6ibUslL6rvUjsnpa8N7tzTdYrqdbH+9dp22Z6trdZeJ+3j/ALKx1NrT+1KW67nqJ12fIXP9\n98p833rlvJtffct93jU31er1N/j3XtP4rH4rWsdVrWPitYiI6iIB55LPwLvu1+jfgVfLm86PDr/K\n/INJfHwTY9VWLRt+mv3TJu+opMdxW0e6mCO498fcnqaz7qxc2HVaPb9yw6zX6Ku5abBaMn8Fkvam\nPUWj8UvNZi0Un/O9sxaY7iLVmYtH25Zyzduc8i12+73rLa7c9ZeL5cs0rSsRERWtKUrEVpStYrWt\nKxFaVrWtYiIiID88p5Tu/N+R7jv+/bjqN23ncc9tTq9bqr+/JmyWnubTP/4dfiGefRT6MuRernyD\nXS4ozbXwnbctLb3vlax/RVn5jDh7+LZrxHUfExWJ91omOot0XpI9J3KvVt5Kx8d2Os6DZdH7c29b\n7lxzbDt+CZnr4+Pflv1MUxxPdpiZnqtb2rsB+HfD/F/BHj3auF8P2+Nv2bb8ftr31OXPkn+vmy26\nj35LT8zP90REREQHZ+PfHvHvFXC9p4nxTa8GzbBtWCMGl0enj4rX8zMzPza1pmbWtaZta1ptMzMz\nL0QAAAAANf8A+qHjpi9dXk2KVikTO226rHXzO2aWZn++ZmWwAoi+rdwrV8W9aO/bnqcuLJh5Jte3\n7rpq45mbUx1wxpJi/wAfE+/SZJ+O/ia/7IDE3oa5Dk4x6v8AxHrMV5pbLyHS6KZj/R1FvsWj++Ms\nx/e2Nmtt6PNBl3L1X+HsWGs2vXlu15piP9Gmqx3t/wBlZbJIAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOLum56PZNs1e47hqsOh2/SYb6jUarUZIx4sOOlZte97\nT8VrERMzM/ERAKwfrTef76PbuKeHdr1NqW1fW/b1GObV92KtrY9LimYt1aJvGbJalo+Jx4bQqfZI\n9R/mPV+oDzlzLn+ri9I3rX2yabDlrSt8OlpEY9Nit7fibUw0x1mf3mszMzMzLG4PQePuC7v5O5zs\nHEthwRqd53vW4tBpcdpmK/cyWisTaep9tY77tb9oiZn8Nlbw54t2fwl4u4zwXYae3a9j0VNJjvNI\nrbNaPnJmvEfHvyXm+S3X+deVW30XvT9HIOccl8v7np4to9grOz7Pa1YmJ1uWkTqMlZi3dbY8Fq06\nmsxaNXPU90W9gAAAAAAAAK4/rb8Ypq/CHj/kUzX7ug5FbQVj9+tRpsl5/wDdY/7FjiBX1n9DfV+l\nDY8tIma6XlukzXmP2idLq6f+28ApMbLPpc1V9d6ZfEepy2m2TNxDaMlrTPzMzosUz/7WtM2K/QPy\nW3K/Rx4m1t7TacWyY9B3P8tPa2niP+rFAM+gAAAAx36gfNux+njxHyHnm/2i2l2vBM4dLF/bfV6i\n3xiwU/Pze8xHfU9R3afisgg59X31Z24dxTT+GOM66KbxvuGNTyDLgyfr0+i7/o9PMx+JzTEzaO4n\n7depia5VP9KWy3rSlZve09VrWO5mf5Q9N5P8kb75f8g79zPkuqnWb3vWqvq9Tk+fbWZ/q0pEzPVK\nVitK17+K1rH7Jn/Sb9KFPMPlXL5I5Fopy8T4fmpbSY8lf0azc/i2OvzHVq4Y6yWjuJi04fzE2gFh\nn07/AEp4/TB4L0ld00n2uc8jrj3Dfb3/AK2Gep+zpf7IxVtMT+f12yTE9THUpgAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAcTdd10WxbXrNy3LV4NBt2jw31Gp1epyRjxYMVKza972n4rWtYmZmfiIhy1V\nP1cPWfMzm8F8O13URNMnKdbgn8/i2PRVt/6t8nX+pTv/AISoIg+vL1b6z1Y+Y824aS+TBwnZJyaL\nYNHb3R3im0e/U3rP4yZZrWZjqOq1x1nua9zGsAGXPTF6ZuWeqjyZpeJcYxRgwViM257tmpM4Nu0/\nfU5L/j3Wn8VpE92n4+I7tHU+APAXLfUl5K2/hfDtF/Ea7Uf0mp1WSJjT6HTxMRfPmtEfppXuP7bT\nNa1ibWiJ2CPTN6auJelrxppOJcXw/dyT1m3Hdc1IjUbhqOurZb9fiP2rSJ6rHx8z3Mh23gXwPxH0\n4+Ntu4Vw3Q/wu3aX+kzajL1bUa3PMR79RnvER78luo+eoiIitaxWta1jIgAAAAAAAKkvrhcK0ej5\nj4r5dipmncNx0Gu2rU3me8UY9PkxZcMRHXxaZ1efv5+YiPiOp7ttQi+sFwnV8r9HmfdNPnw4sPGd\n+0O7ammWZ92XHb7mjitOon9Xv1lLfPUe2tvnvqJCtn6YGlw6v10eMaZ8VctIvuOSK3juItXbdVas\n/wC2LREx/bENgNRn9H3heDlPrDwbnlz2w5ON7Drt1w0ivcZb2+3pJrM9/H6dXa3fz/ViP37XmAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIe/VU8yZfFHpJ3vQaH\nNfDuvL9Tj49hvivWLUw5Itk1MzW3zNLYcWTFPXzE5q/MJhKfPrd84za/y3444dOlpTBtOx593rqY\ntPuyW1eonFakx+IisaGsxP7/AHJ/kCtp9dJpM+4avDpdLhyanU571xYsOGk3vkvM9VrWsfMzMzER\nEPkmz9J307/5Y/Udj5ZuOCMnHOBVx7rl90xMZNfabRosfUXraOrUyZ/dEWr3poraP1wC3L0neDMH\npy9P3D+C1jHbcNDpIzbnmxzFoy67LM5NRaLxWs2rF7WrSZjv2UpE/hl0AAAAAAAAAER/qr7Rh3L0\nP851GX+vt+o23U4vj/OnXYMX/wCzlslwi/8AU10Vtf6HPJ+KkTM1w6HL8fypr9Nef+ysg191/wD9\nLu839CvjKZnuetyj/q3PVwoAXp/SG5BbefRtt2jm1rRtO9a/RRFvxWJvXP1H9n9PM/3yCaoAAACk\nn6sPqvjzH5Yx+OeO6373EOH5rV1F8Vv0azc+prlv331auKJnFX4jq05p7mLQsN+ot6qY9MfgjVTt\nOqjFzfkv3Nt2WK26vg/T/TaqPmJj7VbR1P8Ap3x9xMdqAb3tkva1rTa1p7m0z3MyD0/i/wAb755f\n8hbBwzjemnV73vWrppNPTqfbWZn9WS8xEzFKVi17W6+K1tP7Nj/wJ4V2L09+JuPcD49SJ0W1aeKZ\nNTNPbfV55+cue8dz+q95m3Xc9RMVj4iEEvo9+lOOM8X1fmnkei9u67zS2j49jzUjvDo4nrLqI+fi\ncto9lZ6iYpS0xM1yrLgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAdBz7nmxeMOF7zyvk24Ytq2HaNN\nfVavV5fxSlY/ERHza0z1WtY7m1piIiZmIBgn16erXSek7wzm3DSXpl5tvn3NFx/SWiJiMsRH3NTe\nJ/NMMWraY6nu1sdZ6i0zGvtuu663fd01m5bjq8+v3DWZr6jU6vU5JyZc2W9pte97T82tMzMzM/Mz\nLKnqq9R29+qTzJu/Nt3rOl0uT/e217b75tXQ6Okz9vFE/vb5m1pjqJve8xERMRGIQHvfB3g/l3qH\n8j7bwrhe3/x27ayZvfLkma6fR4YmPfnz3iJ9mOvcdz1MzM1rWLWtWs8TxD4i5T5z5/tfDeH7bfc9\n63C/trWO4x4aR/Wy5bf5mOsfM2n/ALZmIm/70g+kXi3pI8c49l2muPceR62K5d63++L25dblj8Vj\n8zXFTuYpTvqO5me7WtMhzvSh6VOJekzxri41x6ka3ddT7c2879mxxXUblqIif1THc+zHXu0UxRMx\nSJn5ta172zUAAAAAAAAADyflnxzt/l7xjynhO6zFNDv+259vyZpxVyTgnJSa1y1rb499LTF6z+1q\nxP7PWAK5/pNekjlXg7dfJnKefccvse/TqK8c26NTGWuacOK05NVkpExGPJgy3/hvZlrNvdOC/XUf\nNrGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVPfWm8D8k1v\nJOK+Xdv0ufcON6ba6bDul8GLuNuvXUZMmDLkn3d+zLOptSLe2K1tjrE27y0ibYXx1ui0+5aPPpNX\ngxarS6jHbFmwZqRemSlo6tW1Z+JiYmYmJ/PYNXng/BuQeSuWbbxni20avfd/3HJ9rS6DRY5vkyTE\nTaZ6/ataxa1rT1Fa1m0zERMthr0ZemnTelPwPtHCvv4NbveTLfcd612mtknFqNdkisXmkX+fZSlM\neKsxWvujFFprW1rMg8I8NcA8Z6zU6vh/BuN8U1Wpxxiz59j2jT6O+WkT3FbWxUrNo7+epexAAAAA\nAAAAAAYW9aezV370k+X9NeZiMfGNfqvif3w4bZo/7ccM0sV+q6s39LfmKsfMzw3eY/8A1HMDWrXW\nfRYyzk9K3JazPcU5jq6x/ZH8Fop/+alNc99FDcMeX028y0MT/TYeW5s9o/lW+j0kR/247AsKAAcb\nc9z0my7bq9w3DVYdFoNJivn1Gp1F4pjw46xNrXtafitYiJmZn4iIclXB9X71WzwjhOl8Ocb19sW+\ncixRqd8yYLzFtPt/cxXBMx+JzWrPcd9/bpaJia5YBXf62PUvqvVN563nldJy4+O6X/udsWlyxETi\n0WO0+21o6+L5LTbJaJ7mJv7e5isON6NfTbrvVL522Xh+P7mDZcfev3rWU/8As+ixzHv6n/SvM1x1\n/PVskTMdRLB6/T6bXpXj01+B9Nqt40c6fnHKox7lu/3ImMmmp1P8PpZiYiYnHW0zaJjuMmTJHcxF\nQSn2XZtDxzZtBtO2aXFodt0Gnx6XS6XBX248OKlYrSlY/aIrEREf2OaAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAACmn6s/rFv5J5xk8O8V1mWvGONaqY3zLSIrXXblSZicXf5nHg+a9T1E5Pf3Wft47LJP\nW/5V3Xwr6UvI3Ltji9d40ugrpdJmxZJx30+TU5semrnrPU/qxzm+5H85pEfHfbXJAep8X+MOS+ZO\nc7VxDiO15d337csv28GnxfERH5te9p+K0rHc2tPxERMy+ninxRynzXznbeI8O2nNvG+a+/tx4ccd\nVx1/zsmS34pSsfM2n4hfX6LfRTxj0h8KtiwTi3nm25Y6/wCF9/tj6m/4n7GGJ+aYaz+35vMe634r\nWofX0XejLjfpF4DGk0/2t25nuWOtt6332dTltHzGHF381w1n8R8Taf1W+eorIsAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG\nOfUhpJ1/p38o6WI905uK7pj6/n3pMsf/ADZGef8AIegndOAcm0UR7p1O2anDEfz92K0f/MGrutv+\nh5uV8vCfK+gmY9mDcNBniP7b481Z/wD3cKkFrP0M8nel80Y/9G+zW/6413/8AWngA8Z5k8q7J4Q8\nX8k5zyHL9vatk0ltTekWiLZr/jHhp38e/Jea0r/baGt15g8qb55t8m8j5zyPNGXd971dtTliszNM\nVfiMeKnczMUx0itKxMz1WsJ4/WF9Uv8AjlzjReG9g1cX2bjuSut3vJitE1z6+1P6PD3EfjDS89xE\n9e/LMTHeOFdmw7FuHKN827Ztp0eXcN13HUY9JpNJgr7smfNktFaUrH7za0xER/OQTE+lr6W489ed\nKcn3vSRm4dwu+LX6mmWvdNVrJmZ02CYn8xE1nJb4mOscVtHWSF6zDvpL9PW3+mHwXx7g+knFm3DF\nT+K3bWYvxqtdkiJzZInqJmsdRSvcd+zHSJ+YZiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB1XK+L\n7Zzji288c3vS/wAbs28aLNt+u033LU+9gy0nHkp7qzFq91tMd1mJjv4mJVecj+h5kycsp/gHyvTB\nxjNkz2v/AIR2acmt0lPicFI9mWtNRM9zF7/0MR1ExWe+q2sAMKelr0lcG9JvCP8AAnFdLbV7pqur\n7pv+srWdZr8n7e6Y+KY699Ux1+Kx8z7rWve2awAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfPUYKarT5cOSO8eSs0tH84m\nOpfQBqrrVPoY/jzZ/wBCf/Xqq1qn0Mf/AA2f9Cf/AF4LVGF/WB6iNH6YPA3IObZftZd1rWNFs+ky\n/ManX5ImMVZjuO616tktHcT7Md+vnpmhRf8AVV9Tc+bvPeXiO0aqcnEuEWybfjilv0anX99arN+I\nn9NqxhjubR/RWtWeskghlvG763kG767dNz1WXXblrs99TqdVqLzfJmy3tNr3tafmbTaZmZ/nKyD6\nOfpfjlHLty8z79pfdtmxXtt2xUy1iYy621P6bPHz+MWO8VjusxNs0zExbEr98W+Nt78weROPcL45\np51O873rKaPT16tNae6f1ZL9RMxSlYte1uvitbT+zZM8NeKtm8IeLeM8F2Cnt2vY9HTS47zWK2zX\n+bZM1oj49+TJa97dfHuvIPZgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAMdaX1HeJtdyHDsOm8ocM1G+ZtVGhx7Zi5BpLam+om/sjDXFGT3Tkm36YrEd9/\nHXaNf1d/I+/ePvSX/DbFrb6COSb5p9j3DLhtamS2kvg1GbJjrasxMRecFaWj5i1LXrMdWlRgDaoE\nC/pAeoHXeU/A258G3i2o1O5cCzYdNg1mWbXjJt+o+5bTY5vbJaZtjtiz44rFa1rirgrXvq3U9AAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaq61T6GP/hs/6E/+vVVr\nVPoY/wDhs/6E/wDrwTB+oB6lY9M3p13rd9Bqowct3nvaNirW0e+moyVn3Z4j+WKkWv31Me6MdZ/r\nQ16pmbTMzPcz8zMpffVA9R1/O/qS3Hadv1M5eK8LnJs2grW36MmeLf77zxHcx3bJX2RaPi1MOOf3\nR08M+Kt483+U+McE2Gne575raaWmSaTauCn5yZrRHz7MeOL5Ldf5tJBZZ9Gj0y/wug3jzbvmjj7m\np+5tHHYzU76xxPWq1Ne6/vaPs1tWe49uesx1K0l53x5wLZvF3Bdh4jx/Tfwmy7Lo8Wh0uOevd7KV\niPdaYiPde3U2tb8zaZmfmXogAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAdBzznnH/GHDt25VyndMGy8f2rBOp1mu1Ez7cdI/lERM2tMzFa0rE2taYrWJmY\niQhN9ZPyHxrj/pr2ziW56HHuHI+R7tjy7P7/AHROijTTFtRqqz7ZrMxTJXB7ZtWZjVTMdxS0KT2W\n/VR6it59Ufmjeudbvi/g8Gf26Xbdtre166HRY+4xYomZn5+bXvMdROTJktEVieoxdtO067f910W2\nbZotRuO5a3NTTaXR6TFbLmz5b2itMdKViZta1piIrETMzMRALG/oi8G1Gv8ALnkbmVdRSmk2rY8O\n0X081n35L6rUVy1vE/jqsaK0TH/lK/2rg2BPRB6cKelz087DxHURS3IdTa2677lx2ma212WtffWP\n12r1jpTFhiadVt9n3+2JvLPYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAANVi0TW0xP5iektvRR6nLemfxF5+1+j1X8Pv+7bXoNJsvzET/Gzkz46ZK91mJnFTNlzdTHU\n/amJ/MIzeQONZ+Gc85Jx/VUnHqtp3LU6DLS35rfFltS0T/fWXRRe0UmkWn2zMTNe/iZj8f8Atn/r\nB/JnuVrH0XfTvFMHJfM276SPdebbHsP3cc9xEe22q1FfdXr5n7eKt6W/bUVlVns2za7kW8aHatr0\nmbX7lrs+PS6XSaek3yZ8t7RWlKVj5m1rTEREfmZbMHgfxNt/grw5xDgW2zjvp9i2/HpcmfFSaV1G\nfr3Z8/tmZ9s5MtsmSY7nqbyD3gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAACk76n3rmjzryu/jXg+649R462TUe7V63R2i2PeNbTuPfGSP6+DH8xT2/pvb\nu/64jFNcz/VL9fODTaXdvCXjvc5yay820vKt30l/04q/i+347R+bT8xmmPisd457mcla1QgLQfpG\nejSu8aynnPmGg0+fb9Pa+Di2j1FbWm2orb25NdMfFeqTFsePv3fr99+qzjx2mM3oF9FO7erHyNTV\n7jp8mk8bbHnpbe9xmZp/E2/rRo8Ex1M5Lx17pj/g6T7pmLWx1vfrtO06HYNq0e2bZo9Pt226LDTT\naXR6TFXFhwYqVitMdKViIrWtYiIrERERERAOWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAADW39Yu0a3ZPVh5h0+v0ubR578s3PU1x5qTS04supyZcV4if822O9LRP4\nmLRMfEsPp4fWF8Mblwn1LU577cubZOa6HDkpqLez24tXpsWPT5cEREzb4x00+T3WiImctojv2W6g\neCWH0vvEVfLHrB4rk1OHHn2zi1MnJNVW+WaWicE1rp7V6/Mxqcmnt7fxNa27/lN/CCn0j/TjrPD/\nAIJ1vNd8wW02+c7vh1mHBa3zi27HW38NM1mse215yZcnxMxNL4fxMTCdYAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACuT6lP1E/8l2m3DxV4w3Prmeak4d5\n37SX+dopMfOHDaPxqZifm8fOKJ+P6SYnH331GfqI6fwXoNb448eaymp8iarF7NbuOG0WpsmO0f8A\nbqJie61/zImLT8+2JpY1Wqza3U5dRqMt9RqM15yZMuW02ve0z3NpmfmZmfnuQfP8s2+kz0o8s9Wv\nkrHxzj+OdFs+k9mbet+y45tg23TzM9TP49+W/ttGPFExNpiZ/TSt716v0y+mrlnql8m6PiPGMP2c\nXxm3Hds1Jtg27T9/qy36/M/tWncTa3UfEdzGwT4C8CcR9N3jXb+FcO0X8Nt+n7y6jU5ep1Gu1ExE\nXz5rREe69uoj9oiIrWsRWtYgO18ReJeM+DvHu0cL4joI2/ZNsxezHWZ92TLafm+XJbr9V7W7taf5\nz8dR1EexAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHkfKXiX\nh/mviOo4xzjj+j5Hsea0XnTaus947xE1jJjvWYvjvEWtEXpMWiLT1PzKPnAPpd+nrx/yzVb9TiOf\nf8ttT/E6TQ79rb6vSaGP1f0dMM9Vy0/V/wAv92f0xPffzMsQAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAb6iX1FtL4F0Wt8eeO9Zi1fkfPT2azX06vj2O\nloiYmYmJi2e0T+mv4r/Wt+1Z4X1D/qQafwph1/jnxprMOt59kpbFuO7Y5i+PZYn4mtfzFtR/Z+Kf\nv3PxFMeu12p3PW6jWazUZdXq9RktmzajPeb5Mt7T3a1rT8zMzMzMz8zMga7Xanc9bqNZrNRl1er1\nGS2bNqM95vky3tPdrWtPzMzMzMzPzMyyT6dfTry/1N+SNHxDiOk9+W/WXW7hmiY0+gwd9WzZbR+I\nj8RH5tPUR8y/fpy9OHMfU95E0vE+IaKb2mYya7cs1Z/htvwd/OXLaPxH56r+bT8Qv89M/pn4f6Wv\nHOn4rxTTe/Lf25dy3bNWP4ncc/XU5Mk/tEfMVpHxWPiPmZmQ/fpq9N3E/S94z0fEOLYPfMdZtw3P\nLSIz7hqOurZckx+P5Vr+Kx1EfvM5XAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAABXD9RX6lOLxjbdfFvirX1z8yr7tNvPIdPbum0z+LYMFv8AO1Mfi1o+MX4+ckT9r1n1O/XL\nk8BcVr474RuVsHkTfNP79TrdNMxfZ9FbuPuRb/NzZOpinX6qRFr/AKZ+3NqSrWm9ptaZtaZ7mZ/M\ng/WfPl1WfJmzZL5s2S03vkyWm1rWme5mZn8zM/uy36YvTBzH1VeRcPGOK6f7Wmw+3Lue8Z6zOm27\nBM9e+8/vaepitI+bTE/iItavL9KfpR5h6s/ItOO8bxfwW1aX2Zd43/Pjm2n23BaZ6m3zHvyW9top\niiYm81n5rWt71v78DeBOHenDx3oeHcK22NFt+D9efU5eranXZ5iIvnz3iI9+S3UftERERWsVrWtY\nDhenb05cN9MfjzS8T4foYxY46ya3cc0ROp3DP11OXLb95/lWPisfEREMogAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6jl/Ktu4LxLe+SbxmnT7Ts+hz7jrMtazaaYcWO2TJ\naIj5nqtZnp27FfqvrN/S15jrWJtaeG7zERH5mf4HMDXa8v8AlHevNfk7kvOeQZfubtvmtvq8tYva\n1MNZ+MeGk2mZ9mOkVx1iZnqtKx+zvvTh4C5D6lvLmy8E47S2PLrL/c1mv+1OTHt+krMfd1GSImPi\nsTEREzHuvalImJtDGSwf6OfmLgHjbyzy3YuV6jTbTyHlGm0ml2LdNZWlcfeO+S2XSfeme6WzTbBN\naz1W9sMV79/262C2Lwb4N4h6dvHO3cK4Vt38DtOk/Xky5Ji2o1meYiL6jPeIj35be2O56iIiK1rF\na1rWPfgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+eo0+LWafLgz4q\nZ8GWs0yYslYtW9ZjqYmJ+JiY/Z9AGu763vSbu3pP8xa3aIwanPw3cr31XHt0y17rm0/cTOG1o+Jy\n4vdFLfiZ/TfqIvWEeWz35R8TcQ81cP1PFub7DpeRbFqJi9tLqomJpeImIvjvWYvjvETMRekxaO56\nn5lU/wCon6NnNeJ6rUbn4i3XHzXZ5mJrs26Zsel3LF3PXUZJ9uHNER3M2mcc/tFLfmQwZ4A+pV5s\n8BaLTbTg3vDzDjmnxxhw7Tyal9TXT0j2xEYs0WrlpFa19tae+aVifiidPjb61njffcePFzbhe/8A\nFNXfJFPu7dkx7lpa1/07Wn7WSP8Aza47f7ZVG828e8o8a7xO08t45uvGdzivv/g930eTS5ZrP4tF\nbxEzWf2mPiXQA2K+E+vb09+QPu/4L8sce084/wAxvOa21zP/AJsaquL3fn9u2auPco2bl23V1+xb\ntod60Np6rqtv1NM+Kfjv4tSZj8TDVqfvDnyabLXJhyWxZKz3W9LTExP9kwDalGs5sPqR8tcW0lNJ\ns3lDme1aSnUV0+i3/V4scdfEfprkiP8Ase8496/vUPxiZnR+WN/zd/8A9xvTW/8A7+twbE4oFw/V\nM9TWKe7eRseb+y+w7bH/ALNPDvtv+rf6itFas5t92XXxEz3Go2bDHf8At9kV/wDwgF7gpB031k/P\nWCkRfRcO1ExEx7sm15omf/Vzx+HY1+tN5xr+eN8Ct8zPzt2s/n31/wB9/wB3+z+35BdaKVv/AMdX\n5v8A/wA1fH//AN79d/8Azj8z9anzh7pn/FjgMR8fH+Dtb1H/AOufuC6sUoR9aXzlFqz/AIu8DmIi\nImP8Hazqeu+5n/ff79x3/sjrr57/AFX603nGvt743wK3XXfe3az5+Ovn/ff9/wD+HQLrRSt/+Or8\n3f8A5q8A/wDvfrv/AOcfbH9a7zPE/r4jwS0fyro9bH/1UgujFNWk+tp5Up/31wXh+b/7jXVY/wCX\n881v7f8Arj+Xz6TbfrhclxUn/CHinatVb56nTbvlwx/Z8WxX/sBbiKr8P1zMVrf0vha9I/nTlEW/\n9ujh6/j31ufHmptH+HfHfJtujv5nbs+n1fUdf69sX79AshEEtm+sr4G3TUUx6nb+ZbRS1oicut2v\nBatY/nP2tReeo/sjtkrZ/qcemner4cePyXi02XJEfo1m1a7DFJn9rXtgisdd/nvr+0EoxjXjXqZ8\nRcxzabBsnlDh+6arURE4tLpt901s9u/xH2/f7on+yY7ZKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAB1XJuKbJzXZ820ch2fb9+2rN193Q7npaanBk6+Y91LxNZ6/thG3yH9Mj06+Q767UW4JTjm4\naqe/4vj2sy6OMU/+TwRacFf9n2+kpwFavM/oh8H196TxLyVyDZKxEe+N50WDce57nuY+3On6j8fH\nz/tYe5R9EfyPpNVevHPIXFt100TPtybpi1OivMd/EzWlM0RPXXx3K4sBRXyb6Q3qG2HJNdDt3H+R\nxET+vbN4pSJ//SIxT/2fu8dr/pi+pjbsN8uTxllyUr8z/D7xt+W0/wCytdRMz/1NgUBrk7p6G/P+\nzzeM/iPlWSaz1P8AC7fbUfz/AB9v3d/j9v8A5umy+kbzjhtMW8Oc8mY/0ON6y3/sxtk8BrT5/Sx5\np00d5vEPPMUdTbu/GdbX4j8z84v2ca3pr8u0vFbeK+a1tPcRE8e1kT8W9s/8n/pfH+34bMIDWar6\ncvLF/b7fF/M7e7r29cf1c99z1HX9H/OOn90/py8s6rP9nB4v5nmzfp/o8fH9Xa36u/b8Rj/fqev5\n9S2ZAGtBj9M3mDLFZp4o5veLe2azXjmsnv3d+3r+j/f226/2T/J+f9zX5d9nu/yV819vUW7/AMXt\nZ117Zt3/AMH/AKMTP+yJlswgNZbJ6fPKWGveTxry+kdd922HVR8dd/8Ai/5On1Xi3mmiiZ1HEN+0\n8RMxM5dszV/E9T+a/wA4bQIDVm1fH900F5pqdt1entE9TXLgtWY/64/thwbVmk9Wiaz/ACmG1O+e\nbBj1OK2PNjplx2ia2pesTExMdTExP9kzANVsbPG+eG+AcnyXvvPB+N7te/xe2u2jT5pt/tm1J7/M\nvKbj6RPB264L4tR4f4N1f82xce0mK/8AdamOLR/dINbIbBe5/TP9NO7ZrZc/i/S47TPcxpd012nr\n/wCrjz1iP+pjTkP0b/Ae9aqcuj1XL9gxz/yG3bpivSP78+HJb/tBR+9LwzybzDxxqr6nifK974vq\nLx1bLs245tJa0fymcdqzKzvlH0Otvy5c+TjnlrU6XH1M4dNumyVzTM/tFstM1Oo/tin9zAXOvo8e\neuLaeM+zTxrmUTaYjT7Xuc4M0R+02jU0xUjv+UXn8A8b45+qN6iPHltFjycxxcr2/Sx1Gi5HocWp\njLH+vmrFM9v9v3UtfE31t9p1UafS+S/Huq0F4x9Zd04xqK56Xye74602aazSnX5n7t5+PxPfxXF5\nP9NflTwx/EX5rwDfuP6PBl+xfcNRor20U3nvqtdTWJxX76nr22nvpjYGyx4X9Tvi31CaW+TgHNNt\n3/Pjra+Xb62tg1uKlZiJvbTZYrlindoj3zX2zM/Eyyg1Ydr3XW7HuWl3HbdZn2/cNLlrm0+r0uW2\nLLhyVnut6XrMTW0TETExPcLJPRp9W3euN63QcR83Z773sdvt6fT8tpj71mjiI9sfxVax/T0/qzOS\nI+5HVpt92bfAW9DjbduOk3jb9Lr9BqsOu0OqxVz6fVabJGTFmx2iLVvS0dxasxMTEx8TEuSAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAjd5r+nl4K85YMt9y4ZpuObvfuY\n3ji9a7fqYtNvda1q1rOLLafmPdlx3nqZ66SRAUMer/6anPfTBos/Jts1NeccCpfrJuujwTj1Ogjq\nOp1WDufbWZm1YyUtav6f1fbm1azD5tQ6/QabdNDqNFrdPi1mj1OO2HPp89Ivjy0tHVq2rPxasxMx\nMT8TEtZz1A8U2zgfnnyTxrZcE6XZ9m5LuW3aLBa9rzjwYdVkx46za0zNuq1iO5mZn9wWY/Ro9Sm5\ncn2nkHhre8+XWRselneNjzWr39rSzlrTUYLW7/q1yZcVqR1M/wBJkjvqtYizlQP9LHU5sHrn8d0x\nZLUpnx7njy1rPUXr/g7U26n+z3VrP+2IX8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAANXbyDy7VeQOe8l5Rrre7W73uep3LPaIiO8mbLbJaeo+I+bT+Gyn5w5hq/HnhX\nn/Ktv9v8fsfH9w3PT+6ImPuYdNkyV7ie4n5rH5axoJzfRx4tpOQerrPr9T7vvbFxvW7hpuvx9y2T\nBpp7/wCZqcn/AGLwlSf0POI6PV8v8r8oyRk/j9v0Og23BMdez7eoyZsmXv47770uHr5/n/Z1bYAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACLH1OuXTxH0T+QrYtdGh1m\n5V0m24P1dWzfd1WKMuOP594Yzdx/KJa/y4T63XOKbf4i8c8Q+zacu775m3WM8W+K10mCcc0mP37n\nW1n/AJinsF130YuH22P0wb5vmfQfw+ffOSai+HVWr1Oo02LDhx16n961yxqI/wBvuT6YC9BPB48e\n+jnxPtUZ5z/e2XHus2mOvbOstbWTT/mzqPb/AM1n0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAFKn1nefxyL1K7FxnT662fS8c2DFGbS/5uDV58l8l/77YY0s/wB0IM8O\n4truc8u2Pje14/vbnvGuwbfpcf8ApZcuSuOkf32tDLHre59k8l+rXypvl8mHNT/Dmfb8GXBMTTJg\n0vWlw2iY+J7x4KT3+/b1f02vH+PyJ6zvHWm1Ony59Ftepy71mtj7/op02K+XDa0/tH364Y/53X7g\n2Atm2fRce2fQ7Vt2nppNv0ODHptNp8f9XFipWK0rH9kRER/c5gAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPKeWOc08Y+LuYcwyYo1FNg2fV7pOG09Rk+zhvk9nf8Ab7ev\n73q0OvqxeQa8G9GnINDX7tdTybcNHsuHJit7fZM5P4i/f84ti02Skx/rgoeyZLZslr3tNr2mbWtP\n5mZ/dZj9ELgEazn/AJM5tfJkpbbds02zYsft/Rk/ics5sk9/zr/CY/j/AMorMXpfSI8fRw30faDe\nLWrfNynd9Zus/o6tjpS0aWtJn94/3tN4/wDugJrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAKl/re+RY1HJvGfA8OTLWdJo9Tvmqx+79F/u3jDgnr+dfsaj/11tDX0+pR\n5Hr5J9ZfkHPg1GTNodn1GPY9PXJ/yU6bHXHmrH9n34zz/wA4EY6UtkvWlKza1p6isR3My2c/Cnj6\nPFHh/hPDInDa+w7NpNuy5NPT20y5cWGtMmSI6j+teLWmfzM2mZ+Za/3ob8dz5S9Wvi/YZpiyYI3n\nHuGox5q90vh0sTqslJj9/dTDav8AzmxqAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAADo+c8u0Pj/hXIOUbnN423ZNv1G5aqccd2+1hx2yX6j+ftrLWD5Dv2u5Vv+571uee\n2q3LctVl1mqz3/rZMuS83vaf7ZtaZ/vXw/VN8mz439G/KcOHPl02v5LqNPsGmvi/f7tpyZq2/stp\n8Oev/OUHAsd+id44/wANeYud83y0xXwbDs+PbsUZK92rn1WX3Rek/tMU02Ws/wBmX+1cWhF9IPxv\nHDPSRp9+yVxzqeV7tqty90V6vXDjtGlpS0/vHeDJeP8A7r/am6AAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACpj63nkn7/ACTxr4/w5MtP4XSajfdXj7/Rk+7f7GCf9tfs\n6n/11YWn0+XV6jFgw47Zc2W0UpSkdza0z1ERH8+0ivqIeTK+U/WH5G3HBe1tDt2tjZdNWb+6IrpK\nRgvNZ6/q2y0y3j/z/wAz+Xw+n341/wAqfrA8a7XkpNtJotxjedTb7fvrFNJWdREXj/RtfHSnz8fr\ngF+Hhzx/j8UeJuG8MxXx5Y2DaNLttsuKvtrlvixVpfJ1/rWibf3vYgAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8p5Y57g8WeL+Xcy1OOM2HYNp1W52w2tFfu/ZxWvFIn+\ndprFY/tmHq0Ivq9+S44V6Ss+wYr4/wCL5Zuum232TfrJGHHadTkvWO/mInBjpP7f0v8AaCjfPnya\nrPkzZr2yZclpve9p7m1pnuZmVmv0RvGV9XzTyL5CzRkri0Ggw7Fpu6x7Mls2SM2We/8ASpGnw/3Z\nVY6/H6WXjG3jX0ccXzZ8GXT67kuo1G/6jHljr4y2jHhtH+rbBhwWj/zgS3AAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU1/Wp8nV5D5u4dwjT58WbT8b2i2rz1pP6sep1d\n4m1L/wCzFgwWj+zJ/auUa2fq38pf5Z/Ut5G5fTU11mj1+8Zsehz0rFYvo8PWDTT1H/kcWMGN+KcZ\n1/NOU7Px7asE6ndN21mHQaTDX85M2W8UpWP9trRDZ84bxXQcE4hsfGtqxzi2vZtDg27SUtPc1w4c\ndcdImf3/AE1hRB9LrxfHk31j8SyZ9NXVbfxvHn5Bqa2t17Jw1iuC8fzmNRk089f2L9wAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYj9W3lGfDPpq8jcvxanLo9boNnzU0\nOowx3bHq80Rh01o/2ZsuNrZrlfrUeUL8c8H8P4PpsubFm5Pu19Vn+3bqmTTaSkTbHeP37y59PeP7\ncSmoFs30RPGUafjfkjyHqNPitbVarBsOiz9/0mOMVPv6ivX+jb72mn/bj/slaEjj9PHxlHiz0e+O\nNvvTFXW7loP8N6nJjr7ZvbV2nPT3f61cV8WOf/uaRwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAONuW46XZ9u1Wv12ox6TRaXFbPn1Ga0Vpix1ibWtaZ+IiIiZmf7AUdfV\n58mTzf1barYsVp/g+J7VpdsiK5fdS+bJWdTkvEfiJ/p6Y5/txfP4RT8Q8AzeVvK3D+GYMs6fJv8A\nu+l2z79aTf7MZctaWyTEfmKxabT/AGRL4eUud6nyj5L5XzHWYq4NVv8Auuq3TJhrMzXHObLbJ7I7\n/avu6j+yIS3+kD42nmfq2w7/AJYvGm4ntGq3GLRT3UtmyVjS0paf2n258l4/txAvE0mkwbfpMOl0\nuHHptNgpXFiw4aRSmOlY6rWtY+IiIiIiIfYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAEYvqS+Uo8V+jnnufFqcODcd809eP6THmr396dVb7eatf8AWjT/AMRaJ/b2dpOq\np/rd+VZnP448a6bVXiK1zci3DSzjj227mdPpLxb89x1rYmP7Y7/boKr1yv0VvGV+O+DeY821GLUY\nc/Jt4ppcP3K9Y8um0lJimSn8/wClz6mkz/PH1+0qamyZ6SPFk+FvTT454fk0uXQ63QbPhya7TZ7x\na2LWZu8+qr3H7Rmy5eo/aOo+QZcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAa9H1E/KN/K3rD8ia2uTUTodo1v+AdJhz5PfGKukj7OT2dfEUvmpmyxEf+Nn95lex598p6\nfwj4V5rzrUX0sTsW1Z9Xp8esvNMWfUxWY0+GZj5/pMs48cdfPd46ay+TJbLkte9pve0za1rT3MzP\n5mQZa9JXiv8Ay1epTx1w7JpKa7Rbhu+G+v0+TJ9uMmjw959VHf8AP7GLL118zPUR8tk1TV9FbxdT\nknm/mPOdTj0ubBxfaaaTBXLEzlxarWXmK5cfx18YtPqaTPff9LH57nq5UAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAENPq2/4wf7i7f8A/A32/wDB3+FNv/w37/b3/B/f\nj2+3v57/AIn+F/q/PXf7dqImyf6rvCWX1F+nrmnj3Ta6m3a3eNLSdJqcszGOuow5qZ8MZJitpjHO\nTFStpiszFZtMRM9ILelT6PWs4P5K0/JPMm6cd5NtG2Wpm0fH9ptm1Gn1ub9XU6qcuLF/R0mKW+3E\nWjJM9X6rE1yBnn6UfhjU+J/Sftm57li+1unMdXff7UvgrTJi0160x6ak3iZm9bY8cZqzPXX8RMdd\nxMzMkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
[...]
