FORMAT: 1A
HOST: https://apiv2.vueltapp.com/api_1.0/
# Logysto REST API

Documentacion oficial del API RESTFul aplicación LOGYSTO.

## Autenticación - User Login [/User/Login]

### Login [PUT]

Logueo de usuarios de LOGYSTO, verificacion de usuario y contraseña.

Descripción de campos JSON (Request), campos relevantes:

- Body:
    - email: correo de usuario
    - password: contraseña de usuario base64 de la contraseña

Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: estado de la petición correcta = true en caso de error = false
    - message: mensaje de respuesta
    - response: Objeto JSON de Usuario
        - _id : Id único del usuario
        - email: Email de usuario
        - name: Nombre del usuario
        - lastname: Apellidos del usuario
        - session: Objeto JSON de sesión de usuario:
            - exp_date: fecha de expiración del token
            - token: token (email) de usuario generado para la sesión, el cual se usará en los headers más adelante.
        - type: Tipo de servicio que generará el usuario si es mensajería es (messaging)

+ Request (application/json)

    + Body
    
            {
              "email": "wilmeralzateroman@gmail.com",
              "password": "d2FyMjY2MDQ4OQ=="
            }
        
+ Response 200 (application/json)

    + Body
    
            {
              "status": true,
              "response": {
                "_id": "58703a04e8fa120cf0987c17",
                "email": "wilmeralzateroman@gmail.com",
                "email_confirmation": true,
                "active": true,
                "password": "$2a$10$PzZrli3mfND64ZvLho4GZehHRLQAsHH2QIjUBcwiDVbbbLhfrhZrK",
                "name": "Wilmer",
                "lastname": "Alzate Roman",
                "mobilephone": 3204204615,
                "__v": 0,
                "device": [],
                "stats": {
                  "created_services": 178
                },
                "session": {
                  "exp_date": "2017-05-01T05:00:00.000Z",
                  "token": "wilmeralzateroman@gmail.com"
                },
                "corporate_payment": true,
                "favorites": [],
                "password_recover": {
                  "status": true,
                  "token": "$2a$10$ahwhHkWddBNvBWHMxmJ9HepQVtze42MywEh3pm0zueJmSP4U5akVK"
                },
                "type": "messaging"
              },
              "message": "Autenticado correctamente"
            }



## Crear/Actualizar bodegas - Create/Update WareHouses [/Admin/UpdateWarehouses/diego2029_@hotmail.com]

### UpdateWarehouses/:user_email [PUT]
Método de actualización/creación de bodegas

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.

- Params:
    - user_email: Correo de usuario que realiza la petición.
    
- Body:
    - seller: Arreglo de los sellers (bodegas) a actualizar y/o crear en la base de datos de LOGYSTO, si se reciben parametros vacios, se reemplazaran con esta información, si no se quiere actualizar un valor no se envía en el item del arreglo seller.
        - shop_id: (Obligatorio) identificador único del establecimiento (comercio, seller)
        - shop: (Obligatorio) nombre único del establecimiento (comercio, seller)
        - contact_name: nombre de la persona contacto del establecimiento (comercio, seller)
        - email_address: dirección de correo de la persona contacto del establecimiento (comercio, seller)
        - address: dirección del establecimiento (comercio, seller)
        - details: instrucciones adicionales para ubicación del establecimiento (comercio, seller)
        - phone_number: número telefónico del establecimiento (comercio, seller)
        - zip_code: zip code del establecimiento (comercio, seller)
        - city: nombre de la ciudad de ubicación del establecimiento (comercio, seller)
        - municipality: nombre del departamento, provinica, del establecimiento (comercio, seller)
        
Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: Estado de la respuesta true = exitosa, false = error
    - message: en caso de error este parámetro contiene la descripción del error.
    - saved: Arreglo de sellers almacenados y/o actualizados
        - count: cantidad de seller almacenados y/o actualizados
        - shop_saved: Arreglo con los sellers almacenados y/o actualizados
            - shop: equivalente al campo shop enviado en la petición (único)
            - warehouse_id: identificador único del seller almacenado y/o actualizado al lado de LOGYSTO
    - not_saved: Arreglo que contiene la especificación de los shop (sellers) que no se pudieron almacenar
        - count: cantidad de seller no almacenados y/o no actualizados
        - reason: mensaje que contiene la descripción de la razón del error.
        - shop_not_saved: Areglo que contiene la especificación de los sellers
            - shop: descripción (código único) del seller que no se pudo almacenar y/o actualizar
            - address: dirección del seller que no se pudo almacenar (esto se retorna porque en la mayoria de los casos se retorna un error porque no se pudo verificar la dirección física del seller)

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            
    + Body

            {
                "seller":[
                    {
                    "shop_id": "1111",
                    "shop":"DIEGO QUINTERO",
                    "contact_name":"diego quintero loaiza",
                    "email_address":"diego@mail.com",
                    "address":"calle 80 10 60",
                    "details":"Bodega 5",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1112",
                    "shop":"WILMER ALZATE",
                    "contact_name":"wilmer alzate",
                    "email_address":"wilmer@mail.com",
                    "address":"carrera 22 18 28",
                    "details":"Apto 201",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1113",
                    "shop":"DIEGO ESCOBAR",
                    "contact_name":"diego escobar",
                    "email_address":"diego@mail.com",
                    "address":"carrera 2 88",
                    "details":"Oficina 302",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1114",
                    "shop":"CAMILO ARANGO",
                    "contact_name":"camilo arango",
                    "email_address":"camilo@mail.com",
                    "address":"carrera 22 18 28",
                    "details":"Casa verde puertas rojas",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    }
                ]
            }


+ Response 200 (application/json)

        {
        "status":true,
        "message":"Proceso finalizado",
        "response":{
                "saved":{
                    "count":3,
                    "shop_saved":[
                        {
                        "shop":"DIEGO QUINTERO",
                        "warehouse_id":"1"
                        },
                        {
                        "shop":"WILMER ALZATE",
                        "warehouse_id":"2"
                        },
                        {
                        "shop":"CAMILO ARANGO",
                        "warehouse_id":"3"
                        }
                    ]
                },
                "not_saved":{
                    "count":1,
                    "reason":"Address is not valid. Can't verify address for shop.",
                    "shop_not_saved":[
                        {
                        "shop":"DIEGO ESCOBAR",
                        "address":"carrera 2 88"
                        }
                    ]
                }
            }
        }

            
 


## Crear servicio - Create Delivery Order [/Delivery/CreateDeliveriesByJson]

### CreateDeliveriesByJson [POST]

Método de creación de pedidos pertenecientes a multiples bodegas (MULTI BODEGA)

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: Tipo de usuario
    - Authorization: Parámetros de usuario y clave en formato Basic
    - token: Email del usuario que realiza la petición
    
- Body:
    - city(string): Nombre de la ciudad para la busqueda de direccion
    - city_code(requerido)(number): Código de la ciudad en la que se realizaran los servicios. Requerido si no se incluye en cada uno de las direcciones (addresses). En Colombia código DANE de 5 dígitos. 
    - insurance_amount(requerido)(number): Valor por el cual quiere asegurar los pedidos. Valor vacío por defecto 0.
    - store_code(opcional)(string): - (nit o cédula de usuario): Código interno de la tienda. Logysto informará si es necesario que este campo se envie. No aplica para todos los usuarios.
    - addresses(requerido): Arreglo (array) con las direcciones de entrega.
        - shop_id(requerido)(string): Identificador único de la bodega donde se debe recoger el pedido.
        - direccion(requerido)(string): Dirección de entrega del pedido.
        - peso(requerido)(number): Peso del producto a entregar. Valor vacío por defecto 0.
        - instrucciones(requerido)(string): Datos adicionales para la entrega (Apto No, Edificio, ect).
        - orden_numero(opcional)(string): Descripción de número de factura u orden.
        - contacto(opcional)(string): Nombre de la persona quien posiblemente recibirá el pedido.
        - telefono(opcional)(string): Número de teléfono de quien posiblemente recibirá el pedido.
        - email(opcional)(string): Correo electrónico de quien posiblemente recibirá el pedido.
        - is_roundtrip(requerido): Describe si el servicio es ida y regreso. Valor por defecto false.
        - internal_code(opcional)(string): Código interno del cliente.
        - ciudad: (opcional)(string) si se envia por fuera de este objeto como city no es necesario establecer el parametro dentro del objeto address
        - city_code(requerido)(number): Código de la ciudad en la que se realizará el servicios. En Colombia código DANE de 5 dígitos.
        - container(opcional)(string): Contenedor del cliente.
        - generate_b64(opcional): Si se envia en true se retorna en la respuesta el base 64 de la guia generada en pdf.
        - label_type(opcional): Tipo de label para la guía creada. Valores: 1 horizontal (550px x 260px Aprox) y 2 vertical (260px x 315px Aprox).
        - products(requerido)(Array): Arreglo de arreglos que contiene la cantidad de paquetes en la entrega y cada arreglo interno podrá contener la cantidad de productos(objetos) deseada.
            - sku(opcional)(string): Código interno del producto a enviar.
            - upc(opcional)(string): Código internacional del producto a enviar.
            - category(opcional)(string): Categoría del producto a enviar.
            - product_name(opcional)(string): Nombre del producto a enviar.
            - product_price(requerido)(number): Precio del producto a enviar.

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOlMwYzBjVFk1V1hCbVZRPT0=
            token: wilmeralzateroman@gmail.com
            
    + Body

            {
                "city":"Bogota",
                "insurance_amount":"0",
                "addresses":[
                    {
                        "shop_id":"W001",
                        "direccion":"CARRERA 83 # 13 - 50 TORRE 1 APTO 1804 EL TINTAL",
                        "peso":"1",
                        "instrucciones":"CONJUNTO PINARES DE ALSACIA",
                        "details":"",
                        "orden_numero":"15060000006822",
                        "internal_code": "",
                        "container": "",
                        "contacto":"Addresses 1",
                        "telefono":"+573138893768",
                        "email":"LUMYVELOSAV@MISENA.EDU.CO",
                        "is_roundtrip":"false",
                        "generate_b64":true,
                        "label_type": 1,
                        "products": [{
                                "sku":"1111",
                                "upc":"2222",
                                "category":"",
                                "product_name":"TENNIS",
                                "product_price":"34610",
                                "brand" : "Adidas"
                            },{
                                "sku":"3212",
                                "upc":"3452",
                                "category":"",
                                "product_name":"MEDIAS",
                                "product_price":"5000"
                            },
                            {
                                "sku":"6785",
                                "upc":"4123",
                                "category":"",
                                "product_name":"PRENDAS DE VESTIR",
                                "product_price":"34610"
                            }
                        ]        
                    },
                    {
                        "shop_id":"W001",
                        "direccion":"CARRERA 83 # 13 - 50 TORRE 1 APTO 1804 EL TINTAL",
                        "peso":"1",
                        "instrucciones":"CONJUNTO PINARES DE ALSACIA",
                        "details":"",
                        "orden_numero":"15060000006822",
                        "internal_code": "",
                        "container": "",
                        "contacto":"Addresses 2",
                        "telefono":"+573138893768",
                        "email":"LUMYVELOSAV@MISENA.EDU.CO",
                        "is_roundtrip":"false",
                        "generate_b64":true,
                        "label_type": 2,
                        "products": [[{
                                "sku":"1234",
                                "upc":"5678",
                                "category":"",
                                "product_name":"CAMISETA",
                                "product_price":"34610"
                            },{
                                "sku":"4567",
                                "upc":"8901",
                                "category":"",
                                "product_name":"PANTALON",
                                "product_price":"5000"
                            }]
                        ]        
                    }
                ]
            }
            
+ Response 200 (application/json)

    + Body

            {
                "status": true,
                "count_not_create": 0,
                "services_not_create": [],
                "count_create": 3,
                "services_created": [
                    10703845,
                    10703846,
                    10703847
                ],
                "services_guides": [
                    {
                        "pdfB64": "PCFET0NUWVBFIEhUTUwgUFVCTElDICItLy9JRVRGLy9EVEQgSFRNTCAyLjAvL0VOIj4KPGh0bWw+PGhlYWQ+Cjx0aXRsZT40MDQgTm90IEZvdW5kPC90aXRsZT4KPC9oZWFkPjxib2R5Pgo8aDE+Tm90IEZvdW5kPC9oMT4KPHA+VGhlIHJlcXVlc3RlZCBVUkwgd2FzIG5vdCBmb3VuZCBvbiB0aGlzIHNlcnZlci48L3A+Cjxocj4KPGFkZHJlc3M+QXBhY2hlLzIuNC4yOSAoVWJ1bnR1KSBTZXJ2ZXIgYXQgZmlsZXMudnVlbHRhcHAuY29tIFBvcnQgNDQzPC9hZGRyZXNzPgo8L2JvZHk+PC9odG1sPgo=",
                        "code": 10703845,
                        "order_number": "15060000006822",
                        "url_guide": "https://vueltappublic.s3.amazonaws.com/guides/10703845.pdf",
                        "alt_url_guide": "https://files.vueltapp.com/service-10703845.pdf"
                    },
                    {
                        "pdfB64": "PCFET0NUWVBFIEhUTUwgUFVCTElDICItLy9JRVRGLy9EVEQgSFRNTCAyLjAvL0VOIj4KPGh0bWw+PGhlYWQ+Cjx0aXRsZT40MDQgTm90IEZvdW5kPC90aXRsZT4KPC9oZWFkPjxib2R5Pgo8aDE+Tm90IEZvdW5kPC9oMT4KPHA+VGhlIHJlcXVlc3RlZCBVUkwgd2FzIG5vdCBmb3VuZCBvbiB0aGlzIHNlcnZlci48L3A+Cjxocj4KPGFkZHJlc3M+QXBhY2hlLzIuNC4yOSAoVWJ1bnR1KSBTZXJ2ZXIgYXQgZmlsZXMudnVlbHRhcHAuY29tIFBvcnQgNDQzPC9hZGRyZXNzPgo8L2JvZHk+PC9odG1sPgo=",
                        "code": 10703846,
                        "order_number": "15060000006822",
                        "url_guide": "https://vueltappublic.s3.amazonaws.com/guides/10703846.pdf",
                        "alt_url_guide": "https://files.vueltapp.com/service-10703846.pdf"
                    },
                    {
                        "pdfB64": "PCFET0NUWVBFIEhUTUwgUFVCTElDICItLy9JRVRGLy9EVEQgSFRNTCAyLjAvL0VOIj4KPGh0bWw+PGhlYWQ+Cjx0aXRsZT40MDQgTm90IEZvdW5kPC90aXRsZT4KPC9oZWFkPjxib2R5Pgo8aDE+Tm90IEZvdW5kPC9oMT4KPHA+VGhlIHJlcXVlc3RlZCBVUkwgd2FzIG5vdCBmb3VuZCBvbiB0aGlzIHNlcnZlci48L3A+Cjxocj4KPGFkZHJlc3M+QXBhY2hlLzIuNC4yOSAoVWJ1bnR1KSBTZXJ2ZXIgYXQgZmlsZXMudnVlbHRhcHAuY29tIFBvcnQgNDQzPC9hZGRyZXNzPgo8L2JvZHk+PC9odG1sPgo=",
                        "code": 10703847,
                        "order_number": "15060000006822",
                        "url_guide": "https://vueltappublic.s3.amazonaws.com/guides/10703847.pdf",
                        "alt_url_guide": "https://files.vueltapp.com/service-10703847.pdf"
                    }
                ]
            }

## Cancelar Servicio - Cancel Delivery Order [/DeliveryItem/Cancel]

### Cancel Delivery Item [PUT]

Método de cancelación de servicio por código, el servicio podrá ser cancelado si no ha sido tomado y puesto en ruta por un mensajero.

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Authorization: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.

- Body:
    - service_code: Código de servicio asignado a la entrega al momento de ser creada.

Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: estado de la petición correcta = true en caso de error = false.
    - message: mensaje de confirmacion en caso de que el estatus sea true.
    - response: objeto del servicio que fue cancelado.
        
+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            
    + Body
    
            {
                "service_code": 1146851
            }

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Servicio Cancelado",
                "response": {
                    "devolution_signature_object": {
                        "status": false,
                        "date_created": "2019-11-16T18:03:14.203Z"
                    },
                    "signature_object": {
                        "status": false,
                        "date_created": "2019-11-16T18:03:14.203Z"
                    },
                    "show_deliver_info": false,
                    "roundtrip": false,
                    "checkin_is_required": false,
                    "locations": [
                        {
                            "lat": 4.675135594000039,
                            "lon": -74.06083897999991,
                            "address": "CL 87 # 21 - 69  Bogotá D.C.",
                            "details": "Casa verde puertas rojas",
                            "type": 1,
                            "presumed_receptionist_name": "",
                            "presumed_receptionist_phone": "",
                            "order_number": "",
                            "checkin_date": "",
                            "identifier": 0,
                            "is_checkin": false,
                            "status": "in-process",
                            "images": [],
                            "image_uploaded": false,
                            "signed_uploaded": false,
                            "delivery_receiver": null,
                            "delivery_receiver_name": null,
                            "novelty": null,
                            "signature_object": {
                                "status": false,
                                "signatureB64": null,
                                "date_created": null
                            }
                        },
                        {
                            "lat": 4.700571970000055,
                            "lon": -74.08651466099991,
                            "address": "CL 94 # 72A - 95 Bogotá D.C.",
                            "details": "",
                            "type": 2,
                            "presumed_receptionist_name": "Elba Surita",
                            "presumed_receptionist_phone": "",
                            "order_number": "123456",
                            "checkin_date": "",
                            "identifier": 1,
                            "is_checkin": false,
                            "status": "in-process",
                            "images": [],
                            "image_uploaded": false,
                            "signed_uploaded": false,
                            "delivery_receiver": null,
                            "delivery_receiver_name": null,
                            "novelty": null,
                            "signature_object": {
                                "status": false,
                                "signatureB64": null,
                                "date_created": null
                            },
                            "coordinates": [
                                -74.08651466099991,
                                4.700571970000055
                            ]
                        }
                    ],
                    "status": "cancelled",
                    "rated": false,
                    "pickup_try_counter": 0,
                    "deliver_try_counter": 0,
                    "bring_cash": false,
                    "how_much_cash": 0,
                    "raise_cash": false,
                    "how_much_raise": 0,
                    "order_number": "123456",
                    "step_count": 1,
                    "shop_id": "001",
                    "trace": [
                        "5dd039e2fd1a8741f8595310",
                        "5dd37ba153f92455b43ee2c9"
                    ],
                    "is_catcheable_by_messenger": false,
                    "in_route": false,
                    "for_devolution": false,
                    "collect_counter": 0,
                    "_id": "5dd039e2fd1a8741f859530f",
                    "road_map": null,
                    "user": "5a8c8434ef9ddf018d0d6094",
                    "item_name": "Servicio Wilmer A. - CEDI Wilmer Alzate",
                    "instructions": "Wilmer A. ",
                    "service_type": "messaging",
                    "date_created": "2019-11-16T18:03:14.201Z",
                    "presumed_receptionist_name": "Elba Surita",
                    "presumed_receptionist_phone": "",
                    "sku": "",
                    "upc": "",
                    "category": "",
                    "product_price": "",
                    "product_name": "",
                    "city": "bogota",
                    "pickup_images": [],
                    "delivery_images": [],
                    "devolution_images": [],
                    "code_service": 1146851,
                    "__v": 0,
                    "collection_form": "5dd2c842fd1a8741f8595312",
                    "driver": "5d76dda212414a0304448704"
                }
            }
            
## Consultar etiqueta PDF - Get Pdf info [/Delivery/Get/PdfInfo/receiver/10050902]

### /Delivery/Get/PdfInfo/:receiver/:service_code [GET]

Método de obtención de rotulo (pdf)

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - private-key: key de autorización requerida en las peticiones.
    - token: email del usuario que realiza la petición.

- Params:
    - receiver(requerido)(string): Identificador utilizado para especificar si se quiere obtener dentro del label quien recibió la entrega(en caso de estar en estado entregada).
        - los valores permitidos son: "receiver" o "no_receiver"
    - service_code(requerido)(number): Código del servicio asignado a la hora de realizar la creación del mismo.
    
Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: estado de la petición correcta = true en caso de error = false.
    - message: mensaje de confirmacion en caso de que el status sea true.
    - response: url de descarga del pdf.
        
+ Request (application/json)

    + Headers
    
            type: user
            private-key: D077FYE-4J44PF0-KY3TWE6-B9BPJ7V
            token: wilmeralzateroman@gmail.com

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Pdf generado",
                "response": "https://files.vueltapp.com/service-10050902.pdf"
            }
        
## Consultar trazabilidad con evidencia - Get trace with evidence [/Delivery/SearchTraceability/wilmeralzateroman@gmail.com/10050902]

### /Delivery/SearchTraceability/:email/:service_code [GET]

Metodo de obtención de trazabilidad con evidencia.

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - private-key: key de autorización requerida en las peticiones.
    - token: email del usuario que realiza la petición.

- Params:
    - email(requerido)(string): correo del usuario con el cual se creo la entrega a consultar
    - service_code(requerido)(number): Código de la entrega a consultar.
    
Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: estado de la petición correcta = true en caso de error = false.
    - message: mensaje de confirmacion en caso de que el status sea true.
    - response: objeto JSON con los datos de la entrega.
        
+ Request (application/json)

    + Headers
    
            type: user
            private-key: D077FYE-4J44PF0-KY3TWE6-B9BPJ7V
            token: wilmeralzateroman@gmail.com

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Servicio encontrado",
                "response": {
                    "vueltap_guide": 10050902,
                    "order_number": null,
                    "date": "2020-01-29T19:55:02.319Z",
                    "status": "delivered",
                    "raise_cash": 0,
                    "trace": [
                        {
                            "_id": "5e31e31624fb8d2c475c6920",
                            "delivery": "5e31e31624fb8d2c475c691f",
                            "roadmap": "5e31e31624fb8d2c475c691d",
                            "trace_type": "Delivery",
                            "status": "available",
                            "user": "57d9994f5e3256c215b22fe2",
                            "date": "2020-01-29T19:55:02.328Z",
                            "__v": 0
                        },
                        {
                            "_id": "5e332c7ee202d076b8bd262e",
                            "status": "accepted",
                            "delivery": "5e31e31624fb8d2c475c691f",
                            "trace_type": "DeliveryItem",
                            "messenger": "5c62fff8bcbccb730eb6859a",
                            "user_type": "Messenger",
                            "date": "2020-01-30T19:20:30.709Z",
                            "__v": 0
                        },
                        {
                            "_id": "5e33620e92097476c47ea774",
                            "status": "collected",
                            "delivery": "5e31e31624fb8d2c475c691f",
                            "trace_type": "DeliveryItem",
                            "user_type": "Messenger",
                            "date": "2020-01-30T23:09:02.037Z",
                            "__v": 0
                        },
                        {
                            "_id": "5e336214e202d076b8bd2638",
                            "status": "in_transit",
                            "delivery": "5e31e31624fb8d2c475c691f",
                            "trace_type": "DeliveryItem",
                            "messenger": "5c62fff8bcbccb730eb6859a",
                            "user_type": "Messenger",
                            "date": "2020-01-30T23:09:08.535Z",
                            "__v": 0
                        },
                        {
                            "_id": "5e33624b92097476c47ea779",
                            "status": "delivered",
                            "delivery": "5e31e31624fb8d2c475c691f",
                            "trace_type": "DeliveryItem",
                            "user_type": "Messenger",
                            "date": "2020-01-30T23:10:03.525Z",
                            "__v": 0
                        }
                    ],
                    "messenger": {
                        "email": "rapafull@gmail.com",
                        "name": "Desarrollador Vueltap"
                    },
                    "locations": [
                        {
                            "address": "AK 7 # 74 - 26,Bogotá D.C,Colombia",
                            "details": "",
                            "lat": 4.657207294000045,
                            "lon": -74.05385275399993
                        },
                        {
                            "address": "CL 112 # 14B - 47,Bogotá D.C,Colombia",
                            "details": "",
                            "lat": 4.694325857000081,
                            "lon": -74.04336376399993
                        }
                    ],
                    "contact": {
                        "name": "",
                        "phone": "",
                        "receiver": "Destinatario",
                        "receiver_name": "Rubén Patiño",
                        "receiver_id": "650 54 67"
                    },
                    "evidence": {
                        "pickup": {
                            "image": [
                                {
                                    "register_date": "2020-01-30T23:09:02.056Z",
                                    "_id": "5e33620e92097476c47ea775",
                                    "url": "https://vueltap.s3.amazonaws.com/rapafull@gmail.com/5e31e31624fb8d2c475c691f/image_1580425739377.jpg",
                                    "size": "45201"
                                }
                            ],
                            "signature": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAGRFS1hLP2RYUVhxamR3lvqjloqKlv/b57X6////////\n////////////////////////////////////////////2wBDAWpxcZaDlv+jo///////////////\n////////////////////////////////////////////////////////////wAARCAVSBDgDASIA\nAhEBAxEB/8QAFwABAQEBAAAAAAAAAAAAAAAAAAIBA//EACgQAQEBAQABBAIDAQADAQEBAAABAhEx\nEiFBYQMiMlFxQhMzgaFSQ//EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAA\nAAAA/9oADAMBAAIRAxEAPwDuAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM1qZR+2/qA6Wyeam7n+k/HPmtmZPgE+vV8Q/dYCM\n2+rlWie/5KsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Se4Cdb+J5Tbd3k\n8LzmZ/0E5x330sAAAAZu8yCfx/NWzE5loAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAW8RdW+2QVrUn+pmbq9vhucc9771QEkngAAAAABG/fUzF28nUYnbdUFgAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAM1qZ/wBTd2+2W5xz3vvQZy7974XJJ4AAAAAAAAAEbvbMxcnJ\nxGPfVqwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATrXxPIN1qZTy78+0M4+dLAkk8A\nAAAAAAAAAM3eZrUfk97IDcTmf9UeAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEa1dXm\nQNa7eZVnPp/0zmZ/1oAAAAAAAAAAAAFvJ1GPfV1T8l9uE3JOAsZNS/LQAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAADwW8nu5++77eAbbd3k8KzmZjZJJyAAAAAAAAAAJ1vnj3BTLqTzU83r6bPx\nz5oMv5P6h++vpckniFvJaDlnPdcdPTP6jPxz2tUCbiX6TcXPvK6AMzr1T7ai/rv2+VgAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAFsk7S3k7USXd7fAM9936dJOTkJ7AAAAAAAAABbJ5TrfxPdkxb76\nBndb8eF5zJ/rQAABP5P4qR+T4BWZzMaAAAI3/OLRr33FgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAFvJ2lvIj33foD33fpZJyewAAAAAAACdb+Mg26k8p/bf1CY776WDM5mWgAAAAAjUt1Pb2WAAAAW8\nnQRPf8lWj8c81YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAItu7yeALbu8nhcnJyEnJyAAAAAAADLq\nTyzW/ieWZx86A/bf1FTMz4aAAAAAAAAAAAAAJ/Jfbikfy/J/gLk5JAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAARrXqvpyBq3V5FZnphnPpjQAAAAAAEa132ya128yrOfT/AKDM55/qgAAAAAAAAAAAAAAB\nmryM/HOTv9s1+2+fCwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZrXpn2Cd67fTFZz6Z9sxnk7fNUAAA\nAAAAjWrq8yW3V5PCs5mYBnPpn20AAAAAAAAAAAAAAAGavI1F/bfPiA38c5O/2oAAAAAAAAAAAAAA\nAAAAABnqk+WeuAoR/wCT+oerX/8AP/4CxHq1/X/4rN9UBoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHhE/fXb4N3t9MXJycAAAAAA8AeE\nW3d5PDL3d5PDpJJOQGSST2aAAAAAAAAAAAAAAAAAM3eRmJyd/tl/ff1FgAAAAAAAAAAAAAADLqT5\nT67f4wFsu5PtPp1rzVTEn2CfVq+Iei3zVgJ/8cb6c/00A4AAj+G/qrRv+cgLAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZrXJ9tvsifvrt8\nA3GeTt81QAAAAAItu7yeC26vJ4XJycgEnJyAAAAAAAAAAAAAAAAAAJ3eTn9qRn9tdvgFYnJ9tAAA\nAAAAAAAAALeeUXdvtkFXUnlPda8e0Jj50sEzEnn3VzgAAAAAAAAAIv8A7ItE/wDaCwAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATvXPaeQZu9\nvpi5OTicZ5O3yoAAAABGr6r6cmtdvpyrOfTAM59MaAAAAAAAAAAAAAAAAAAFvJ0Ebv8AzFZnJxOJ\n2+qrAAAAAAAAABmtTPkGpu+ePdP7b+ouZkBMzde+lySeAAAAAAAAAAAAAARn+dWj8fmgsAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3k7QZrXp\nicZ7fVTMur2+FgAAAAI1r4jd6+J5M55/oNzn0z7aAAAAAAAAAAAAAAAAAAACNX1a9MVq8jMT27/Y\nKk5OAAAAAAAABbJPdHbv2ngG638Z8smO++lZzMtAAAAAAAAAAAAAAAAAvtKn8fin5L8Kk5OAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAX2c/fe\nvptvrvJ4XJycgHgAAABO9c9p5Na57TyYzz3vkDGee98qAAAAAAAAAAAAAAAAAAAAE7vJ/oMv77+o\ntmJyfbQAAAAALeeQE63J496y6urzLc4k/wBBkzdXulz2AAAAAAAAAAAAAAAAAAE7vM/6DM/tvq2Y\nnMtAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nRvXb6Y3eue08mM8nv5Buc+mNAAABmten/TWvTPtOc/8AVBuc/N8qAAAAAAAAAAAAAAAAAAAAABE/\nfffiN/JfifLczk4DQAAAATrfPaeQbrUz/qZLu9vhucfOvKgJJJ7AAAAAAAAAAAAAAAAAAAAI/lv6\nitXmWfjnJ3+wUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAzWvTPttvJ1GZ6r2g3Gfm+VAAAAzWvTPs1r0xOc+q+rQGc9vq0sAAAAAAAAAAAAAAAAA\nAAAAC3k6I3e30wDE7fVVknJwAAAC2Se6O3d9vAF1dXmVZzM/6SST2aAAAAAAAAAAAAAAAAAAAAAB\nbydBG/21MrR+OebVgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAjev+YDL++uTw6ScjM59MaAAAzWvTDWpmJkur2+AMy6vasAAAAAAAAAAAAAAAAAAA\nAAAAZq8nU4n/AFS/trk8LAAAZrUyzWue08sznt7oCS7vb4XJzwAAAAAAAAAAAAAAAAAAAAAAACPy\nXxItGf21aC5OTgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAFvJ2gzWvTPtmM/N8szPXrt8LAAAZrUzDWpmJzm6vdASXV7fCwAAAAAAAAAAAAAAAAAAA\nAAAAZu8n21E/fXfiA3GeT7qgARrfxkurq8z4VnMyDM4573yoAAAAAAAAAAAAAAAAAAAAAAAAAT+S\n8nP7bmcyn+W/qLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAARb69cnhu9fE8tzn0z7BsnJyAAM1r0w1r0xOc3V7oDObq90sAAAAAAAAAAAAAAAAAAAA\nAAAALeToI3f+YrM5OJxO31Vdsk7QLeT3c7bu8ng9936dJOTkAkknsAAAAAAAAAAAAAAAAAAAAAAA\nAAAzd5lqNftvgNxOZ/1QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAM1eTrUa/bUgGJ/1VgAzWvTPttvJ1GZ6r2gZz6r3SwAAAAAAAAAAAAAAAAAAAAAA\nAAARq+rXpitXkRL6Z35oLtmYmS7vb4M5tvdLAAAAAAAAAAAAAAAAAAAAAAAAAAAABmrydZ+Oe3f7\nZr9tcWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nBq8nU/jnzWb99TMXPaAAjd/5gMv7658OnhmZ6Y0AAAAAAAAAAAAAAAAAAAAAAAAAEb132gJ1fVV5\nx83yZzz3vlQAAAAAAAAAAAAAAAAAAAAAAAAAAAADNXk61Gv21yA38c9uqPAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAW8nRG72zMA/HPOqsk5OFvJ0G\na16Z9sxn5vlknr12+FgAAAAAAAAAAAAAAAAAAAAAAAABbzyi27vJ4Bmt99p4b+PPyzndcnh0AAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAABmrydT+OfJv9tTMXPYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3k6jE7bqn5L4zFycnAEavq1yeG71z2nluM8n2\nDZOTgAAAAAAAAAAAAAAAAAAAAAAAAItu7yeAL3d5PBq+mcivbOU5nqvqoKxnk+2gAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAavJ0Rv9tTMA/HPmrJ7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAL7QT+S/EBmPfV1V28nTM5OI1+2uTwBidvqqyewAAAAAAAAA\nAAAAAAAAAAAAAACNa7fTANX1X0xWZyGc+mM3rk+wZq+rXIuTk4nGeT7UAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAABbydR+OfNN3upmLk5OAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAIz+2rW7vM/wCtzOZA3rk+2Yzyd+ayfvrvwsAAAAAAAAAAAAAAAAAA\nAAAAAE71z2nkDWvieW5z6Z9sxnnvfKgLeTqMz1a7fBq+q+mLk5OAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAFvJ0Ru9szAPxzzqrJOTgAAAAAAAAAAAAAAAIu/fmVgAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAavJaCL+2+fEN3/mGf1zdUxO31UFZnJxoAAAAAAAAAAAAAAAAAAA\nAAAzWvTPsGb1z2nkxnnvfJnPzfKgE71yfareTqMz1X1UG4zydvlQAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAW8nUfjnnVN31X0xcnJwAAAAAAAAAAAAAEa38QFa1Mo/bd+m5x330sGZzMtAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABH5L2yRbl33tBt/azM8R0ntE4zyd+aoAAA\nAAAAAAAAAAAAAAAAAAE61z2nkG616f8AU5z2+rRnPzpYAJ3r4gMv765PC57Rmc+mNAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAZq8jUfz19QG4nt2/KgAAAAAAAAAAALZJ7p1uTx71kzdXugZbd3k8LzmT\n/Wyc8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJ3eZ/1GJ2t3e6/\nxWJzP+goAAAAAAAAAAAAAAAAAAAAE618TyBrXPaeTOee98mc8975UAB4Bmr6YnE/6rJ++u/DoAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAABbydBO7ycny3M5E5nq16qsAAAAAAAAAGa1M/6DbeeUXV1eZZ\nJd+98Okkk9gTnEnnyoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD\nV5LRH5L4gJzO6dU/jnt1QAAAAAAAAAAAAAAAAAAAI1q6vMga128yrOfT/pnPp/1oAACN31X0xu9c\nn2YzydvkFScnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEbvb6YrV5GYnzfkFScnAAAAAAAABmtTP\nlH7b+oDbvvtlucfN8tmZPDQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAHLX7bdbeS1H4579BcnJwAAAAAAAAAAAAAAAAAALeeXO27vJ4Btt3eTwrOZmNkknsAAAM1\neTrfDn/PX0Dczt9VWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJ3eTn9gz+evqLZmcjQAAAAAAE63\n8Tyb1z2nkxnk+wZnHffSwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAABH5L7cVmczEX9vyOgAAAAAAAAAAAAAAAABbydpbJO1z9936A9936dJJJyEnJ7AAAAJ3rn\ntPIM1fVfTFycnGYz6Z9tAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAt5OozPVr1U3e30xcnJwAAAA\nAABmtemNt5O1GZ672+AMZ/6qwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAZq8lrUfkviAfjnmrZiczGgAAAAAAAAAAAAAAFsk7S2SdrnJd3t8ASXd7fDpJwnsA\nAAAW8naDNa9MTjP/AFST167fCwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGavI1H89fUBuJ835UA\nAAAAAI1e30wGX99fTpJyMzOTjQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAHK/tt03eZqPxz36DoAAAAAAAAAAAAAAWyTtLZJ2ucl3e3wBJd3t8Ong8AAAAAC\nLfXrk8G9f8xWc+mA2Tk5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATu8nP7bmcic/tvvwsAAAAA\nGa16YDN657TyYzyfbMZ/6qwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAR+S+I3E5lG73TrPaAAAAAAAAAAAAAFsk7S2Se6JLu9vgGSXd7fDoAAAAADNXk+2\non76+oDcZ573yoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAE/kvJz+1Iz+2+/AKzORoAAAAAW8na\niT13t8F/fXJ4XJyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAzX8aDnPfX/wBdXP8AH/J0AAAAAAAAAAAZbJPc1qT/AFMl3e3wDJLu9vh0AAAAAAC3k6Cd\n3/mNzOTicTt9VWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACfyXk5/bczkTn9t9+IsAAAABGr2+\nmN1r4nluc+mfYGZycaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAADNfxrWb/jQT+P5q0/j/AI//AFQAAAAAAAJ1uTx70FWyeUXV17ZJm699Lkk8AnOOefdQ\nAAAAAAAIv765PDd65Putxnk+wb4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAT+S8nP7UiftvvxA\nVmcjQAAATvXPaeTeuePJjPPe+QMZ573yoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAE/k/ipG/fUgMxeWyujLmVPp1nxQWI/8n9w/wDJ9AsR67/R69f/\nAMgtl1J5T6t/1/8AhMfOgZ3W/HtF5zJ/rQAAAAAAAAAt5BG72+mAZ/bXb4WScnAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAE/kvJz+25nImftvvxFgAAM1r0z7Na9MTnPb6qDc5+b5UAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACL/7ItH/APqCwAAA\nAAAAAAAAAAAAALeTtBmryMxPm/LJPXrt8LAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAT+S8nP7\nUiftvvxAVmcjQAZbydbbydqJLu9vgDMur2rAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGf/AGVaMfyoLAAAAAAAAAAAAAAAARbd65PBq9vpisz0\nwGycnIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACfyXk5/bczkTn9t9+IsAt5O0R77v0B77v0v\nwScnIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAI/H8rvio/H4oLAAAAAAAAAAAAAATvXPaeW616Z9sxn5vkDGeT7UAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAACfyXk5/akZ/bffgFZnI0Rq+q+mAW3d5PC5OTkZmcjQAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANfxv+J/H/H/6rX8b/ifx\n/wAf/oKAAAAAAAAAAAALeTp4c/fevoG5nqvasAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAT+\nS+3P7bmcic/trrd657TyDN6/5is59M+2Yzz3vlQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGv43/E/j/j/APVXxU/j8UFAAAAAAAAAABbJ\nPdHvu/1ALfXeTwuTk5CSSewAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAn8l9uf2pzl7q6viA\nr+GftmM9vqpJ672+FgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAIz7bsWjftqUFgAAAAAAAM1qZZrfPaeTOPnQMkur2+Fz2AAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAADwCfyX24jM9Xt8HvrTrJycgHgAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmp6o0BGLz9atO8995\n5Z3c+AWI/wDJfmH/AJP6gLLZPNR+9+ifj/ug27n+s9Wte0ipmT4aDM5k/wBaAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAACN6+I3eue08p/HO3v9AvOfTPtoAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAM1r0xrn/ACvb4gMvfnzXTM5OJxPVq6qwAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZrXpn2Cd3t9MNe0mYZnpnqpidvqoLzOTgAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHhE/fXb4N3t9Mbf0z7AzV9WvT\nFycnE4nJ3+1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM1r0z7b4RP\n312+Abicnb5rP57+o3d5Of23M5AaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAADNa5PsE7vb6Yr2zlmM8nb5rN3tmYBmerXqqyTk4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAIn767fDfyX4ny3M5OA23k6jE7bqm72zMXJycAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAL7QR+S/EAz+2rqrt5OmZycRu9szAMTtuqsk5O\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFvJ1GJ3V1Td/5hdcnpyDd\na57TyYzz3vkznnvfKgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARr\nNuuxWczP+tAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf/9k=\n"
                        },
                        "deliver": [
                            {
                                "register_date": "2020-01-30T23:09:57.019Z",
                                "_id": "5e33624592097476c47ea778",
                                "url": "https://vueltap.s3.amazonaws.com/rapafull@gmail.com/5e31e31624fb8d2c475c691f/image_1580425796045.jpg",
                                "size": "3194"
                            }
                        ],
                        "returned": []
                    }
                }
            }