FORMAT: 1A
HOST: https://apiv2.vueltapp.com/api_1.0/
# Vueltap REST API

Documentacion oficial del API RESTFul aplicación Vueltap.

## Login User Method [/User/Login]

### Login [PUT]

Logueo de usuarios de Vueltap, verificacion de usuario y contraseña.

Descripción de campos JSON (Request), campos relevantes:

- Body:
    - email: correo de usuario
    - password: contraseña de usuario base64 de la contraseña

Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: estado de la petición correcta = true en caso de error = false
    - message: mensaje de respuesta
    - response: Objeto JSON de Usuario
        - _id : Id único del usuario
        - email: Email de usuario
        - name: Nombre del usuario
        - lastname: Apellidos del usuario
        - session: Objeto JSON de sesión de usuario:
            - exp_date: fecha de expiración del token
            - token: token (email) de usuario generado para la sesión, el cual se usará en los headers más adelante.
        - type: Tipo de servicio que generará el usuario si es mensajería es (messaging)

+ Request (application/json)

    + Body
    
            {
              "email": "wilmeralzateroman@gmail.com",
              "password": "d2FyMjY2MDQ4OQ=="
            }
        
+ Response 200 (application/json)

    + Body
    
            {
              "status": true,
              "response": {
                "_id": "58703a04e8fa120cf0987c17",
                "email": "wilmeralzateroman@gmail.com",
                "email_confirmation": true,
                "active": true,
                "password": "$2a$10$PzZrli3mfND64ZvLho4GZehHRLQAsHH2QIjUBcwiDVbbbLhfrhZrK",
                "name": "Wilmer",
                "lastname": "Alzate Roman",
                "mobilephone": 3204204615,
                "__v": 0,
                "device": [],
                "stats": {
                  "created_services": 178
                },
                "session": {
                  "exp_date": "2017-05-01T05:00:00.000Z",
                  "token": "wilmeralzateroman@gmail.com"
                },
                "corporate_payment": true,
                "favorites": [],
                "password_recover": {
                  "status": true,
                  "token": "$2a$10$ahwhHkWddBNvBWHMxmJ9HepQVtze42MywEh3pm0zueJmSP4U5akVK"
                },
                "type": "messaging"
              },
              "message": "Autenticado correctamente"
            }



## Create/Update WareHouses Method [/Admin/UpdateWarehouses/diego2029_@hotmail.com]

### UpdateWarehouses/:user_email [PUT]
Método de actualización/creación de bodegas

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.

- Params:
    - user_email: Correo de usuario que realiza la petición.
    
- Body:
    - seller: Arreglo de los sellers (bodegas) a actualizar y/o crear en la base de datos de vueltap, si se reciben parametros vacios, se reemplazaran con esta información, si no se quiere actualizar un valor no se envía en el item del arreglo seller.
        - shop_id: (Obligatorio) identificador único del establecimiento (comercio, seller)
        - shop: (Obligatorio) nombre único del establecimiento (comercio, seller)
        - contact_name: nombre de la persona contacto del establecimiento (comercio, seller)
        - email_address: dirección de correo de la persona contacto del establecimiento (comercio, seller)
        - address: dirección del establecimiento (comercio, seller)
        - details: instrucciones adicionales para ubicación del establecimiento (comercio, seller)
        - phone_number: número telefónico del establecimiento (comercio, seller)
        - zip_code: zip code del establecimiento (comercio, seller)
        - city: nombre de la ciudad de ubicación del establecimiento (comercio, seller)
        - municipality: nombre del departamento, provinica, del establecimiento (comercio, seller)
        
Descripción de campos JSON (Response), campos relevantes:

- Body:
    - status: Estado de la respuesta true = exitosa, false = error
    - message: en caso de error este parámetro contiene la descripción del error.
    - saved: Arreglo de sellers almacenados y/o actualizados
        - count: cantidad de seller almacenados y/o actualizados
        - shop_saved: Arreglo con los sellers almacenados y/o actualizados
            - shop: equivalente al campo shop enviado en la petición (único)
            - warehouse_id: identificador único del seller almacenado y/o actualizado al lado de vueltap
    - not_saved: Arreglo que contiene la especificación de los shop (sellers) que no se pudieron almacenar
        - count: cantidad de seller no almacenados y/o no actualizados
        - reason: mensaje que contiene la descripción de la razón del error.
        - shop_not_saved: Areglo que contiene la especificación de los sellers
            - shop: descripción (código único) del seller que no se pudo almacenar y/o actualizar
            - address: dirección del seller que no se pudo almacenar (esto se retorna porque en la mayoria de los casos se retorna un error porque no se pudo verificar la dirección física del seller)

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            
    + Body

            {
                "seller":[
                    {
                    "shop_id": "1111",
                    "shop":"DIEGO QUINTERO",
                    "contact_name":"diego quintero loaiza",
                    "email_address":"diego@mail.com",
                    "address":"calle 80 10 60",
                    "details":"Bodega 5",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1112",
                    "shop":"WILMER ALZATE",
                    "contact_name":"wilmer alzate",
                    "email_address":"wilmer@mail.com",
                    "address":"carrera 22 18 28",
                    "details":"Apto 201",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1113",
                    "shop":"DIEGO ESCOBAR",
                    "contact_name":"diego escobar",
                    "email_address":"diego@mail.com",
                    "address":"carrera 2 88",
                    "details":"Oficina 302",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    },
                    {
                    "shop_id": "1114",
                    "shop":"CAMILO ARANGO",
                    "contact_name":"camilo arango",
                    "email_address":"camilo@mail.com",
                    "address":"carrera 22 18 28",
                    "details":"Casa verde puertas rojas",
                    "phone_number":"123456",
                    "zip_code":"00000",
                    "city":"Bogota",
                    "municipality":"Cundinamarca"
                    }
                ]
            }


+ Response 200 (application/json)

        {
        "status":true,
        "message":"Proceso finalizado",
        "response":{
                "saved":{
                    "count":3,
                    "shop_saved":[
                        {
                        "shop":"DIEGO QUINTERO",
                        "warehouse_id":"1"
                        },
                        {
                        "shop":"WILMER ALZATE",
                        "warehouse_id":"2"
                        },
                        {
                        "shop":"CAMILO ARANGO",
                        "warehouse_id":"3"
                        }
                    ]
                },
                "not_saved":{
                    "count":1,
                    "reason":"Address is not valid. Can't verify address for shop.",
                    "shop_not_saved":[
                        {
                        "shop":"DIEGO ESCOBAR",
                        "address":"carrera 2 88"
                        }
                    ]
                }
            }
        }

            
 
## Get Trazability By Delivery Id [/DeliveryTrace/5a38feb7663dcd0e6c246ab7/]  

### DeliveryTrace/:delivery_id [GET]
Obtener trazabilidad de estados

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.


- Params:
    - delivery_id: ide del servicio

Descripción de campos JSON (Response), campos relevantes:

- Body:
Arreglo de estados
    - _id: identificador unico del registro del estado en la base de datos
    - delivery_id: identificador del servicio al que pertenece el estado
    - status: estado del servicio, pueden ser:
        - available: disponbile para ser aceptado por un mensajero
        - accepted: el mensajero lo acepto en la aplicación móvil
        - collected: el mensajero ya recolecto el producto a entregar
        - in-transit: en transito hacia direcciones de entrega.
        - returning: cuando el servicio representa ida y vuelta, es el estado que indica que el mensajero está retornando al punto de partida, sitio de recolección
        - delivered: entregado        
    - overall_status: estado en general del servicio, es para uso interno
        - requested: solicitado por el usuario
        - started: iniciado por el mensajero
        - in-process: en proceso de entrega
        - finished: finalizado/entregado
        - not-deliverd: no entregado, sucedió una novedad al entregar
    - date: fecha y hora (ISO) en la que se registra el movimiento, fecha en que se registro el estado

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            

+ Response 200 (application/json)

    + Body
    
            [
                {
                    "_id":"5a57d9c8cce1967b70a65e57",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"accepted",
                    "overall_status":"started",
                    "__v":0,
                    "date":"2018-01-11T21:40:24.720Z"
                },
                {
                    "_id":"5a57d9d0cce1967b70a65e58",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"available",
                    "overall_status":"requested",
                    "__v":0,
                    "date":"2018-01-11T21:40:32.567Z"
                },
                {
                    "_id":"5a57d9e0cce1967b70a65e59",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"accepted",
                    "overall_status":"started",
                    "__v":0,
                    "date":"2018-01-11T21:40:48.655Z"
                },
                {
                    "_id":"5a57d9e6cce1967b70a65e5a",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"in-transit",
                    "overall_status":"started",
                    "__v":0,
                    "date":"2018-01-11T21:40:54.254Z"
                },
                {
                    "_id":"5a57d9eccce1967b70a65e5b",
                    "delivery_id":"5a38feb7663dcd0e6c246ab7",
                    "status":"delivered",
                    "overall_status":"finished",
                    "__v":0,
                    "date":"2018-01-11T21:41:00.555Z"
                }
            ]
            
            
## Get Trazability By Service Code [/DeliveryTraceByCode/1026846]  

### DeliveryTraceByCode/:service_code [GET]
Obtener trazabilidad de estados

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.


- Params:
    - service_code: codigo del servicio

Descripción de campos JSON (Response), campos relevantes:

- Body:
Objeto JSON con estado de la petición y arreglo de estados
    - status: estado de la respuesta
    - message: mensaje de la respuesta
    - response: arreglo que contiene la trazabilidad
        - _id: identificador unico del registro del estado en la base de datos
        - delivery: identificador del servicio al que pertenece el estado
        - user: identificador de usuario que creo el servicio
        - status: estado del servicio, pueden ser:
            - schedule: el servicio fue programado
            - available: disponbile para ser aceptado por un mensajero
            - cancelled: cancelación del servicio
            - accepted: el mensajero lo acepto en la aplicación móvil
            - collected: el mensajero ya recolecto el producto a entregar
            - not-collected: servicio no pudo ser recogido
            - in-transit: en transito hacia direcciones de entrega
            - deliver_attempt: el paquete no puede ser entrega y se debe realizar un nuevo intento de entrega
            - returning: cuando el servicio representa ida y vuelta, es el estado que indica que el mensajero está retornando al punto de partida, sitio de recolección
            - returned: cuando el servicio es devuelto al punto de recoleccion.
            - delivered: entregado
        - date: fecha y hora (ISO) en la que se registra el movimiento, fecha en que se registro el estado

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9RPT0=
            token: wilmeralzateroman@gmail.com
            

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Trace find",
                "response": [
                    {
                        "_id": "5c9ba7595eae816c1bb26769",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "Delivery",
                        "status": "available",
                        "user": "5a8c8434ef9ddf018d0d6094",
                        "date": "2019-03-27T11:39:53.113Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7b874d99b6c477a9126",
                        "status": "accepted",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:41:28.718Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7eb2463386c53bd60ca",
                        "status": "collected",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:19.345Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7ee74d99b6c477a912e",
                        "status": "in-transit",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:22.796Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba8272463386c53bd60ce",
                        "status": "delivered",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:43:19.050Z",
                        "__v": 0
                    }
                ]
            }
            
            
## Get Trazability By Client Order Number [/Delivery/Get/Trace/1026846]  

### Delivery/Get/Trace/:order_number [GET]
Obtener trazabilidad de estados por número de orden de cliente

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario que realiza la peticion, por defecto "user".
    - Autorizathion: Autorización basica para los llamadas http.
    - token: email del usuario u objeto token que se responde en el objeto session.token en el método login.


- Params:
    - order_number: número de orden del cliente

Descripción de campos JSON (Response), campos relevantes:

- Body:
Objeto JSON con estado de la petición y arreglo de estados
    - status: estado de la respuesta
    - message: mensaje de la respuesta
    - response: arreglo que contiene la trazabilidad
        - _id: identificador unico del registro del estado en la base de datos
        - delivery: identificador del servicio al que pertenece el estado
        - user: identificador de usuario que creo el servicio
        - status: estado del servicio, pueden ser:
            - schedule: el servicio fue programado
            - available: disponbile para ser aceptado por un mensajero
            - cancelled: cancelación del servicio
            - accepted: el mensajero lo acepto en la aplicación móvil
            - collected: el mensajero ya recolecto el producto a entregar
            - not-collected: servicio no pudo ser recogido
            - in-transit: en transito hacia direcciones de entrega
            - deliver_attempt: el paquete no puede ser entrega y se debe realizar un nuevo intento de entrega
            - returning: cuando el servicio representa ida y vuelta, es el estado que indica que el mensajero está retornando al punto de partida, sitio de recolección
            - returned: cuando el servicio es devuelto al punto de recoleccion.
            - delivered: entregado
        - date: fecha y hora (ISO) en la que se registra el movimiento, fecha en que se registro el estado

+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOmQyRnlNalkyTURRNE9Tbz0=
            token: wilmeralzateroman@gmail.com
            

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Trace find",
                "response": [
                    {
                        "_id": "5c9ba7595eae816c1bb26769",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "Delivery",
                        "status": "available",
                        "user": "5a8c8434ef9ddf018d0d6094",
                        "date": "2019-03-27T11:39:53.113Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7b874d99b6c477a9126",
                        "status": "accepted",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:41:28.718Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7eb2463386c53bd60ca",
                        "status": "collected",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:19.345Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba7ee74d99b6c477a912e",
                        "status": "in-transit",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "messenger": "5b3f93af945bf426247851f6",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:42:22.796Z",
                        "__v": 0
                    },
                    {
                        "_id": "5c9ba8272463386c53bd60ce",
                        "status": "delivered",
                        "delivery": "5c9ba7595eae816c1bb26768",
                        "trace_type": "DeliveryItem",
                        "user_type": "Messenger",
                        "date": "2019-03-27T11:43:19.050Z",
                        "__v": 0
                    }
                ]
            }            

            
## Create Delivery Order [/Delivery/CreateDeliveriesByJson]  

### CreateDeliveriesByJson [POST]


Método de creación de pedidos pertenecientes a multiples bodegas (MULTI BODEGA)

Descripción de campos JSON (Request), campos relevantes:

- Header:
    - type: tipo de usuario
    - Authorization: parámetros de usuario y clave en formato Basic
    - token: email del usuario que realiza la petición
    
- Body:
    - city(requerido)(string): ciudad en la que se realizaran los servicios, valor vacío por defecto Bogota.
    - insurance_amount(requerido)(number): valor por el cual quiere asegurar los pedidos, valor vacío por defecto 0.
    - store_code(opcional)(string): - (nit o cédula de usuario): código interno de la tienda. Vueltap informará si es necesario que este campo se envie, no aplica para todos los usuarios.
    - addresses(requerido): arreglo con las direcciones de entrega.
        - shop_id(requerido)(string): identificador unico de la bodega donde se debe recoger el pedido.
        - direccion(requerido)(string): dirección de entrega del pedido.
        - peso(requerido)(number): peso del producto a entregar, valor vacío por defecto 0.
        - instrucciones(requerido)(string): datos adicionales para la entrega (Apto No, Edificio, ect).
        - orden_numero(requerido)(string): descripcion de numero de factura u orden, se puede enviar vacío.
        - contacto(requerido)(string): nombre de la persona quien posiblemente recibirá el pedido, se puede enviar vacío.
        - telefono(requerido)(string): número de telefono de quien posiblemente recibirá el pedido, se puede enviar vacío.
        - email(requerido)(string): correo electrónico de quien posiblemente recibirá el pedido, se puede enviar vacío.
        - is_roundtrip(requerido): describe si el servicio es ida y regreso, valor por defecto false.
        - sku(requerido)(string): codigo interno del producto a enviar, se puede enviar vacío.
        - upc(requerido)(string): codigo internacional del producto a enviar, se puede enviar vacío.
        - category(requerido)(string): categoría del producto a enviar, se puede enviar vacío.
        - product_name(requerido)(string): nombre del producto a enviar, se puede enviar vacío.
        - product_price(requerido)(number): precio del producto a enviar, se puede enviar vacío.
        - internal_code(requerido)(string): codigo interno del cliente, se puede enviar vacío.
        - container(requerido)(string): contenedor del cliente, se puede enviar vacío.
        - generate_b64(campo opcional): si se envia en true se retorna en la respuesta el base 64 de la guia generada en pdf
    
+ Request (application/json)

    + Headers
    
            type: user
            Authorization: Basic d2lsbWVyYWx6YXRlcm9tYW5AZ21haWwuY29tOlMwYzBjVFk1V1hCbVZRPT0=
            token: wilmeralzateroman@gmail.com
            
    + Body
    
            {
                "city": "bogota",
                "insurance_amount": "1000000",
                "addresses": [
                    {
                        "shop_id": "1",
                        "direccion": "Calle 125 #52A-17",
                        "peso": "",
                        "instrucciones": "",
                        "orden_numero": "",
                        "contacto": "Paulina Muñoz",
                        "telefono": "965847147",
                        "email": "paulinamunoz@ejemplo.com",
                        "is_roundtrip": "true",
                        "sku": "",
                        "upc": "",
                        "category": "",
                        "procut_name": "",
                        "product_price": "",
                        "internal_code": "",
                        "container": "123",
                        "internal_code": "2343re",
                        "generate_b64": true
                    },
                    {
                        "shop_id": "2",
                        "direccion": "Calle 115 #48-1",
                        "peso": "",
                        "instrucciones": "Watch out with the dog!",
                        "orden_numero": "4",
                        "contacto": "Diego Quintero",
                        "telefono": "3114295150",
                        "email": "davidrosales@ejemplo.com",
                        "is_roundtrip": "true",
                        "sku": "",
                        "upc": "",
                        "category": "",
                        "procut_name": "",
                        "product_price": "",
                        "container": "",
                        "internal_code": ""
                    },
                    {
                        "shop_id": "3",
                        "direccion": "Carrera 13 Bis #109-2",
                        "peso": "",
                        "instrucciones": "",
                        "orden_numero": "",
                        "contacto": "Wilmer Alzate",
                        "telefono": "",
                        "email": "sergeaguilera@example.com",
                        "is_roundtrip": "false",
                        "container": "",
                        "internal_code": "67845df",
                        "generate_b64": true
                    },
                    {
                        "shop_id": "3",
                        "direccion": "Calle 2a #69f-2",
                        "peso": "",
                        "instrucciones": "7th floor",
                        "orden_numero": "6",
                        "contacto": "Lucas Uribe",
                        "telefono": "",
                        "email": "lucasuribe@ejemplo.com",
                        "is_roundtrip": "false",
                        "sku": "",
                        "upc": "",
                        "category": "",
                        "procut_name": "",
                        "product_price": "",
                        "container": "",
                        "internal_code": ""
                    },
                    {
                        "shop_id": "1",
                        "direccion": "Calle 39g Sur #68g-1",
                        "peso": "",
                        "instrucciones": "",
                        "orden_numero": "",
                        "contacto": "Al Olatte",
                        "telefono": "",
                        "email": "alolatte@ejemplo.com",
                        "is_roundtrip": "false",
                        "container": "",
                        "internal_code": ""
                    }
                ]
            }

+ Response 200 (application/json)

    + Body
    
            {
                "status": true,
                "message": "Proceso finalizado!",
                "response": {
                    "service_create": 5,
                    "total_not_create": 0,
                    "service_not_create": [],
                    "code_services": [
                        "1132528",
                        "1132529",
                        "1132530",
                        "1132531",
                        "1132532"
                    ],
                    "services_guides": [
                         {
                             "code": 1132528,
                             "url_guide": "http://files.vueltap.com.co/pdf/service-1132528.pdf",
                             "pdfB64": "JVBERi0xLjMKJf////8KMTAgMCBvYmoKPDwKL1R5cGUgL1hPYmplY3QKL1N1YnR5cGUgL0ltYWdlCi9CaXRzUGVyQ29tcG9uZW50IDgKL1dpZHRoIDEwMAovSGVpZ2h0IDEwMAovQ29sb3JTcGFjZSAvRGV2aWNlUkdCCi9GaWx0ZXIgL0RDVERlY29kZQovTGVuZ3RoIDExODk5Cj4+CnN0cmVhbQr/2P/gABBKRklGAAEBAAABAAEAAP/bAEMAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/bAEMBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/AABEIAGQAZAMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AP36/wCC53/Bc7/hy5/wy7/xi7/w0n/w0n/wu3/mtv8Awp3/AIQv/hTv/Co/+qR/FP8A4SP/AISP/haf/UC/sj+wv+Yp/an/ABLvwB/4jnP+sXX/AJuz/wDkj0f8Hzn/ADi6/wC72f8A30evv+7u/wDgi9/wTX/4Ivf8Eyv2xf2xf+CZX7P/AMaP+F0fs/8A7GPgDXdd8AfsY/spfEb4p+Jfin8Rv2Um+KWp+NfGup/FJvAn9sf2x/wgnie88R+I7zxPqviPUPEeq2dxcWV99u1DULMA+AP+I5z/AKxdf+bs/wD5I9H/ABHOf9Yuv/N2f/yR6P8Ah/p/way/9IV//Ocn/BOv/wCfJX0B/wAFR/Bf/BLL9qD/AINsvjn/AMFF/wBin/gn/wDs/wD7O/8AwnH/AArL/hWnin/hlT9nX4SfHbwf/wAIz+3p8PvgX4y/4nfwntfEH/CP/wDCQf8ACP8AivTv+JB44u/7V8Ha39k1X7P/AGlqWkQgH6/fsC/8Fzv+G4/+CWX7an/BS7/hl3/hV/8Awx//AMNHf8WV/wCF2/8ACa/8LE/4Z/8A2dfBvx9/5KP/AMKj8Jf8Il/wlv8Awlv/AAif/Ih+Jv7B/s/+3f8Aidfa/wCxrb6A/wCCKn/BVv8A4fB/ssePv2l/+FC/8M7/APCD/tAeKvgX/wAIV/wtH/hbf9qf8Iz8OvhV4/8A+Ep/4SP/AIV18MvsX23/AIWb/ZP9if2Dd/Zv7E+3/wBr3H9pfY7D8Af+DVrx/wDCz4Uf8EC/+CiXxS+Ongr/AIWV8Evhr+0B+1v4/wDjF8Ov+Ec8OeMf+E++Fng79jD9njxF8QfBX/CI+ML3TvCXir/hKvCWnavoX/COeKdQsPDmufb/AOzNbvbXTLq6nT9/v+CKn7Xn7Av7aP7LHj74pf8ABOj9mD/hk34JaB+0B4q8AeKfh1/wpX4L/Aj+2vinpfw6+FXiLW/Gv/CI/AvxL4q8Jaj/AGj4S8VeB9C/4SPUdQh8R3n/AAjn9mXdlHpmj6RPcAHz/wD8Fzv+C53/AA5c/wCGXf8AjF3/AIaT/wCGk/8Ahdv/ADW3/hTv/CF/8Kd/4VH/ANUj+Kf/AAkf/CR/8LT/AOoF/ZH9hf8AMU/tT/iXfr/+yd8dP+GoP2WP2af2l/8AhFv+EH/4aI/Z/wDg38dP+EK/tv8A4Sb/AIQ//hbfw68OeP8A/hFv+Ej/ALI8P/8ACQf8I/8A8JB/ZP8Abf8AYOif2r9k+3/2Rpv2j7HD/lCf8Fzv2Bf+Cpv7Dn/DLv8Aw8u/bU/4bA/4Wh/wu3/hSv8Axkd+0V+0B/wrv/hCv+FR/wDCx/8Akvvg3wl/wiX/AAlv/CW+A/8AkU/7Q/t7/hGf+J79k/sXRvtP6/f8Gc/7WP7U/wAV/wBvr4j/AAL+KX7S37QHxK+CXw1/YA8Yf8K6+Dvj/wCMnxF8Y/CzwD/wh3xo/Zi8H+Ef+EK+HviLxHqPhLwr/wAIr4S1HUPC3hz+wtIsP7D8OX97ommfZdMup7VwD9AP2sf+Dyn/AIZf/an/AGlv2aP+Hcf/AAnH/DO/7QHxk+Bf/Ca/8Nff8Iz/AMJh/wAKk+IviPwB/wAJT/wjn/DL3iD/AIR//hIP+Ef/ALW/sT+3tb/sr7X9g/tfUvs/2yb5/wD+I5z/AKxdf+bs/wD5I9fmB+xL8J/hZ8cf+Dun4x/C341/DT4f/GD4ZeKP2/8A/gqf/wAJN8Ovil4N8OfEDwJ4i/sTw9+1x4i0b+3fCPizTdX8P6v/AGR4g0jStd0z+0NPuPsGsaZp+p2vlXtlbTxfv9+3r/wUf/4NuP8Agnb+1j8Vv2OvjX/wR2+H/ij4m/B//hBf+Em134W/8E+P2Ddb8CX3/CwPht4O+KWjf2Fqfizxz4J8QXP2bw/420qz1P8AtDwxpnk6xb6hb2v22yittQuwD5A/4jnP+sXX/m7P/wCSPR/xHOf9Yuv/ADdn/wDJHr2D9nr/AILFf8Gx37Snx9+B/wCzn4F/4IzeH9J8bfH74wfDT4KeDtU8Wf8ABO7/AIJ+WPhXTfFXxU8aaL4F8Pah4mvtH+J2vavZ+H7PV9ds7jWbrS9D1nUbfTo7max0rUblIrOb8QP+Duv9nr4Bfs1/8FJPgl4F/Zz+B3wf+APgnVv2IPht4s1Twd8FPhp4L+FfhXUvFV98ef2ldHvvE2oeHvAui6DpF54gvNI0LQ9LutZuLOTUbjTtG0qxmuXttOs4oQD/AFW6KKKAP4A/+D5z/nF1/wB3s/8Avo9H/BfT/lVl/wCCK/8A3jk/9d1/GSj/AIPnP+cXX/d7P/vo9fQHgv8A4Kj/APBtl+1B/wAEsv8Agn/+xT/wUX+Of/Ccf8M7/s//ALKn/CU/DT/hWX7enhn/AIQ/47fCT9nW1+E+t/8AFZfAv4feH/8AhIP+Ef8A+Eg8b6B/xLvFet+DtV+1/wBq2n9pfZ9I1KEA/wA4Ov7/AD/nRR/z/wBJh6P+OFH/AD/w+Go/4Kj/APBUf/ghR/w4o+Of/BNH/gmj8c/+iZf8KV+Cv/Csv2w/+jw/h98ffiP/AMXH+Pvw+/7HzxZ/xVnjz/qBaF/zBtGoA+n/APg0u8TfBrwX/wAENf27fGP7Rlt4fvP2fPCf7T/7T3ib47WfizwnP498K3Xwa0L9kH9nDVPifbeJvAtro3iO58aeH5/BNrrkWs+E7fw9rs/iPTmudHh0bVJLxbGf+eH/AILV/wDBU74RaR+1P4Btv+CEf7UPxA/Zk/ZFf9n/AMKz/EXwF+xTB8bP2F/hZq/7RzfEX4qx+LvF2v8Awk8O6B8DrLxF8QL/AOGUXwg0bVfiLL4T1G61fw5oHhXwy/iK7h8IwabpH7//APBq1/won/hwX/wUS/4aj/5Nl/4aA/a3/wCGi/8Akcf+SE/8MYfs8f8AC3f+Sd/8XA/5J/8A8JD/AMiN/wAVj/0LP/E6+w1+IH7a3/BGbwJ/wUS+KegfGv8A4Nr/ANm//hcH7DHhf4f6V8Lfit4m/wCFwax8P/sP7WOieI/Ffizx1oX9jft6/FHwT8YLn7N8H/G3wJ1D+0/DelXHw2m/tP7Lo+oS+KLLxjbWgB+n/wCwx/xrv/4Wj/xFs/8AFwP+Fv8A/CE/8O//APhuf/jaD/ZP/Cv/APhLv+Gq/wDhV3/CF/8ADW3/AAo77f8A8Jt+zd/wm39pf8K//wCFl/YvCP2P/hK/+Ff3X/CN/wBD3/BL/wDa7/4IEfH74++L/B3/AASu8J/swaF+0Hpvwf1/xN4xvPgp+xF4k/Zr8VSfBqz8afD/AEvxDbah461j4BfCu21bw+/jbWfh5LdeE4/EN5PfajDpWsLo1xHoUt9p388P/Bc7/jpQ/wCGXf8Ahyp/xmh/wxf/AMLt/wCGlv8Am3T/AIVt/wANF/8ACo/+FN/8nY/8KJ/4TH/hMf8AhRPxV/5EH/hKf+Ee/wCEW/4qr+w/7c8Of2v+n/8Awb+fC3/gjH8DvinZfBT9mrQv+EX/AOCwPwf/AGQLb4W/8FCfDP8Aaf7Vet/8I747+H/iP4M+E/2sdC/tnx9qGr/swav/AGR+0/pGg6f/AGn8EdV1PR7/AOz/AGr4bahe/D2W8uZQD+cH/gmn/wArknxG/wCz/wD/AIKxf+oN+2RXwB/wdHf8p1/25v8Au2b/ANY8/Z9r3/8AZ3/aj+BP7F3/AAdX/tAftL/tL+Of+Fa/BL4a/t//APBTv/hNfGv/AAjPjHxj/Yv/AAmNv+1R4A8N/wDFOeAPD3irxbqP9o+LfFWg6T/xKdBv/sf2/wC33/2XTLW9vbf9/wD9qP8Aaj/4Mxv20fjt45/aX/aX8c/8LK+NvxK/4Rn/AITXxr/wjP8AwVW8Hf21/wAId4O8PeAPDn/FOeAPD3hXwlp39neEvCug6T/xKdBsPtn2D7ff/atTur29uAD+IL/gk7/ylN/4Jp/9n/8A7G//AK0V8Oa/f7/g9W/5Sm/AP/swD4Wf+tFftVV+n/wn+KX/AAZGfA74p/DT41/C3Xf+EX+Jvwf+IHg34pfDrxN/Zn/BW7W/+Ed8d/D/AMR6b4s8I67/AGN4i0/V/D+r/wBkeINI0/UP7M13StT0e/8As/2XU9PvbKWe2l/AH/g6B/b1/ZO/4KJft9fCL41/sdfFb/hcHwy8L/sgeAfhbrvib/hBfiT8P/sPjvRPjR8f/Fmp6F/Y3xS8HeCfEFz9m8P+NvDGof2nZ6VcaPN/af2W31CW9stQtrQA/wBbqiiigD8gf+Crf/BFT9lj/gsH/wAKF/4aX8fftAeB/wDhnf8A4Wj/AMIV/wAKL8VfDrwz/an/AAtv/hXX/CSf8JT/AMJ/8Kvib9t+xf8ACstB/sT+yf7E+zfa9X+3/wBpfaLP7B+APgD/AINWv+CBfxX+KfjX4F/C3/gol+0B8Svjb8Nf+Ej/AOFi/B3wB+1v+xh4x+KfgH/hDvEdn4P8Xf8ACa/D3w7+zxqPi3wr/wAIr4t1HT/C3iP+3dIsP7D8R39nomp/ZdTuoLV/v/8A4OQv+C1f7U//AAR8/wCGNP8AhmjwD+z/AOOP+GiP+GiP+E1/4Xp4V+Ivib+y/wDhUn/CjP8AhG/+EW/4QD4q/DL7F9t/4Wbr39t/2t/bf2n7JpH2D+zfs959v/nh/wCDS741+Kv2lP8AguV+3b+0X460/wAP6T42+P37MH7T3xr8Y6X4TtdRsfCum+Kvip+19+zh468Q6f4ZsdY1XXtXs/D9nq+u3lvo1rqmuazqNvp0dtDfarqNykt5MAfq98Uv+DQH/gi98DvAmu/FL41/tj/tf/B/4ZeF/wCzP+Em+IvxS/aF/ZS+H/gTw7/besaf4d0b+3fF3iz9mfSPD+kf2v4g1fStC0z+0NQt/t+sanp+mWvm3t7bQS8B/wAQrX/BAv8A4UT/AMNR/wDDxL9oD/hmX/o4v/hrf9jD/hRP/I4/8K7/AOSu/wDDPH/Cv/8AkoH/ABQ3/Iw/8jj/AMUz/wAhr/Qa/q9/b1/Yp+Fn/BRL9k74rfsdfGvX/iB4X+GXxg/4QX/hJtd+Fuq+HNE8d2P/AAr/AOJPg74paN/YWp+LPCnjbw/bfafEHgnSrPU/7Q8Man52j3GoW9r9ivZbbULT+ML/AJvs/wCIOr/nGX/0XP8A5vs/5I7/AMPR/wDkpv8Ayb//AMnAf8Uf/wAmxf8AJHf+Kf8A+R1/4uDQB/Q9/wAE2f8Agmz/AME2/AX/AATb/av/AGIv2Iv2r/EH7Tn7Ln7TniD46+E/i18WvCfx1+A3xo8VeE/FXxo+A3gT4R+PPDPhnx58I/Aln8O9B8QaF8O7Pwn4l0bRvEvhPX9R0vUdfttZ1m21XQ9V03TV6D9in4Of8Esv+CAvws1/9jr/AIbq+H/w1/4WV8QNV/aX/sL9tb9pz9nXwd8U7v8A4THw54V+Fv8Aa2gaZ/Zfwa8/4fz/APCmvselX/8AwjF/5viOw8V2/wDb119l/s/S/wCYH9tb9tb4p/8ABpp8U9A/4J0f8E6NA+H/AMaPgl8aPh/pX7a3inxT+2tpXiP4i/FOw+KfxG8R+K/gXregaBrfwL8V/s4+ErX4f2vhL9nHwPqOlaVqPgfVfEcHiPVfFd3d+K77TL7SNI0P6A/Yp/Yp+Fn/AAdl/CzX/wDgov8A8FF9f+IHwX+NvwX+IGq/sU+FvC37FOq+HPh18LL/AOFnw58OeFfjpomv6/onx08KftHeLbr4gXXi39o7xxp2q6rp3jjSvDk/hzSvCtpaeFLHU7HV9X1wA/nB/YY/b6/4Km/8G7n/AAtH/jCv/hV//DYH/CE/8nz/ALOP7RXgr+3P+Gfv+Eu/5Jd/xWXwS/tP+zP+F2/8Vt/yM32L+0PCP/IF+1/8Tb9fv+Ddfx/8U/hR/wAFTf2qP+CnP/BRfwV/wxF8Ev23f2f/AI4eP/C3x/8Aj74c8R/s2fssePvin+0n+0V8Ef2gtE8FfBX4q/HS907wl4q/4Srwlp3jjxr8OPDmnePvFniPXPh14T1nxHaXuu6ZoWr60n0B/wAHzn/OLr/u9n/30ev3e8O/8Ev/AIBf8FZv+CGv/BKX9nT9ozxf8YPBfgnwX+zB+wx8a9L1T4Ka/wCC/Dniq48VeHP2QYPAtjp+oX3jr4f/ABH0iXw/LpHxH1y4urW30O11F9RtdKmh1WC2gvLO+APmD4s/8GoH/BLL9tH4p/Ev9sX/AIaS/a/1/wD4ay+IHjL9pf8At34T/GL9nXVPhZrX/C9/EepfFL+1vhpqf/DOfir+0fh/qP8AwlX2zwbf/wDCT+I/tnhybTbj+3tY8z+0Lj5A/wCIVr/ggX/wvb/hlz/h4l+0B/w01/0bp/w1v+xh/wAL2/5E7/hYn/JIv+GeP+Fgf8k//wCK5/5F7/kTv+Km/wCQL/p1fu9/wUU+Nfir/giz/wAEW9f8dfstaf4f8e6v+xD8H/2VPgp8Kbf4/Wuo+KdO8QeFdL+I3wT/AGc7fUPiFD8O9V+Fdzq3iB/BOs3WqTXXhu88J6c3iqO3vk0qPSFk0OX+aH/mxP8A4jFf+cmn/RDP+bE/+Sxf8OuP+SZf8nAf8m//APFYf8nO/wDJYv8AioP+RK/4t9QB9AeP/wDg1a/4IF/Cj4p+CvgX8Uv+CiX7QHw1+NvxK/4Rz/hXXwd8f/tb/sYeDvin4+/4THxHe+D/AAj/AMIV8PfEX7PGneLfFX/CVeLdO1Dwt4c/sLSL/wDtzxHYXuiaZ9q1O1ntU5/41/8ABsN/wbxfs1+KtP8AAv7Rn/BTj4wfAHxtq3h+18WaX4O+Nf7aH7D/AMK/FWpeFb7UdV0ex8Taf4e8dfAHQdXvPD95q+ha5pdrrNvZyadcajo2q2MNy9zp15FD4/8AAL/jdH+yx8av+Di79qP/AIoL9tr/AIJOf8LH/wCGdPhd8Av+KW/ZY8af8MJfDrRv25/hF/wurwT8RP8Ahafxa8R/8JH8Wvin4h8O/Ef/AIQb43/Dj+1/h1Z6NpHhn/hEPEtvfeLtR9A/Yp/Yp+Fn/B2X8LNf/wCCi/8AwUX1/wCIHwX+NvwX+IGq/sU+FvC37FOq+HPh18LL/wCFnw58OeFfjpomv6/onx08KftHeLbr4gXXi39o7xxp2q6rp3jjSvDk/hzSvCtpaeFLHU7HV9X1wA/u8ooooAK/gD/4IF/8rTX/AAWo/wC8jf8A68U+Ddfv9/wXO/YF/wCCpv7cf/DLv/DtH9tT/hj/AP4Vf/wu3/hdX/GR37RX7P8A/wALE/4TX/hUf/CuP+SBeDfFv/CW/wDCJf8ACJePP+Rs/s/+wf8AhJv+JF9r/trWfs33/wDsIfsIfCz9lH4WfB7xF4i+D37P/wDw21/wz/8AD7wB+1P+1P4A+H3hz/hafx9+Kf8Awjng+++OHjXxr8cL7wf4c+LXxT/4Wn8WvDk/xF8R+I/iLP8A8JH448R/Y/F3i6y/4SXe8AB/mCa3+wx/w8o/4OOf2uf2Kv8AhaP/AApf/hdH7f8A/wAFFf8Ai5f/AAhP/Cxv+Ea/4Vz4o/aH+LP/ACJv/CXeBP7Y/tj/AIQT+wP+Rr0r+z/7V/tX/TvsP9m3n7/f8QMf/WUX/wA0m/8AyuK5/wDaL/4NbP8Agrv4j/4KF/tP/tu/stftcfswfAnV/it+0/8AtIfGv4U+MfDPx7/ab+GHxl8F+Ffjf4+8eaxb6fc+Ifh3+z5Pc+HPEF14J8aXXhrxZa+G/Fmo6dPBf6zoyarq2kXUkt10H/Dgv/g6a/6TUf8AnRv/AIKKf/OboA+f/wBrH46f8QzP7LH7S3/BDr/hFv8Ahtf/AIb4/Z/+Mnx0/wCGn/7b/wCGb/8AhVH/AA1N8OvEf7If/CLf8KV/sj49f8J1/wAIL/woX/hYX9t/8La8Hf8ACT/8JX/wif8AZHh7+wv+El1j9f8A/gyp/wCUWXx8/wCz/wD4p/8ArOv7KtfnB8Of+DWz/grv49/bQ/Za/aM/b/8A2uP2YP2x/BPwg+MHwQ1L4naX8a/j3+03+0L4q8WfAL4f/Fax8deNPhJp9j8av2fLzSNd8P67pF54zt7XwF4g1zTPBeqaj4o1WHVpLK21rVbxv7vPgp+z18Av2a/CuoeBf2c/gd8H/gD4J1bxBdeLNU8HfBT4aeC/hX4V1LxVfadpWj33ibUPD3gXRdB0i88QXmkaFoel3Ws3FnJqNxp2jaVYzXL22nWcUIB+MP8AwXO/4IY/8Po/+GXf+Mov+GbP+GbP+F2/80S/4XF/wmn/AAuL/hUf/VXPhZ/wjn/COf8ACrP+o7/a/wDbv/ML/sv/AImP5A/8HUvwL/4Zf/4IF/8ABO39mj/hKf8AhOP+Gd/2gP2SPgX/AMJr/Yn/AAjP/CYf8Kk/Yw/aH8Af8JT/AMI5/a/iD/hH/wDhIP8AhH/7W/sT+3tb/sr7X9g/tfUvs/2yb9fv+CGP7Av/AAVN/Yc/4ai/4eXftqf8Ngf8LQ/4Ul/wpX/jI79or9oD/hXf/CFf8Lc/4WP/AMl98G+Ev+ES/wCEt/4S3wH/AMin/aH9vf8ACM/8T37J/YujfafyB/ax8AfFP/gln+1P+0t+3r/wW68a/wDDxr/glx+0N+0B8ZPAH7Jn7F//AAkfiP8Aa8/4Ub8U/i18RfEfxm+A/jX/AIZ0/a3svh7+zx8M/wDhWf7PHw9+LHwp/wCEj+GvjHW/Efgz/hOP+EF8G2WpeB/EviTVLIA/AD9pb/g5C/4aI/4I2+HP+CSf/DGn/CH/APCP/s//ALJ3wL/4aA/4aI/4SD7X/wAMv678G9a/4Sn/AIVT/wAKM0T7P/wnH/CpPs39if8ACyZv+EZ/4SDzv7X8Qf2V5WpfQH/BLj9uf/h5R+wn8DP+DX//AIVd/wAKX/4XR/ws3/jOH/hNv+Fjf8I1/wAK6+MXxB/4KE/8m0/8Ij4E/tj+2P8AhBP+FRf8l/0r+z/7V/4T7/TvsP8AwhV4f8FR/wDgrv8A8EC/2oP2E/jn8C/2Kf8AgmD/AMM7/tNeOP8AhWX/AArT4xf8MVfsYfCT/hD/APhGfjF8PvGHjL/i4Xwn+JfiD4geH/8AhIPh/wCH/Ffhb/iQaRd/2r/bf9iar9n0XUtSuofv/wD4Ncf2+v8Agll/xgz+wx/wxX/xs0/4yZ/4zE/4Zx/Z1/6uC+MH/Jwf/CZf8NAf8m//APFrv+RR/wCpJ/5Er/iZ0Afv9+wL/wAEMf8Ahhz/AIJZftqf8E0f+Gov+Fof8Ngf8NHf8Xq/4Ul/whX/AArv/hoD9nXwb8Av+Scf8Lc8W/8ACW/8Il/wiX/CWf8AI+eGf7e/tD+wv+JL9k/tm5/AH/iBj/6yi/8Amk3/AOVxX7/ft9fsC/8ABU349/8ABU39iv8Aaj/Zc/bU/wCFL/sS/Bf/AIZx/wCGi/2dP+Gjv2ivhz/wtj/hXP7RXjL4ifF3/i0Xw78G6x8JfHf/AAnfwl1jw94G/wCK58Q6V/wk/wDZX/CM+JvsPhqxsb6XwD/gtX/wTG/4LQ/to/tT+Afil/wTo/4KE/8ADJvwS0D9n/wr4A8U/Dr/AIax/at+BH9tfFPS/iL8VfEWt+Nf+ER+BfgHxV4S1H+0fCXirwPoX/CR6jqEPiO8/wCEc/sy7so9M0fSJ7gA/p9ooooA/iD/AODyn9rH9qf9l/8A4dx/8M0ftLftAfs7/wDCcf8ADX3/AAmv/Ci/jJ8RfhJ/wmH/AAjP/DL3/CN/8JT/AMIB4j8P/wDCQf8ACP8A/CQa9/Yn9rfa/wCyv7b1f7B9n/tK8878QPhP+xL/AMHdPxx+Fnw0+Nfwt+Mf7f8A4o+GXxg+H/g34pfDrxN/w9P8PaJ/wkXgT4geHNN8WeEdd/sbxF+1xpHiDSP7X8P6vp+of2ZrulaZrFh9o+y6np9lexT20X6f/wDB85/zi6/7vZ/99Hr6/wD+Cj/7ev7WP/BO3/g24/4I7fGv9jr4rf8ACn/ib4o+H/8AwT4+Fuu+Jv8AhBfht8QPt3gTW/2DfHPizU9C/sb4peDvG3h+2+0+IPBPhjUP7Ts9Kt9Yh/sz7Lb6hFZXuoW12AfiD/w7T/4PJP8Aoo37f/8A4ti8Df8A0ZFfP/7Uf7O3/B1f+xd8CfHP7S/7S/7QH7f/AMNfgl8Nf+EZ/wCE18a/8PO7fxj/AGL/AMJj4x8PeAPDn/FOeAP2qPFXi3Uf7R8W+KtB0n/iU6Df/Y/t/wBvv/sumWt7e2/gH/EUd/wXX/6Pm/8ANZv2PP8A6H2v6fv2o/2o/jt+2j/wZjeOf2l/2l/HP/Cyvjb8Sv8AhGf+E18a/wDCM+DvB39tf8Id/wAFVvD3gDw5/wAU54A8PeFfCWnf2d4S8K6DpP8AxKdBsPtn2D7ff/atTur29uAD7f8A+DRT9oX4+/tKf8E2/jb46/aM+OPxg+P3jbSf23/iT4T0vxj8a/iX40+KnirTfCtj8Bv2atYsfDOn+IfHWta9q9n4fs9X13XNUtdGt7yPTrfUdZ1W+htkudRvJZvxA/4O6/23f20P2a/+CknwS8C/s5/td/tP/AHwTq37EHw28Wap4O+Cnx9+K3wr8K6l4qvvjz+0ro994m1Dw94F8WaDpF54gvNI0LQ9LutZuLOTUbjTtG0qxmuXttOs4ofuD/g1a/4Xt/w4L/4KJf8ADLn/ACc1/wANAftb/wDDOn/Inf8AJdv+GMP2eP8AhUX/ACUT/i3/APyUD/hHv+R5/wCKO/6Gb/iS/bq+f/8AjBP/AJ3Ff+Umn/NDP+Sxf8mJ/wDNMv8AlFx/xj//AMnAf8NO/wDI4f8AF4v+hg/4or/hX1AH0B/weU/tY/tT/sv/APDuP/hmj9pb9oD9nf8A4Tj/AIa+/wCE1/4UX8ZPiL8JP+Ew/wCEZ/4Ze/4Rv/hKf+EA8R+H/wDhIP8AhH/+Eg17+xP7W+1/2V/ber/YPs/9pXnnef8A/Bv5+wj/AMFP/wBoj4p2Xxi/4LF+F/iB+2H/AME+Pi7+yBbfFj9nTSP21vj/AOAP2zfhZd/FPx94j+DPin4RfEvQPgX8RPin8W9T8D/EC4+CWt/E610rxlrHw98N+I/DPhzxP4r8H6hqWj3Him+0TUv4wv25/wDgqP8At2f8FKP+FXf8NrfHP/hdH/Cl/wDhNv8AhWn/ABbL4O/Dn/hGv+Fjf8Ij/wAJl/ySb4feBP7Y/tj/AIQTwp/yH/7V/s/+yv8AiVfYft2pfbP1+/4Jo/8ABUf/AIOTf2oP+ET/AGKf+CdHxz/4Tj/hnf8AZ/0L/hFvhp/wrL9gvwz/AMIf8CfhJ/wgfwn0T/isvjp8PvD/APwkH/CP/wDCQeCNA/4mPivW/GOq/a/7Vu/7S+z6vqUIB+r/AOyJ/wAG8X7VXhP/AIL7+LPjt8dv+Cf/AMH7r/gmFdftP/tu+JtD0PxNqv7KPjT4NL8GvGnhv4+2/wCznbW37Olv4313V7Pw/Z6vrvwwbwn4Tb4YQT+Ap4NGurrRvDi+HJptL8f/AOCo/wDwQV/4Kw6d/wAFYvjn+0v/AMEk/wBlP/hRHwSh/wCFZf8ADP8A41/Zc+Of7Nv7Jv8Awivmfs2/D7wB8Vv+EG8OaL8YvhR4t8A/254tf4k6T4m+zaDoH/CVf2x4hv5v7U0zxHLe6iftR/tR/wDB5z+xd8CfHP7S/wC0v45/4Vr8Evhr/wAIz/wmvjX/AIRn/glT4x/sX/hMfGPh7wB4c/4pzwB4e8VeLdR/tHxb4q0HSf8AiU6Df/Y/t/2+/wDsumWt7e2/wB+y5/wXq/4OTf20fjt4G/Zo/Zo/as/4WV8bfiV/wk3/AAhXgr/hRn7Bfg7+2v8AhDvB3iHx/wCI/wDio/H/AMHfCvhLTv7O8JeFde1b/iba9YfbPsH2Cw+1andWVlcAH9f3/BMb9mn/AILJfDX/AIIv/wDBQn4O/ti+I/2gNR/4KD+Pv+Gsf+GWNX8f/tY6F8V/inYf8JV+yl4B8LfA/wD4Qr46WPxk8Y6Z8NfsvxtsPE914c+2fEHwr/wh3iN73xhcf2Hb6imt3X8IX7a3xt/4L/f8E7finoHwU/bF/bW/b/8Ag/8AE3xR8P8ASviloXhn/h4F8QfiB9u8Ca34j8V+E9M13+2fhb8d/G3h+2+0+IPBPifT/wCzLzVbfWIf7M+1XGnxWV7p9zd/f/7a3/BZn/g6I/4J2/FPQPgp+2L+0h/wp/4m+KPh/pXxS0Lwz/wp/wD4J5/ED7d4E1vxH4r8J6Zrv9s/C34XeNvD9t9p8QeCfE+n/wBmXmq2+sQ/2Z9quNPisr3T7m7/AAB/bW/b1/ax/wCCiXxT0D41/ti/Fb/hcHxN8L/D/SvhboXib/hBfht8P/sPgTRPEfivxZpmhf2N8LfB3gnw/c/ZvEHjbxPqH9p3mlXGsTf2n9luNQlsrLT7a0AP9zmiiigD+AP/AIPnP+cXX/d7P/vo9ewf8Fiv2evj7+0p/wAGx3/BGbwL+zn8DvjB8fvG2k+H/wDgnd4s1Twd8FPhp40+KnirTfCtj/wT8+J2j33ibUPD3gXRde1ez8P2er67oel3Ws3FnHp1vqOs6VYzXKXOo2cU3j//AAfOf84uv+72f/fR6/KD9nr/AIO6/wDgpJ+zX8Avgf8As5+Bfgl+xBq3gn4A/B/4afBTwdqniz4bfHm+8Val4V+FfgvRfAvh7UPE19o/7Sug6ReeILzSNCs7jWbrS9D0bTrjUZLmax0rTrZ4rOEA/GH/AIdO/wDBU3/pGn+3/wD+Ib/tFf8Azua/s9+KXwn+KfwO/wCDIzXfhb8a/hp8QPg/8TfC/wDZn/CTfDr4peDfEfw/8d+Hf7b/AOCt2n+ItG/t3wj4s03SPEGkf2v4f1fStd0z+0NPt/t+j6np+p2vm2V7bTy/mB/xGrf8FTf+iB/sAf8AhrP2iv8A6KqvkD9vX/g6B/b6/wCCiX7J3xW/Y6+Nfwi/ZA8L/DL4wf8ACC/8JNrvwt8A/GjRPHdj/wAK/wDiT4O+KWjf2Fqfiz4/+NvD9t9p8QeCdKs9T/tDwxqfnaPcahb2v2K9lttQtAD+p3/gzV8WeFfAX/BIj9qLx1468TeH/BfgnwX+2/8AGzxZ4x8Y+LNZ07w54V8J+FfDn7Mn7L2seIfE3ibxDrFzZ6RoPh/QtIs7zVNZ1nVLy107S9Otbm+vrmC2gllX7f8A21v+CN3/AASy/wCC/XxT0D9sX/hr74gfEr/hWvw/0r9mj+3f2Kfj/wDs6+MfhZaf8Id4j8V/FL+ydf1P/hV/xl8j4gQf8Ll+2arYf8JPYeV4cv8Awrcf2Da/av7Q1T84P+DS74KeFf2lP+CGv7dv7OnjrUPEGk+Cfj9+0/8AtPfBTxjqnhO606x8Vab4V+Kn7IP7OHgXxDqHhm+1jSte0iz8QWeka7eXGjXWqaHrOnW+ox2019pWo2yS2c3xB+2t+2t8U/8Ag00+Kegf8E6P+CdGgfD/AONHwS+NHw/0r9tbxT4p/bW0rxH8RfinYfFP4jeI/FfwL1vQNA1v4F+K/wBnHwla/D+18Jfs4+B9R0rStR8D6r4jg8R6r4ru7vxXfaZfaRpGhgHyB/wQx/4No/8AhuP/AIai/wCHl3wn/b//AGP/APhV/wDwpL/hSv8AxQn/AAz/AP8ACxP+E1/4W5/wsf8A5L78B/Fv/CW/8Il/wiXgP/kU/wCz/wCwf+Em/wCJ79r/ALa0b7N/Y7/wS/8A+Den9i//AIJM/H3xf+0Z+zn8Tv2n/Gnjbxp8H9f+CmqaX8a/Gnwp8R+Fbfwr4j8afD/x1fahp9j4F+Cvw41eLxBFq/w40O3tbq41y605NOutVhm0qe5ns7yx+YP+Db3/AILV/tT/APBYP/hsv/hpfwD+z/4H/wCGd/8Ahnf/AIQr/hRfhX4i+Gf7U/4W3/wvP/hJP+Ep/wCE/wDir8Tftv2L/hWWg/2J/ZP9ifZvter/AG/+0vtFn9g/CD9t3/g7r/4KSfs1/toftd/s5+Bfgl+xBq3gn4A/tP8Ax9+Cng7VPFnw2+PN94q1Lwr8K/it4s8C+HtQ8TX2j/tK6DpF54gvNI0KzuNZutL0PRtOuNRkuZrHStOtnis4QD9H/i/8Y/8Agqb/AMFW/wBuH48/8EdP2zf2FfiB8Gf+CVfxP/aA+O/gC/8A2xPhb+zH+0V8O/HZ+Fn7NHi3xn8YP2cvGuhftB/FXVPiL+zl/wAXT8Z/Bf4UaPqfiOb4Yah4c8b6P4y1DT/AtloOq+IfDep6V6B+y5/wSI/4IF/8EfP27PA3x0/4eff8IP8AtNfs7/8ACTf8Wd/aj/bV/Yw8M/2X/wALb+DviHwf/wAVz8Pf+FafDL4gWX234f8AxN/4Snwz/wATfRPtP2vw9rf/ABMtFuPst/8AgD/xGrf8FTf+iB/sAf8AhrP2iv8A6KqvgD9lz/joj/4Lr+Bv+G1v+LX/APDYH/CTf8LL/wCGXP8Aiiv7D/4Z/wD2PPEP/CG/8IN/wtj/AIXb/Zn9p/8ACkvCn/CTf2//AMJN9t/tDxD/AGV/Yv2vTf7JAP7nP+CgX/BJr/gkR/wW88VTft/+Ov25PEGreCfgD8H5Pgp4x+J37K37TH7Ml98AvBHhX4V6j4z+NXiHUPiL401j4cfFjSPDXiDw1pHxYvPEHi661Txno2naN4Lk8O6tfaVp1s8uq6l+MP8Aw4L/AODWX/pNR/50b/4J1/8Azm6Pj7/xpc/an+Cv/Buj+y5/xXv7Ev8AwVj/AOFcf8NF/FH4+/8AFU/tT+C/+G7fiLrP7DHxd/4Ur42+Hf8Awqz4S+HP+Ec+Evws8PeIvhx/wnPwQ+I/9kfEW81nV/E3/CX+Grix8I6d/PD/AMHC3/BL/wCAX/BJn9tD4Y/s5/s5+L/jB408E+NP2YPBfxr1TVPjXr/gvxH4qt/FXiP4rfGrwLfafp994F+H/wAONIi8PxaR8ONDuLW1uNDutRTUbrVZptVntp7OzsQD/YaooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAP/ZCmVuZHN0cmVhbQplbmRvYmoKMTEgMCBvYmoKPDwKL1R5cGUgL1hPYmplY3QKL1N1YnR5cGUgL0ltYWdlCi9CaXRzUGVyQ29tcG9uZW50IDgKL1dpZHRoIDEwMAovSGVpZ2h0IDEwMAovQ29sb3JTcGFjZSAvRGV2aWNlUkdCCi9GaWx0ZXIgL0RDVERlY29kZQovTGVuZ3RoIDExMzAxCj4+CnN0cmVhbQr/2P/gABBKRklGAAEBAAABAAEAAP/bAEMAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/bAEMBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/AABEIAGQAZAMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AP36/wCC53/Bc7/hy5/wy7/xi7/w0n/w0n/wu3/mtv8Awp3/AIQv/hTv/Co/+qR/FP8A4SP/AISP/haf/UC/sj+wv+Yp/an/ABLvwB/4jnP+sXX/AJuz/wDkj0f8Hzn/ADi6/wC72f8A30evv+7u/wDgi9/wTX/4Ivf8Eyv2xf2xf+CZX7P/AMaP+F0fs/8A7GPgDXdd8AfsY/spfEb4p+Jfin8Rv2Um+KWp+NfGup/FJvAn9sf2x/wgnie88R+I7zxPqviPUPEeq2dxcWV99u1DULMA+AP+I5z/AKxdf+bs/wD5I9H/ABHOf9Yuv/N2f/yR6P8Ah/p/way/9IV//Ocn/BOv/wCfJX0B/wAFR/Bf/BLL9qD/AINsvjn/AMFF/wBin/gn/wDs/wD7O/8AwnH/AArL/hWnin/hlT9nX4SfHbwf/wAIz+3p8PvgX4y/4nfwntfEH/CP/wDCQf8ACP8AivTv+JB44u/7V8Ha39k1X7P/AGlqWkQgH6/fsC/8Fzv+G4/+CWX7an/BS7/hl3/hV/8Awx//AMNHf8WV/wCF2/8ACa/8LE/4Z/8A2dfBvx9/5KP/AMKj8Jf8Il/wlv8Awlv/AAif/Ih+Jv7B/s/+3f8Aidfa/wCxrb6A/wCCKn/BVv8A4fB/ssePv2l/+FC/8M7/APCD/tAeKvgX/wAIV/wtH/hbf9qf8Iz8OvhV4/8A+Ep/4SP/AIV18MvsX23/AIWb/ZP9if2Dd/Zv7E+3/wBr3H9pfY7D8YP+DNXwn4V8e/8ABIj9qLwL468M+H/Gngnxp+2/8bPCfjHwd4s0bTvEfhXxZ4V8R/syfsvaP4h8M+JvD2sW15pGveH9d0i8vNL1nRtUs7rTtU066ubG+tp7aeWJvxh/4Ogfix8U/wDgmv8At9fCL4F/8E6PiX8QP2BPgl4r/ZA8A/FjxT8Hf2KfGXiP9lf4WeJfinrvxo+P/g/W/iXr/wAPfgXqXgTwlrHxA1jwl4E8D+FtV8ZajpFz4j1Dw54N8K6Jd6lNpnh7SLWzAP6vf+CGP/Bc7/h9H/w1F/xi7/wzZ/wzZ/wpL/mtv/C4v+E0/wCFxf8AC3P+qR/Cz/hHP+Ec/wCFWf8AUd/tf+3f+YX/AGX/AMTH9/q/iD+Bf/B1L/wQL/Zf/wCEp/4Zo/4J2/tAfs7/APCcf2J/wmv/AAov9kj9jD4Sf8Jh/wAIz/a//CN/8JT/AMIB+0P4f/4SD/hH/wDhINe/sT+1vtf9lf23q/2D7P8A2leed/Y5+z18a/Cv7SnwC+B/7RngXT/EGk+Cfj98H/hp8a/B2l+LLXTrHxVpvhX4qeC9F8deHtP8TWOj6rr2kWfiCz0jXbO31m10vXNZ0631GO5hsdV1G2SK8mAP44/2sf8Ag8p/4Zf/AGp/2lv2aP8Ah3H/AMJx/wAM7/tAfGT4F/8ACa/8Nff8Iz/wmH/CpPiL4j8Af8JT/wAI5/wy94g/4R//AISD/hH/AO1v7E/t7W/7K+1/YP7X1L7P9sm+f/8AiOc/6xdf+bs//kj1+YH7Evwn+Fnxx/4O6fjH8LfjX8NPh/8AGD4ZeKP2/wD/AIKn/wDCTfDr4peDfDnxA8CeIv7E8PftceItG/t3wj4s03V/D+r/ANkeINI0rXdM/tDT7j7BrGmafqdr5V7ZW08X7/ft6/8ABR//AINuP+Cdv7WPxW/Y6+Nf/BHb4f8Aij4m/B//AIQX/hJtd+Fv/BPj9g3W/Al9/wALA+G3g74paN/YWp+LPHPgnxBc/ZvD/jbSrPU/7Q8MaZ5OsW+oW9r9tsorbULsA+QP+I5z/rF1/wCbs/8A5I9H/Ec5/wBYuv8Azdn/APJHr2D9nr/gsV/wbHftKfH34H/s5+Bf+CM3h/SfG3x++MHw0+Cng7VPFn/BO7/gn5Y+FdN8VfFTxpovgXw9qHia+0f4na9q9n4fs9X12zuNZutL0PWdRt9OjuZrHStRuUis5vxA/wCDuv8AZ6+AX7Nf/BST4JeBf2c/gd8H/gD4J1b9iD4beLNU8HfBT4aeC/hX4V1LxVffHn9pXR77xNqHh7wLoug6ReeILzSNC0PS7rWbizk1G407RtKsZrl7bTrOKEA/1W6KKKAP4A/+D5z/AJxdf93s/wDvo9H/AAX0/wCVWX/giv8A945P/Xdfxko/4PnP+cXX/d7P/vo9fQHgv/gqP/wbZftQf8Esv+Cf/wCxT/wUX+Of/Ccf8M7/ALP/AOyp/wAJT8NP+FZft6eGf+EP+O3wk/Z1tfhPrf8AxWXwL+H3h/8A4SD/AIR//hIPG+gf8S7xXrfg7Vftf9q2n9pfZ9I1KEA/zg6/v8/50Uf8/wDSYej/AI4Uf8/8PhqP+Co//BUf/ghR/wAOKPjn/wAE0f8Agmj8c/8AomX/AApX4K/8Ky/bD/6PD+H3x9+I/wDxcf4+/D7/ALHzxZ/xVnjz/qBaF/zBtGoA9g/4NhvDPxl8af8ABvF/wU48Hfs53PiCz/aD8WfGD9tDwz8Cbzwn4sg8BeKrX4y67+w/8AdL+GFz4Z8dXWs+HLbwX4gg8bXWhy6N4suPEOhQeHNRW21ibWdLjs2voP0f/wCCKn/BLH4u6v8AssePrn/gu5+y98P/ANpv9rpP2gPFUHw68e/trT/BP9uj4p6R+zivw6+FUnhHwjoHxb8Ra/8AHG98O/D+w+Jsvxf1nSvh1F4s0610jxHr/ivxMnh20m8XT6lq/wCYH/Btl8UvHfwO/wCDbj/gq78a/hbrv/CL/E34P/ED9un4pfDrxN/Zmj63/wAI747+H/7BvwK8WeEdd/sbxFp+r+H9X/sjxBpGn6h/Zmu6Vqej3/2f7Lqen3tlLPbS/AH7FP7ev/B39/wUS+Fmv/Gv9jr4rf8AC4Phl4X+IGq/C3XfE3/CC/8ABML4f/YfHeieHPCvizU9C/sb4peDvBPiC5+zeH/G3hjUP7Ts9KuNHm/tP7Lb6hLe2WoW1oAfH/8AwchftLf8Ebf2iP8AhjT/AIdJ+HP2f/D/APwh/wDw0R/w0B/wov8AZO139l/7X/wkH/CjP+FU/wDCU/218G/hJ/wnH2f+xPiT/Yn2b/hIP+EZ87V/O/sr/hIIv7S/f/8A4NZf2af+CyXw1+Kfhz4xfti+I/2gNR/4J8ePv2ANI/4ZY0jx/wDtY6F8V/hZYf8ACVeI/wBnvxT8D/8AhCvgXY/GTxjqfw1+y/BKw8T2vhz7Z8PfCv8Awh3hx73wfcf2HcaimiXXv/7DH/BLj/g08/4KUf8AC0f+GKfgZ/wuj/hS/wDwhP8Awsv/AIub/wAFJfhz/wAI1/wsb/hLv+EN/wCSs/EHwJ/bH9sf8IJ4r/5AH9q/2f8A2V/xNfsP27Tftn7ffsU/t6/8E2PF/wAU9f8A+CX/AOx18Vv7R+Jv7C/w/wBV+Fuu/A7/AIQX49Wn/CrvAn7MniPwr+z1qehf8LL+KXg628P+Nv8AhCfEFz4Y8If2nZ/EDxdrHiTf/b9vqGv2S6hrSgH8If8AwTT/AOVyT4jf9n//APBWL/1Bv2yK+AP+Do7/AJTr/tzf92zf+sefs+17/wDs7/tR/An9i7/g6v8A2gP2l/2l/HP/AArX4JfDX9v/AP4Kd/8ACa+Nf+EZ8Y+Mf7F/4TG3/ao8AeG/+Kc8AeHvFXi3Uf7R8W+KtB0n/iU6Df8A2P7f9vv/ALLplre3tv8Av/8AtR/tR/8ABmN+2j8dvHP7S/7S/jn/AIWV8bfiV/wjP/Ca+Nf+EZ/4KreDv7a/4Q7wd4e8AeHP+Kc8AeHvCvhLTv7O8JeFdB0n/iU6DYfbPsH2+/8AtWp3V7e3AB/EF/wSd/5Sm/8ABNP/ALP/AP2N/wD1or4c1+/3/B6t/wApTfgH/wBmAfCz/wBaK/aqr9P/AIT/ABS/4MjPgd8U/hp8a/hbrv8Awi/xN+D/AMQPBvxS+HXib+zP+Ct2t/8ACO+O/h/4j03xZ4R13+xvEWn6v4f1f+yPEGkafqH9ma7pWp6Pf/Z/sup6fe2Us9tL+AP/AAdA/t6/snf8FEv2+vhF8a/2Ovit/wALg+GXhf8AZA8A/C3XfE3/AAgvxJ+H/wBh8d6J8aPj/wCLNT0L+xvil4O8E+ILn7N4f8beGNQ/tOz0q40eb+0/stvqEt7ZahbWgB/rdUUUUAfkD/wVb/4Iqfssf8Fg/wDhQv8Aw0v4+/aA8D/8M7/8LR/4Qr/hRfir4deGf7U/4W3/AMK6/wCEk/4Sn/hP/hV8Tftv2L/hWWg/2J/ZP9ifZvter/b/AO0vtFn9g/ID/iCp/wCCWX/RfP2//wDw6f7Ov/0KtfQH/ByF/wAFq/2p/wDgj5/wxp/wzR4B/Z/8cf8ADRH/AA0R/wAJr/wvTwr8RfE39l/8Kk/4UZ/wjf8Awi3/AAgHxV+GX2L7b/ws3Xv7b/tb+2/tP2TSPsH9m/Z7z7f/ADA/8Rq3/BU3/ogf7AH/AIaz9or/AOiqoA/f7/iCp/4JZf8ARfP2/wD/AMOn+zr/APQq18gfFL/g2y/4NuPgd47134W/Gv8A4Ku/ED4P/E3wv/Zn/CTfDr4pft0/sG/D/wAd+Hf7b0fT/EWjf274R8WfArSPEGkf2v4f1fStd0z+0NPt/t+j6np+p2vm2V7bTyn/AARn/wCDoH9vr/gol/wUn/Zw/Y6+Nfwi/ZA8L/DL4wf8Lg/4SbXfhb4B+NGieO7H/hX/AMBfij8UtG/sLU/Fnx/8beH7b7T4g8E6VZ6n/aHhjU/O0e41C3tfsV7LbahafAH7ev7FPws/4KJf8Hf3xW/Y6+Nev/EDwv8ADL4wf8IL/wAJNrvwt1Xw5onjux/4V/8A8EwvB3xS0b+wtT8WeFPG3h+2+0+IPBOlWep/2h4Y1PztHuNQt7X7Fey22oWgB/V7+wL+wL/wSy+An/BLL9tT9lz9lz9tT/hdH7Evxo/4aO/4aL/aL/4aO/Z1+I3/AAqf/hY37Ovg34d/F3/i7vw78G6P8JfAn/CCfCXR/D3jn/iufD2q/wDCMf2r/wAJN4m+3eGr6xsYv5YvjX/wVa8K/wDBuR4q0/8AYi/4Iu/FH9mD9ub9lz4p+H7X9qnx78WvjX42079pnxV4e+PvjfUdV+Efin4daf48/ZS+IvwO+Hek+H9J+HfwO+FniW18I6z4T1DxpYaj4u1XWdR8RXeh6/4c03ST/gq18a/FX/BuR4V+KP8AwRd/Yi0/w/8AFL9lz9ub9mDxt8a/i149/aptdR8b/H3w94q/aZ074i/spePNP+HXin4R6r8Dvh3pPh/Sfh38DvCes+EbXxL8LPF2o2HjTUPEWo6zquv6Hd6b4c0n+KKgD+/z/lB1/wAq0f8AxuA/4af/AOT1P+cgP/DPH/Clf+Tcf+TBf+FS/wDCpf8AhbX/AAtr48f8lY/4SD/hPP8AhWf/ABQn9lf8IZ4y/tL9H/8Agl/4I/4JEfsj/H3xf/wUv+Ln/BRD4P8Awg/4KIftj/B/X9S/bY/Zg+Nf7Wv7Mnw/8K/s9/H39oXxp8P/AI/ftIfCTT/gr4mtPDXxx+E/iD4T/HHw1qXw9tfAXxa8eeKPGngTTtM1Xwn48k1vxfZXGswfwxf8EpP+C1f7U/8AwR8/4X1/wzR4B/Z/8cf8NEf8Ku/4TX/henhX4i+Jv7L/AOFSf8LF/wCEb/4Rb/hAPir8MvsX23/hZuvf23/a39t/afsmkfYP7N+z3n2/84f2hfjX4q/aU+Pvxw/aM8daf4f0nxt8fvjB8S/jX4x0vwna6jY+FdN8VfFTxprXjrxDp/hmx1jVde1ez8P2er67eW+jWuqa5rOo2+nR20N9quo3KS3kwB/pN/tVf8GzH/BF74waz8aP+Ci/xr/bd/aA+Hvwy/aK+IGv/tL+JvjFB+0p+yl4T/Zxt/8AhpHx2fGGjat4R+IXiz4C6n4fi+H/AIo8QfEDStO+HV/qHjjW/wC27XWfDtpa69rt7qNtdXvgH/EK1/wQL/4UT/w1H/w8S/aA/wCGZf8Ao4v/AIa3/Yw/4UT/AMjj/wAK7/5K7/wzx/wr/wD5KB/xQ3/Iw/8AI4/8Uz/yGv8AQa/b74JfsU/Cz/gol/wQB/Yp/Y6+Nev/ABA8L/DL4wfsAf8ABP3/AISbXfhbqvhzRPHdj/wr/wCH3wI+KWjf2Fqfizwp428P232nxB4J0qz1P+0PDGp+do9xqFva/Yr2W21C0/iC/wCCzP7a3xT/AOCdvgT9pD/g2v8AgpoHw/8AFH7DHwf/AOFP/wDCM/Fb4paV4j1v9rG+/wCFgax8Lv29dZ/t3x14T8V+Cfg/c/ZvjB421Xw3pn9n/AnTPJ+G1vp+j3X23xRFc+MbsA/d74Kf8Gl3/BDX9pTwrqHjr9nP9u39p/4/eCdJ8QXXhPVPGPwU/ae/ZB+KnhXTfFVjp2laxfeGdQ8Q+Bf2b9e0iz8QWeka7oeqXWjXF5HqNvp2s6VfTWyW2o2cs3AfGv8A4Nhv+DeL9mvxVp/gX9oz/gpx8YPgD421bw/a+LNL8HfGv9tD9h/4V+KtS8K32o6ro9j4m0/w946+AOg6veeH7zV9C1zS7XWbezk0641HRtVsYbl7nTryKH8IP+DeL/gtX+1P+xd8U/2cv+CdHwt8A/s/6/8ABL9rL9v/AOEP/CxfFPj/AMK/EXVPinov/C9/EfwT+Bfi7/hCtb8O/FXwr4S07+zvCXhXT9R8Of274H8R/Y/Ec17d6n/bGmSQaRb/AEB/werf8pTfgH/2YB8LP/Wiv2qqAP8AT7ooooA/gD/4PnP+cXX/AHez/wC+j1+v/wASf+Crf/Dnz/ggX/wSV/aX/wCFC/8ADRH/AAnH7P8A+wb8C/8AhCv+Fo/8Kk/sv/hJv2ML/wAf/wDCU/8ACR/8K6+Jv237F/wrL+yf7E/sG0+0/wBt/b/7Xt/7N+x3/wC/3x0/ZO/ZY/ag/wCEW/4aX/Zp/Z//AGiP+EH/ALb/AOEK/wCF6fBv4dfFv/hD/wDhJv7I/wCEk/4Rb/hP/DniD/hH/wDhIP8AhH9B/tv+yfsn9q/2JpH2/wC0f2bZ+T+AP7If/BFT9qfw3+31+0/4w/b18ffs/wD7WX/BLnX/APhdX/DF/wCwn4/8VfEX47/Cz9mj+1PjR4a1T9nT/hCv2YfjN8KoP2ePg1/wpr9niDxj8HfDn/Cqbqb/AIV54c8R3vw+8C+Z4H1jVJAAH/Bd346f8NQf8GwPxQ/aX/4Rb/hB/wDhoj9n/wDYB+On/CFf23/wk3/CH/8AC2/j9+y14/8A+EW/4SP+yPD/APwkH/CP/wDCQf2T/bf9g6J/av2T7f8A2Rpv2j7HD/MD/wAEuP8Ag1K/4eUfsJ/Az9tb/hvP/hS//C6P+Fm/8W0/4Zc/4WN/wjX/AArr4xfEH4Tf8jl/w0V4E/tj+2P+EE/t/wD5FTSv7P8A7V/sr/TvsP8AaV5/c5/wVs/4J++Kv21P+CV/xq/YA/Zag+D/AMI9X8WeH/gN4T+FOl+Jo9R8BfBrwL4V+Dnxp+Evjq38M21j8O/Bniq58MeH9L8E/Dy68P8AhPRvDfgy506xnXRtJS20vSFkvLL4g+Fv/BKz9vr4Hf8ABvboX/BMb4KftE/D/wCD/wC3P4X/ALT/AOEZ+P8A8Lfi58aPh/4E8O/23+25qH7QWs/2F8VfCfw80j4waR/a/wAH9X1XwVqf9n+Abf7frGp6h4cuvN8L3tzrUoB+IP8AxClf8Ovv+Nl3/Def/C8f+Hd//Gc//Clf+GXP+Faf8Lf/AOGSf+L+/wDCrv8AhY//AA0V8QP+Ff8A/CwP+Ff/APCJ/wDCbf8ACB+Nv+EU/tb+3f8AhEfEn2D+xr3+YH/gtX/wVb/4fB/tT+Af2l/+FC/8M7/8IP8As/8AhX4F/wDCFf8AC0f+Ft/2p/wjPxF+Kvj/AP4Sn/hI/wDhXXwy+xfbf+Fm/wBk/wBif2Dd/Zv7E+3/ANr3H9pfY7D+/wB+G37If7fX7F3/AAQL/wCCtXwt/wCCi/7T/wDw1l8bdf8A2f8A9vLx/wCFviL/AMLq+NHx3/sX4Wap+xhYeHdE8Ff8Jd8dPDXhXxbp39neLfCvjjXf+Ec07T5vDln/AMJH/adpeyanrGrwW/8AID/wRU/4Kc/8EXv2Lv2WPH3wt/4KL/8ABPb/AIay+Nuv/tAeKvH/AIW+Iv8Awyd+yl8d/wCxfhZqnw6+FXh3RPBX/CXfHTx94V8W6d/Z3i3wr4413/hHNO0+bw5Z/wDCR/2naXsmp6xq8FuAfr//AMGMf/OUX/uyb/37ivoD9rH46f8AETN+1P8AtLf8EOv+EW/4Yo/4YH/aA+Mnx0/4af8A7b/4aQ/4Wv8A8Ms/EXxH+yH/AMIt/wAKV/sj4C/8IL/wnX/C+v8AhYX9t/8AC2vGP/CMf8Ip/wAIn/ZHiH+3f+El0f5//wCDrX/jV9/wwZ/w7R/413/8Lx/4aj/4XV/wwx/xiT/wt/8A4Vp/wzr/AMK4/wCFo/8ACgv+Ff8A/CwP+Ff/APCwPHn/AAhP/CWf2t/win/CbeLv7C+wf8JJrP20/YQ/4OZ/+CL37KPws+D3iLxF+xF+0B/w21/wz/8AD7wB+1P+1P4A/Zr/AGUv+Fp/H34p/wDCOeD7744eNfGvxwvvj14c+LXxT/4Wn8WvDk/xF8R+I/iLP/wkfjjxH9j8XeLrL/hJd7wAH8wP7NP/AASk/wCGiP8Agsl4j/4JJ/8AC+v+EP8A+Ef/AGgP2sfgX/w0B/wq7/hIPtf/AAy/oXxk1r/hKf8AhVP/AAsXRPs//Ccf8Kk+zf2J/wALJm/4Rn/hIPO/tfxB/ZXlal/q9/8ABLj9hj/h2v8AsJ/Az9in/haP/C6P+FL/APCzf+Ll/wDCE/8ACuf+El/4WL8YviD8Wf8AkTf+Eu8d/wBj/wBj/wDCd/2B/wAjXqv9of2V/av+g/bv7Ns/5gv+CX//AARU/an1f/gr18Ov+C7lt4+/Z/T9kX9pv4gftJftreA/h1P4q+Iq/tHaR8LP26PhP8Y/EXwk0Dxd4Rj+FUvwysPiB4dsvjj4Ti+IulaN8X9f8OaRdad4iTwz4r8XQ2mmz6v8f/t6/wDBYb4p/wDBO3/g6I+K3iL41/Hf9r/xR+wx8H/+EF/4Sb9lj4W/FDxHrfgS+/4WB/wTy8HWOjf2F8D/ABZ8TvBPwfufs3xg8baV8RdT/tCfTPJ1i31Dxda/bfFEVsl2Afp//wAHLn/Bc7/hhz/hbH/BNH/hl3/haH/DYH7AHjv/AIvV/wALt/4Qr/hXf/DQH/C+PgF/yTj/AIVH4t/4S3/hEv8AhEv+Es/5Hzwz/b39of2F/wASX7J/bNyf8GVP/KLL4+f9n/8AxT/9Z1/ZVr5A/aX/AOC6H/BF7/gr/wD2t+y54d/YM+IGv/ttftY/D+//AGKf2WP2i/2l/wBl39lLVP8AhTnxT+O/9vfDv4H6/q3xdsfi58TPi18Pfh/8Pfi18TIPHN/qvw68PeI/EfhPzte8TeEfCmseJZEsb8/Yp/bW+Fn/AAaafCzX/wDgnR/wUX0D4gfGj42/Gj4gar+2t4W8U/sU6V4c+IvwssPhZ8RvDnhX4F6JoGv638dPFf7OPi21+IFr4t/Zx8cajqulad4H1Xw5B4c1Xwrd2niu+1O+1fSNDAP7vKKKKAP4g/8Ag8p/ax/an/Zf/wCHcf8AwzR+0t+0B+zv/wAJx/w19/wmv/Ci/jJ8RfhJ/wAJh/wjP/DL3/CN/wDCU/8ACAeI/D//AAkH/CP/APCQa9/Yn9rfa/7K/tvV/sH2f+0rzzvxA+E/7Ev/AAd0/HH4WfDT41/C34x/t/8Aij4ZfGD4f+Dfil8OvE3/AA9P8PaJ/wAJF4E+IHhzTfFnhHXf7G8RftcaR4g0j+1/D+r6fqH9ma7pWmaxYfaPsup6fZXsU9tF+n//AAfOf84uv+72f/fR6+v/APgo/wDt6/tY/wDBO3/g24/4I7fGv9jr4rf8Kf8Aib4o+H//AAT4+Fuu+Jv+EF+G3xA+3eBNb/YN8c+LNT0L+xvil4O8beH7b7T4g8E+GNQ/tOz0q31iH+zPstvqEVle6hbXYB+IP/DtP/g8k/6KN+3/AP8Ai2LwN/8ARkV8/wD7Uf7O3/B1f+xd8CfHP7S/7S/7QH7f/wANfgl8Nf8AhGf+E18a/wDDzu38Y/2L/wAJj4x8PeAPDn/FOeAP2qPFXi3Uf7R8W+KtB0n/AIlOg3/2P7f9vv8A7Lplre3tv4B/xFHf8F1/+j5v/NZv2PP/AKH2v6fv2o/2o/jt+2j/AMGY3jn9pf8AaX8c/wDCyvjb8Sv+EZ/4TXxr/wAIz4O8Hf21/wAId/wVW8PeAPDn/FOeAPD3hXwlp39neEvCug6T/wASnQbD7Z9g+33/ANq1O6vb24APf/8Ag2Y/aq1j4wf8EXv23fjX/wAFF/jR8QP2ivhl8Pf2gP2lIPjF4m/aX1/x3+0j9n/Zx8J/spfAXxZ8QfCOraN4wPxA8QeKPh/F4f1PxvqF/wDDrTtK1m11v+29etbTw7qN7rt1bXp/w8s/4M2/+ic/sAf+KnfHP/0G9ef/APBoD8LfAnxx/wCCL37Y/wAFPiloX/CUfDL4wftf/tC/C34i+Gf7T1jRP+Ei8CfED9lL9mfwn4u0L+2fDuoaR4g0j+1/D+r6hp/9p6FqumaxYfaPtWmahZXsUFzF+n//ABC4/wDBCj/oxn/zZn9sP/6IKgD/AChPjp+1j+1P+1B/wi3/AA0v+0t+0B+0R/wg/wDbf/CFf8L0+MnxF+Lf/CH/APCTf2R/wkn/AAi3/Cf+I/EH/CP/APCQf8I/oP8Abf8AZP2T+1f7E0j7f9o/s2z8nwCvv/8AYY/4Jcft2f8ABSj/AIWj/wAMU/Az/hdH/Cl/+EJ/4WX/AMXN+Dvw5/4Rr/hY3/CXf8Ib/wAlZ+IPgT+2P7Y/4QTxX/yAP7V/s/8Asr/ia/Yft2m/bP3++Pv/AAS4/YT/AGoP2WPgr+xT/wAEpPgZ/wAJx/wXO/Z3/wCFcf8ADyb4af8ACzfjF4Z/4Q//AIVJ8OtZ+E/7Yn/FZftIfEHw/wDsgeIP+Ef/AGv/ABB8OtA/4sL4r1v+1ftf9q/C7+0vhhb67qUIB4/+z1/wT5/4OwPGnwC+B/jH9nPx9+2/Z/s+eLPg/wDDTxN8CbPwn/wU28G+AvCtr8Gtd8F6LqnwwtvDPgW6/av8OXPgvw/B4JutDi0bwnceHtCn8Oactto82jaXJZtYweQfFL/g3K/4OK/jj47134pfGv8AZk+IHxg+Jvij+zP+Em+IvxS/bL/Ze+IHjvxF/Ymj6f4d0b+3fF3iz9pTV/EGr/2R4f0jStC0z+0NQuPsGj6Zp+mWvlWVlbQRfv8AfsB/FL/g4S/4JeeI/wBnvxZ/wVz13/hR3/BGv9lX4f2fwt+LWof2Z+xH8TP+ED8CWHwsv/gp+zPoX2X9mXT/AIgftT+KPK+M+p/BXwz/AGn4atvEWsSef/bPj/UH8KReLNVj+v8A/gqP/wAHR37Cf/DCfxz/AOHaP7c3/GbX/Fsv+FK/8YzfGL/osXw+/wCFj/8AJff2ff8AhUv/ACSX/hPP+Rs/7gX/ABUv9jUAfzA/snf8EFf+CsP7Dn7U/wCzT+2t+1H+yn/wq/8AZl/Y/wD2gPg3+1H+0X8S/wDhef7NvjX/AIV38Cf2f/iL4c+LHxd8c/8ACG/Dv4xeLfiB4t/4RL4f+EvEOv8A/CM+BvCnibxjr39n/wBleGfD2ta1d2Om3P8AoOfBTWP+CP3/AAWm8K6h+1L4F+DX7MH7b2keAvEF18Abj4r/ABr/AGSLLVPFXh/UfC2naV8RJvh7p9x+0Z8ItG8bJ4f0m2+Kln4ktYdLtZPCq6j4s1V7G4bV5Ncji/ij/Yp/b1/4OEv+CiXws1/41/tBfFb/AIXB/wAEfvC/xA1X4W/8FMvE3/CC/sR/D/7D+ydonhzwr4s/bM0L+xvBPg7wT+0/c/Zv2YPG2tah/afwA0q4+JM39p/ZfhVqEvxCsrS2tPr/AP4zs/506v8AlGX/AM1z/wCSO/8AJ9n/ADU3/lKP/wAZAf8AJv8A/wAMxf8AIn/8Wd/6F/8A4rX/AIWDQB/f5RRRQB/AH/wfOf8AOLr/ALvZ/wDfR69g/wCCxX7PXx9/aU/4Njv+CM3gX9nP4HfGD4/eNtJ8P/8ABO7xZqng74KfDTxp8VPFWm+FbH/gn58TtHvvE2oeHvAui69q9n4fs9X13Q9LutZuLOPTrfUdZ0qxmuUudRs4pvH/APg+c/5xdf8Ad7P/AL6PX5Qfs9f8Hdf/AAUk/Zr+AXwP/Zz8C/BL9iDVvBPwB+D/AMNPgp4O1TxZ8NvjzfeKtS8K/CvwXovgXw9qHia+0f8AaV0HSLzxBeaRoVncazdaXoejadcajJczWOladbPFZwgH4w/8Onf+Cpv/AEjT/b//APEN/wBor/53Nf2e/FL4T/FP4Hf8GRmu/C341/DT4gfB/wCJvhf+zP8AhJvh18UvBviP4f8Ajvw7/bf/AAVu0/xFo39u+EfFmm6R4g0j+1/D+r6Vrumf2hp9v9v0fU9P1O182yvbaeX8wP8AiNW/4Km/9ED/AGAP/DWftFf/AEVVfIH7ev8AwdA/t9f8FEv2Tvit+x18a/hF+yB4X+GXxg/4QX/hJtd+FvgH40aJ47sf+Ff/ABJ8HfFLRv7C1PxZ8f8Axt4ftvtPiDwTpVnqf9oeGNT87R7jULe1+xXsttqFoAf1e/8ABlT/AMosvj5/2f8A/FP/ANZ1/ZVr+v2v5Av+DKn/AJRZfHz/ALP/APin/wCs6/sq1z//AAcLf8HC37aH/BJn9tD4Y/s5/s5/DH9mDxp4J8afsweC/jXqmqfGvwX8VvEfiq38VeI/it8avAt9p+n33gX41fDjSIvD8WkfDjQ7i1tbjQ7rUU1G61WabVZ7aezs7EA+oP8AglJ8Nv8AggX/AMEfP+F9f8M0f8Fav2f/ABx/w0R/wq7/AITX/hen7eX7GHib+y/+FSf8LF/4Rv8A4Rb/AIQCw+GX2L7b/wALN17+2/7W/tv7T9k0j7B/Zv2e8+3+/wDwC/YF/wCCWX/BNf8Aan+NX/BYr/htT/hFP+G+/wDhY/8AxXPx9/aO/Z10L9ljxL/w1R8RdG/aj/4sr4m/4Q3wJ/bH9sf8IJ/bHw4/4uf4y/tD4dW2s6h/xUPk/wDCQ2f+QLX9/n/BfT/lVl/4Ir/945P/AF3X8ZKAPYP2hf26P20P+Ck/x9+OH7AH7f3wF8P/ALNv/BCj4t/GD4l6a/8AwU68J/C74rfB3wrd/AL4S+NNa+K37HPxb8M/tpfGnxd47/Y8n8P/ALQ/jz4dfAjw/o3j0+DNS8F/FrTvifbaT8LY9N1nxr4O1Gx6D/iFa/4IF/8ACif+Go/+HiX7QH/DMv8A0cX/AMNb/sYf8KJ/5HH/AIV3/wAld/4Z4/4V/wD8lA/4ob/kYf8Akcf+KZ/5DX+g17//AMFLP+VNv4c/9mAf8Enf/U5/Y3r+IL/h9X+1P/w6e/4c6/8ACA/s/wD/AAzL/wBDz/wivxF/4Xt/ycn/AMNSf8jN/wALV/4V/wD8lA/4k/8AyTD/AJE7/iX/APIa/wCKhoA/qe8J+E/FX7I/irwz/wAEfv8Agj94Z8Qf8FBP+CQX/BQTxBo3hP8Abk/bk8J6NqP7V3ir9nvxV+1dqNt+zB+0x4Z8M/tMfswW3hr9mH4T+IPhP+zD4a+GXxf0bRvi/wDDLxpqPgTUfGlt4/8AH9t4j+H3iPw/4fg/oe/Yp+Dn/BLL/ggL8LNf/Y6/4bq+H/w1/wCFlfEDVf2l/wCwv21v2nP2dfB3xTu/+Ex8OeFfhb/a2gaZ/Zfwa8/4fz/8Ka+x6Vf/APCMX/m+I7DxXb/29dfZf7P0v+EL/g3i/wCC1f7U/wCxd8U/2cv+CdHwt8A/s/6/8Ev2sv2//hD/AMLF8U+P/CvxF1T4p6L/AML38R/BP4F+Lv8AhCtb8O/FXwr4S07+zvCXhXT9R8Of274H8R/Y/Ec17d6n/bGmSQaRb/3O/wDBUD/g3p/Yv/4KzfH3wh+0Z+0Z8Tv2n/BfjbwX8H9A+Cml6X8FPGnwp8OeFbjwr4c8afEDx1Y6hqFj46+CvxH1eXxBLq/xH1y3urq31y1059OtdKhh0qC5gvLy+AP3eooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAP/9kKZW5kc3RyZWFtCmVuZG9iago3IDAgb2JqCjw8Ci9UeXBlIC9QYWdlCi9QYXJlbnQgMSAwIFIKL01lZGlhQm94IFswIDAgMjAwIDIzNV0KL0NvbnRlbnRzIDUgMCBSCi9SZXNvdXJjZXMgNiAwIFIKPj4KZW5kb2JqCjYgMCBvYmoKPDwKL1Byb2NTZXQgWy9QREYgL1RleHQgL0ltYWdlQiAvSW1hZ2VDIC9JbWFnZUldCi9YT2JqZWN0IDw8Ci9JMSA4IDAgUgovSTIgMTAgMCBSCi9JMyAxMSAwIFIKPj4KL0ZvbnQgPDwKL0YxIDkgMCBSCj4+Cj4+CmVuZG9iago1IDAgb2JqCjw8Ci9MZW5ndGggNTMzCi9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp4nLVWTW/bMAy9+1fwDzSV+CULCHIoug3bbVtuww6FLQM9bENWYL9/pJwWdRojSeGYkBzRst+jHkUlQjC7idYhCXS/Gh9jGId/S7Nr2jDOQQQ1d/JJt58j3P9pvja39+XfY1e+fbqD7qkJK9SDC871PXW/D79Wcd2/a+IbnnfbvTOCOOFVTgxbo/YxQoLt0PxYc0pSeo0YKJoxJTMi3ED4CdsvzYft2wheMN/JJXKcYUNIwRsOhNYipcor0YP1+SxOp7Cta/MKRZ+h2xFaUEV7NU52L97TwwYkwBqD21Lg6Sg4b8AkgLVhdyWrboB8NGjRYcrDxImk1FpLJGaZdClueowbsy2KL44hah5Iy5QQE3dGq3WtkND1s1Cwt19Kuc5ACyTpkLjYE7ZYk79dmMYwsSwVAM8EIKZn1M5MLLuvoivqHDQZeDYho5NItrNuopi2+VBZNu0VfSsKJXk10d9bimY8RvOC9FuKR5hZrnNSLde0oloaeJ9q7L4LE+00zXZW1Nl8mnKsDPuRnQTOQjz4U+zqzJYzVw8XHgRHlsIsE54C1ELMART9uPlujminz2vPrmEZY7E7ebHP4xmE1ziDJmieOC9wdA04w7A4PVyRMdx3Jl5dmJVmfFZU98fO5Uffqdypi3IMqq1lm71KLgFkJTswHCt7qV4b/0NiiZ80ie/uWoNsF9uHzGvbbNB+wuM/chfwPAplbmRzdHJlYW0KZW5kb2JqCjEzIDAgb2JqCihQREZLaXQpCmVuZG9iagoxNCAwIG9iagooUERGS2l0KQplbmRvYmoKMTUgMCBvYmoKKEQ6MjAyMDAyMTcyMjE5MTdaKQplbmRvYmoKMTIgMCBvYmoKPDwKL1Byb2R1Y2VyIDEzIDAgUgovQ3JlYXRvciAxNCAwIFIKL0NyZWF0aW9uRGF0ZSAxNSAwIFIKPj4KZW5kb2JqCjkgMCBvYmoKPDwKL1R5cGUgL0ZvbnQKL0Jhc2VGb250IC9IZWx2ZXRpY2EKL1N1YnR5cGUgL1R5cGUxCi9FbmNvZGluZyAvV2luQW5zaUVuY29kaW5nCj4+CmVuZG9iago0IDAgb2JqCjw8Cj4+CmVuZG9iagozIDAgb2JqCjw8Ci9UeXBlIC9DYXRhbG9nCi9QYWdlcyAxIDAgUgovTmFtZXMgMiAwIFIKPj4KZW5kb2JqCjEgMCBvYmoKPDwKL1R5cGUgL1BhZ2VzCi9Db3VudCAxCi9LaWRzIFs3IDAgUl0KPj4KZW5kb2JqCjIgMCBvYmoKPDwKL0Rlc3RzIDw8CiAgL05hbWVzIFsKXQo+Pgo+PgplbmRvYmoKMTYgMCBvYmoKPDwKL1R5cGUgL1hPYmplY3QKL1N1YnR5cGUgL0ltYWdlCi9IZWlnaHQgMTI4Ci9XaWR0aCA0NDYKL0JpdHNQZXJDb21wb25lbnQgOAovRmlsdGVyIC9GbGF0ZURlY29kZQovQ29sb3JTcGFjZSAvRGV2aWNlR3JheQovRGVjb2RlIFswIDFdCi9MZW5ndGggMzgwMwo+PgpzdHJlYW0KeJztXe3B8ioMdYSO0BE6AiM4AiM4AiM4QkdwBEZwhI7QDbxW2/KRkwC16uN9OT8thiQHAqRAD4f/P9qjMebYfluNig3o7O2JS/dtVSpKoW8OWiinVPshjSqy4ZPH06ev09Oxbz+oWUUSzRiwd2tRoe66Pj9/WL8KCeeQvFsPynQ+w7b5tIoVLKKud7tRcqLu2X9eyQqMLibvpkgZkyxR8R1owp4hZeLuefm8mhUQcb8C0xJFinxD0QoAyp5NF6mL+j+CTeypz+tZgZDBniVF9Of1rEDYxJ75vJ4VCP88ez+dvP2n2Wv7YTLnor6tyFb8y+w52381+/cPs9d7Fl1/k75/l73Q8uu31dmEf5a9NrJJf1uhLfhn2YvfjA3fVmgL/ln2rrFRv5j++2fZI0apb2u0AZW9Badva7QBlb3a934QQ2xUHff+Ko7mYs8m4Eeec3amt/2JEjoJ6k0u0e3pbC9GZ2cClDZnO8OYY7qaj7DX3NW6m22dZieV5YGH108tJ3Xavz9t4VeyFL30M+tVGq/3jPeHdQOkDbU8LXtEhmOG8u3iuNGk+Wt0T2bB9/oTDeXt7Cljyba1J64X0Lh9rM6yLXl27IPQd+15f3oZsdGrMOx8g+dgbwPkeMSCMra1as/sRCKu0RfsokmxMzV+hcRedwbNIRTdK1GtY88w5wTwBDJeP0zvBoDYkdHF93mQEPONCyoIrO6woGQLDjfrSYm49pxwksWGHST2mh4IouhZrRqT0Go2TGdoNraetaxiyMxo05xXmWfg1SfvFPxhWH6ON2d5GiFEsyLDeinHzSD4UB89S85PUv1uQc9oFU8LeFwV+H80Ltn1AdXYL0a6cuTFwX+mngFr0IHiUZtbHsYDCGP3jHin5ciUO2W1cI59lj3RSQHgiJOr1RNgFInJn2lpU40qMvMYP1fhc0VORsV+n3evxrMctOncAxnIoJdaOqfgcEVDDMseWQ+xAJtzkz4mMogrYglPglW6UYQzBGJfcitxbPjsD9IM5OU9KY2mOceSJj4C/jn2mgKxr2n1BBnWoVp05zfSx2+l1L5WcjrYe2w5QUaQQg8YWFooyxoPmkjg2KMbqHm8qtUDfcr8fME+fSfyNJHPJJOI2e10GDeCFOo+S8qUu6mPRXDs0TDPIxJJY0wWwsCAtt9nm+vRR+Uk3qKTsDGHvLJVL62WRKgtbTxueey4lx/8bCixKw+bD4zBeAXYKzDXW2DQh+1BAK3kuA97+7Rxncle/pwzklg6YVkReIOaX2Su62A0iyGmSUjxpc/szN7GNh6lLVj2mo3rPTrQZGvmdz4QeoqErRTRzjQIXqcDxmLezuwx3rXmsYDplGEKhHFfyLVk0TdGNsRr3aXYxSj1YGfKLTOStWx+GRSvkJBdpW1vKbwveziymdYrwqSUjCzGrs90ai157cnbD9j1bLxUaaH2/lIswd5wPt4bQ6M0m0gdFknUCT3vddKu1ra+K3t0Rn0D6TC8lvdLJd4xdEop2lN6NQHmGkC3GhQoB+O+J1Fkz09tN+v7nwiLc6mnuKwVKquXR7uyh2jpgRjU/fxyO78hAgsNmkZ5ADU/r4sK7MU5owaHoXUYpeyyb5PIos6NxXuyh4zroRxEX+se78we1QtrBWv2Z4M8e2DKiPNni5Y0mLM6ETmu5J7sga7HqQTo84ruzB4RR6StALk4rzDLnkayYBxe+g2oiEkw00WJ6+Y7sgfCzsBodGjAuODKvpk9VqsDalbegMSxp7EsSN9SllbESCEFvfn5juyB/qRKJLmMy5vZ47WCqSJR6QnsShslYq6sLPyigXZSvc0LMntgDWMFUbRi16Z2Zi9yopjWABFNSebfxBwl2hmyxD0afWBIIC3Azx/sxx5oaIqXhIq3y7Od2QsZkeLmATnVWYHZE9bZKK2+6Jn5ooGsdvqNXpDZo+1sEN1Eu6peHu3MXjjnVqJW4mUUkL1ekgZGk6Wr0liFOjHl328s+7FH2ZA3qAnphr3Z8/NrqV1z0iszyF4rSUOdb+n71AFAFHFFQPFu7IFH8sZIGjpXxfZmz9uNlDyOSut2ghF7RLMQYORbluV0jg5MIIFcb/eCwB61ms/9PACaJS+L+KhM77urpl3Boz2lNhCDNKwTjNjTsjwwvK/yyJA2kL+TGkOn7sYebWRWtguE2sW1b2AvCwru9HWCEXutLFJa/lNmSbQibSkM/LuxR+dqkiBctZqffIO97sS9vHCCgfnJSEylDssjOm8hgzIp0SaEm1iCB4E9+kQn7KLzAzU/+TR7/LGGUDAwv0/JBvt/12ekZ8WDDemdNny+F3sgTaYSdlGOFPvExn/ei71WJ89FOMFigogBGPjW+EidFr1oIMORfsULPHsoqFgZ/Lr4M+w1R7HLAcHASMWKz/mPuBQHE7u4b+7F3vadI8Cst7PXKHMBeXIMJ7h4VXRIpN7ENBhwajwu7sUedfgGtKwwG2uynb3u1GcTFwkWk/QcJIF03qL9v5Ku2Yai/xR7a1x4G3uNvpRvenOCd2ePzlv8Fw1kWHzRC+9lb9X8TezB85FpOMGb2BOXUjRl4YVOMl3Vr3nhveypAyvMvqb3hMyDmxRO8Cb2ZE3JU28SG/NOk1dlXgAc8U9KYYVqbKxJMXu5Z/doMSf4DeyReYtb/pMtETTB/nfY84647c9eZsezJ7Cp0wnef9yTsilE5fYQ48+w1zdSNfY1vXO2YF/PR1y3E/wO9sjgtjwlSw3iA+SFXtDkXexdw+tP9mYvRd60JZ6v2wl+B3tk3jLMD0hM1VQ29QJxlIci9hKplvWSG63S1RClitjjLx65Sz6Hn7YtZK89JEBnlVF+hljS4d/RC7cy9sDowRumBEEydmaPywP5XU6o2wnePVM2gfSx5+SEsI7sK2MPvER5wTAW+7IHWv8d4xknuQrZS2apQdOJKo7nLSPWowXC92JPTOeVYl/24HSTvaWrkL0+ZQsfrhaQectj9hQv9uBuT+oF6X0jWDPxj4wgSMau7KGuB+8ZSQsG7A0pW2iqJf4LUbA/gCwZPKTC9yYE4AheUJ8yjMWu7IHXo9L9aoXspaYtoO2QXoTmJ3GXHTKVFa7bQdovz6jHk5sGWOzKHm38o0CeOMFH9icGPjDsEUVJUkXTUIatA+ypElVW9sD5+1Y2jMee7IGX/lqoGvQVJxixN8im0LYD/EvHODIRbaF0sBTiWxNaNy3PwLRF8pLD85P3wUeT9mSP+EG+yws0QicYsSdPztA/aPXE3ib2NHMVFlhls5dmwan3+pTmM7JC5xrgvRzsnuxlyILqIMGQPVEcCG2gfOTYS3toojDHHKwF7LG7aGHKYn0KwqqSDHvC85YWlCImZ7NXtiRCs2onGLLHH1nOHyhDz8aO4cMzyk8y6mDd18egZ4p+mtD4vnUqbmKPOaBAC7Kx5YBP3PUJDwiTIDDqwREsjNcTv+G5acPIRwpZWJK59ETyU6rzRdnj1a5N7GGtC/secrcrj9njBYLFCjOchPWO8X67Fv6pYCDm8vSuBBjw5bNy8YWZa7XvZU84X4HflMjOurErW9SRmakcrngBHy1QaeB09iWLVwY0XMauB8ixbsXbYuM/S1uUA4DBWuGS7CVr7fKcYw+bCcljwizOxS7gR1YUK6iz+OtfE+ryyw9NRK6GZbAHGiu2ERQkwmZwl6zp1QucE9BXRvGbDe74oPQSa+BcyORwo1yStK/ALyefwDkkRBadW88mBTUpnV3ygX4pwbN3GyOZ3OXOLXaHeA0T40JBZ+9TGZ14NX9SBXgtkQJd3tmfwR6qavXyoVVq+a4JjEkgSU0WyA5Djotvg3c9Wsc1d/7kLoyBTwiTBz7iTq+9jUltPA6EoUlWdDf9o07kKW9E2MjebTB31k7nudnPF+kj/eOekvhMQydV6mtp9EMBdiOGsLjgjxL0PHn4crEChE7AVPvN8tAwt/x5I2ROfiRDteetn3g6d2k9WXJ0caql2EtCSGmDTOMMIRuw8bpth1AYe7uqPZ+mK/zMmWss/jooh72MXWLPuTMXXK73jjpF2GR0cbW/yh61wgMXbAfpTyUfObiNtH/v1Bb8r8JksSdMpBx0dkkZDcdekezARgJ4PeYt+QqqwOFHqv8L0gLJvowc9rLqeSxz202nF5B2wPqScUfJPDCiUvckZGugqf7DK43BlyyzR7MN/Djh4Ul60dnCoQPuMCx72Tdlp1+Y4VxBn/hXduPU/Ec5XqMvngJS9gytJidozdoVdJD7+gaEMMuyl09fijxmCEse72RDLqg+/hGl4Eq/GTPGGlIvAdPl5NIT/bNotodHZjO8wF6u8DR5sNlLL0Sk/8WGqUfJWFWDxJV9rwlkmUiZFtQiZ3YfWFyW6eElsUD6qn3+jkf9JqNrkwUmBOh8yHCC5HcUrrOYeD3OdOy8bxQ+7Eq/reReq0i5wehvOfS5i8bJy7BZR27OBpMUgSLp+Iflm6z/pT66tkqJ4pVl5WXOpfGu2NgMDetINfogIqc8HLSiaCgZ2RXDXD4xVphDJuIYmBM3nxCOJ/ofbwzjleLlZfA3Bl9q8BH62nJ1iJQs4WIG+AiAwxC1otCNy3KGXy8JWVL2C58IYb3MzfUQXK4v+vCtT4qWBZ7EeHWR/u13K2HzrGK7H82uHriPJNwsKIuslFa7nCbCF4ihQU5HOKZIoFcqXOitemvvQx8+jNBqnIcaL6nPtbtudRZLKnSVwMB8KxsVvuBPp3eL3oNzv5yr6M7E1PSdhBTHfmoH16SDILqTmU/WXcDJugfaKVmZcVvijEY9RM6+sPZs4q+q8rXcrPRl71Xls51vPbqL781R+suj8KPs1VqjhZ4xZdOHIEAkM02tNrMm17seKql5xQeRzhNW/F1U9n4Zlb1fRmXvl1HZ+2VU9n4Zlb1fRmXvl1HZ+2VU9n4Zlb1fRmXvl1HZ+2VU9n4Zlb1fRmXvl1HZ+2UQ9oQLDCr+HGL27LcVqihAvKep/7ZCFQWId/3pbytUUYD4LNmWTXsV30J0DqD/tj4VRQhCp3ySueLPwT+oSo4dVvx1uLNWmae6Kv4UOtNPH+B5hbv/AJfaKpEKZW5kc3RyZWFtCmVuZG9iago4IDAgb2JqCjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9JbWFnZQovQml0c1BlckNvbXBvbmVudCA4Ci9XaWR0aCA0NDYKL0hlaWdodCAxMjgKL0ZpbHRlciAvRmxhdGVEZWNvZGUKL0NvbG9yU3BhY2UgL0RldmljZVJHQgovU01hc2sgMTYgMCBSCi9MZW5ndGggMjQzNQo+PgpzdHJlYW0KeJztlsl1HUEMAzOz84/GIdgHH71omsTWf1BvrmoCIETp589S7uDH929/fm5RpZQSyl9vZu9nKaX8iy/PJul49iyXUi7l4dkEnrj+Z1tKuZqjs7k/bpb/bEspBYvycur/uS2lFAaDyzk7a8r/bEsphcfsbGouZ49nKSWTXs5SSjlFdjll97mUUtiEX84ez1JKIL2cpZRySi9nKaWc0stZSimn9HKWl9OalQG9nOWFtG9lSS9neRttXdnTy1leRYtXIPRylvfQ4hUUvZzlJbR7BUgvZ3kJ7V4B0stZXkLrV4D0cpaX0PoVIL2c5SW0fgVIL2d5Ca1fAdLLWV5C61eA9HKWuxiXhNc9VG9z+p/2yxh4NHo5jxi70HshCTB6XI5m7AuVRk5zQmq8/EUTqJXpSTMuUB67U8abbIOQiVj9qBByfhHyq7v5QqS67H/GEnkWsBNDDAIHpT3l6kmaElTTZMqxAmT2eXt0WYC4AI7LMYidgpIKkWQpCUqMa66xihDZOSHYowgxAhwUZZDxPu/Hj55V1kPjSDDX1UOU8qgQ9lHYxe+NXLRE9l5m71NVoayN6wF3tFSiaRrPAnDipSHYZaPs7EcEGlQ24TkQSbJikBxtlIibxnCBGme3P0vArhloZzki06OyDA9B6cmxJlZiaRrcCGqW3fvAvl0w0NHy/ViPguhOQenJsaZUYmwa1gtqkN34qXe7WqypzePJHtm5DUDpybEmU2JvGtAOcMpFxu1S4b7GL9vdfemRmtspQDE5vjRK7B3DOkpowkWuY33ZRfI8UnM7Bagkx5dAib1gcFPA96/wa9dJcmdXyPPIC+0UrJJP9YUd8eVo3svK0OAu8jf4pwCLQVfyApvU3I4I8YU1JVBCrYdlECk0lH5GkT51ojhw8So1myKFHG6KrYRaDOPE/NCwzXGNZrsmRa0fjR0x3JZEQ4IpgRJq94xzZY4SeuJaomD68vG9ZfZQe3/gAuyOBEpk9dNPl5lK6IldQ+AesZZ5oy/dHSMrlCOBEn0DZQJkvhJ6cqkA6h7hlkkCXHaW08Vv5rjbPAu0ydMg85XQE7uAsQZ2S7F+SRquc0RKaW9Ho8RbQrYMmbVLMwROH2tgt5ThlyHDZSptZUs7GiUJJcw0mCCerQE4eqxBUFSSX4YYizXS0JA1kZTk9JAkRuYuIUb7Bmcy2EUl+WWIsVgjTQxZE0lJjjuSHpnBkCTtGzzSICgq1S9cj94db2LOpqIKCXdH0iMzGJKkd31HGjRFpVpmSBIb5M3K2RRcSVoPozzalY9x7e65gIGwTVepluGqxB55s3KWBVeSY+0DPKaFaVnf/+duotg8m9lYeGll4tnJDIyIleRY46mSecwMU8bY/sMoeC8bjcPf1IhnJ3PqQq8kxxpPVXgJ2WFSGVseREF61puD7EHsIFcsY+5dkNFmeAnZYcIZ21xGQXrWmwn8TYFsbywzsEpiqxhi0ys7h01PgFHE1pWkTWA2833GvrBKNuvO/Lzry+nJkrQN7lUlJwZ/lqpZE8vRFL2SzbozP+/6cnoiU67Z4F5kcoCMZ3maNbEcTdEr2aw78/OuL6cnVLX6DS4Fh+fpsiwIM2dlWCXj1zI/+/pyegJXaF9ifrwkeSTLmiRzVoZVMn4t87OvL6cnQG0hSwyPlycv6tmQTAZglYxfy/zs68vpCURV1BJj4xXIYzyriTFnZVgl49cCv4T15fRkL+nNexRHTXpZ+aA+E6+S8WuBX8L6cnqyEdM9igPnPa55zZWJUcn4tbQvZH0f0BPUFhhR5MSrlwd8WZlhzsqwSsav5Xz60BIGkWQAlTOiCInXIg/4sjLDnJVhlYxf837e0BIGkWQA1TIeV3bmFIE21OPK9HL2hVWSXEUgMo8JYW52CpTHmJVcV4E2yOPi9HL2hVWSXEUgMo/2MDcLxUpizE2uq0bb/nFxejn7wipJriIQmUd7mJuFYsUwpttNif2ipixfyI/FoiTHGg+ZR2+Y4+mMnTI0hFiT+UVNQf14bCwWJTnWeMg8esMcT2cslCEjyiBKmGAW5GfzkxHLSPDFJrnVwDBDWroUQzJIbaxS1WaKPrSQfTFkhFijEt5qSJJReySJ2TxLratY1WyKJbSQfTFkhFh7wliGzKAxyag9ksRsnuU1Vi9pn8OraskLwW7tCRslMoM3VnQ/GiiGVNQbzWInjn/qunCwGniFRLnbe2cYZOhMq+h+NFAMr6gkvy4x4xHioOzLohYmp4cbbQyDPLU5DdmPRimhFpVk2aVkNkWfkndTgraE9HCpCu6OLRiYYc76eEVdvgy37JWBSoOaklGGJoeEkPeS4O4EmlEBhuyOWtT94wmBozQA06C2wiJGGUVIzhsxcGsa2ZAAE9bH7irq/b1ruwB4GqRKQHR6k2GPG4UKViJ7ED5oH6B9d4KuAkdsvLvmagJBaYOLdAUimLsLeCuA8WyIfvZo+/SHYrBTBt4tQzV64NpIIsVRPEzDGztvrsyLzAJ89HhxkM48VMKYxa4QMGp7/jkKlZ/SpiVbxvsWI2N54sUprVniFbubkayNJzJwWcqh+YMehsYL8EihJkyNx4RsldbGhMsjiczcl10q3JogNGN69y7uNHm7KpKvJeHy4CKTV2ZXi7WmCc0V3b2LOw3fLolhak+4PLjI8JXZBQN9yUKz5Hbj1mbhj9+xe/mXIxT5CoEixTW4zinQFPt9b2h2AbLljt+xe/mrHSD5ClEiN9aUsdj7BnEkGGEMzS7gP8ISfCVkMivSES8RufSljMVbOYgdcZfsUURtx+7LHsusRadcIXKvc+lLnIyrckAv4jrZ04jaTs47CWnweINOfYUu8stwoU/MHkjOdlCved/BbofBLTo3UsVVvMUvz4W+TiGZ3CsD5cUSy5eBkLhI6kzt3pExHHbrSPotiSXEErKd/ZtYefZASHy2WmUVr7CsUW4ZHZLMRRqwFpSxDDJhcJfa34iTTwgH2z22bNf0kGTsGjaP89Ta98LgOsG/SfhdgBhBicnpnldDSDheAbMRgugyG1tKKWNC/uiUUspF9HKWUsopvZyllHJKL2cppZzSy1lKKaf0cpZSyim9nKWUckovZymlnNLLWUopp/RyllLKKb2cpZRySi9nKaWc0stZSimn9HKWUsopvZyllHJKL2cppZzSy1lKKaf0cpZSyoBezlJKOaWXs5RSTunlLKWUU3o5SynllJ7NUkoZ0MtZSimn9GyWUsqAns1SSpnxMTfzF8lSdH4KZW5kc3RyZWFtCmVuZG9iagp4cmVmCjAgMTcKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDI0NzQyIDAwMDAwIG4gCjAwMDAwMjQ3OTkgMDAwMDAgbiAKMDAwMDAyNDY4MCAwMDAwMCBuIAowMDAwMDI0NjU5IDAwMDAwIG4gCjAwMDAwMjM3OTUgMDAwMDAgbiAKMDAwMDAyMzY1OSAwMDAwMCBuIAowMDAwMDIzNTU1IDAwMDAwIG4gCjAwMDAwMjg4MzUgMDAwMDAgbiAKMDAwMDAyNDU2MiAwMDAwMCBuIAowMDAwMDAwMDE1IDAwMDAwIG4gCjAwMDAwMTIwODQgMDAwMDAgbiAKMDAwMDAyNDQ4NiAwMDAwMCBuIAowMDAwMDI0NDAwIDAwMDAwIG4gCjAwMDAwMjQ0MjUgMDAwMDAgbiAKMDAwMDAyNDQ1MCAwMDAwMCBuIAowMDAwMDI0ODQ2IDAwMDAwIG4gCnRyYWlsZXIKPDwKL1NpemUgMTcKL1Jvb3QgMyAwIFIKL0luZm8gMTIgMCBSCi9JRCBbPGU0NTZiZDk3YTAyMGM3NzUzOTM4NDA1ODA5ZTIxY2MxPiA8ZTQ1NmJkOTdhMDIwYzc3NTM5Mzg0MDU4MDllMjFjYzE+XQo+PgpzdGFydHhyZWYKMzE0NTQKJSVFT0YK",
                         },
                         {
                             "code": 1132529,
                             "url_guide": "http://files.vueltap.com.co/pdf/service-1132529.pdf"
                         },
                         ,
                         {
                             "code": 1132530,
                             "url_guide": "http://files.vueltap.com.co/pdf/service-1132530.pdf",
                             "pdfB64": "JVBERi0xLjMKJf////8KMTAgMCBvYmoKPDwKL1R5cGUgL1hPYmplY3QKL1N1YnR5cGUgL0ltYWdlCi9CaXRzUGVyQ29tcG9uZW50IDgKL1dpZHRoIDEwMAovSGVpZ2h0IDEwMAovQ29sb3JTcGFjZSAvRGV2aWNlUkdCCi9GaWx0ZXIgL0RDVERlY29kZQovTGVuZ3RoIDExODk5Cj4+CnN0cmVhbQr/2P/gABBKRklGAAEBAAABAAEAAP/bAEMAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/bAEMBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/AABEIAGQAZAMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AP36/wCC53/Bc7/hy5/wy7/xi7/w0n/w0n/wu3/mtv8Awp3/AIQv/hTv/Co/+qR/FP8A4SP/AISP/haf/UC/sj+wv+Yp/an/ABLvwB/4jnP+sXX/AJuz/wDkj0f8Hzn/ADi6/wC72f8A30evv+7u/wDgi9/wTX/4Ivf8Eyv2xf2xf+CZX7P/AMaP+F0fs/8A7GPgDXdd8AfsY/spfEb4p+Jfin8Rv2Um+KWp+NfGup/FJvAn9sf2x/wgnie88R+I7zxPqviPUPEeq2dxcWV99u1DULMA+AP+I5z/AKxdf+bs/wD5I9H/ABHOf9Yuv/N2f/yR6P8Ah/p/way/9IV//Ocn/BOv/wCfJX0B/wAFR/Bf/BLL9qD/AINsvjn/AMFF/wBin/gn/wDs/wD7O/8AwnH/AArL/hWnin/hlT9nX4SfHbwf/wAIz+3p8PvgX4y/4nfwntfEH/CP/wDCQf8ACP8AivTv+JB44u/7V8Ha39k1X7P/AGlqWkQgH6/fsC/8Fzv+G4/+CWX7an/BS7/hl3/hV/8Awx//AMNHf8WV/wCF2/8ACa/8LE/4Z/8A2dfBvx9/5KP/AMKj8Jf8Il/wlv8Awlv/AAif/Ih+Jv7B/s/+3f8Aidfa/wCxrb6A/wCCKn/BVv8A4fB/ssePv2l/+FC/8M7/APCD/tAeKvgX/wAIV/wtH/hbf9qf8Iz8OvhV4/8A+Ep/4SP/AIV18MvsX23/AIWb/ZP9if2Dd/Zv7E+3/wBr3H9pfY7D8Af+DVrx/wDCz4Uf8EC/+CiXxS+Ongr/AIWV8Evhr+0B+1v4/wDjF8Ov+Ec8OeMf+E++Fng79jD9njxF8QfBX/CI+ML3TvCXir/hKvCWnavoX/COeKdQsPDmufb/AOzNbvbXTLq6nT9/v+CKn7Xn7Av7aP7LHj74pf8ABOj9mD/hk34JaB+0B4q8AeKfh1/wpX4L/Aj+2vinpfw6+FXiLW/Gv/CI/AvxL4q8Jaj/AGj4S8VeB9C/4SPUdQh8R3n/AAjn9mXdlHpmj6RPcAHz/wD8Fzv+C53/AA5c/wCGXf8AjF3/AIaT/wCGk/8Ahdv/ADW3/hTv/CF/8Kd/4VH/ANUj+Kf/AAkf/CR/8LT/AOoF/ZH9hf8AMU/tT/iXfr/+yd8dP+GoP2WP2af2l/8AhFv+EH/4aI/Z/wDg38dP+EK/tv8A4Sb/AIQ//hbfw68OeP8A/hFv+Ej/ALI8P/8ACQf8I/8A8JB/ZP8Abf8AYOif2r9k+3/2Rpv2j7HD/lCf8Fzv2Bf+Cpv7Dn/DLv8Aw8u/bU/4bA/4Wh/wu3/hSv8Axkd+0V+0B/wrv/hCv+FR/wDCx/8Akvvg3wl/wiX/AAlv/CW+A/8AkU/7Q/t7/hGf+J79k/sXRvtP6/f8Gc/7WP7U/wAV/wBvr4j/AAL+KX7S37QHxK+CXw1/YA8Yf8K6+Dvj/wCMnxF8Y/CzwD/wh3xo/Zi8H+Ef+EK+HviLxHqPhLwr/wAIr4S1HUPC3hz+wtIsP7D8OX97ommfZdMup7VwD9AP2sf+Dyn/AIZf/an/AGlv2aP+Hcf/AAnH/DO/7QHxk+Bf/Ca/8Nff8Iz/AMJh/wAKk+IviPwB/wAJT/wjn/DL3iD/AIR//hIP+Ef/ALW/sT+3tb/sr7X9g/tfUvs/2yb5/wD+I5z/AKxdf+bs/wD5I9fmB+xL8J/hZ8cf+Dun4x/C341/DT4f/GD4ZeKP2/8A/gqf/wAJN8Ovil4N8OfEDwJ4i/sTw9+1x4i0b+3fCPizTdX8P6v/AGR4g0jStd0z+0NPuPsGsaZp+p2vlXtlbTxfv9+3r/wUf/4NuP8Agnb+1j8Vv2OvjX/wR2+H/ij4m/B//hBf+Em134W/8E+P2Ddb8CX3/CwPht4O+KWjf2Fqfizxz4J8QXP2bw/420qz1P8AtDwxpnk6xb6hb2v22yittQuwD5A/4jnP+sXX/m7P/wCSPR/xHOf9Yuv/ADdn/wDJHr2D9nr/AILFf8Gx37Snx9+B/wCzn4F/4IzeH9J8bfH74wfDT4KeDtU8Wf8ABO7/AIJ+WPhXTfFXxU8aaL4F8Pah4mvtH+J2vavZ+H7PV9ds7jWbrS9D1nUbfTo7max0rUblIrOb8QP+Duv9nr4Bfs1/8FJPgl4F/Zz+B3wf+APgnVv2IPht4s1Twd8FPhp4L+FfhXUvFV98ef2ldHvvE2oeHvAui6DpF54gvNI0LQ9LutZuLOTUbjTtG0qxmuXttOs4oQD/AFW6KKKAP4A/+D5z/nF1/wB3s/8Avo9H/BfT/lVl/wCCK/8A3jk/9d1/GSj/AIPnP+cXX/d7P/vo9fQHgv8A4Kj/APBtl+1B/wAEsv8Agn/+xT/wUX+Of/Ccf8M7/s//ALKn/CU/DT/hWX7enhn/AIQ/47fCT9nW1+E+t/8AFZfAv4feH/8AhIP+Ef8A+Eg8b6B/xLvFet+DtV+1/wBq2n9pfZ9I1KEA/wA4Ov7/AD/nRR/z/wBJh6P+OFH/AD/w+Go/4Kj/APBUf/ghR/w4o+Of/BNH/gmj8c/+iZf8KV+Cv/Csv2w/+jw/h98ffiP/AMXH+Pvw+/7HzxZ/xVnjz/qBaF/zBtGoA+n/APg0u8TfBrwX/wAENf27fGP7Rlt4fvP2fPCf7T/7T3ib47WfizwnP498K3Xwa0L9kH9nDVPifbeJvAtro3iO58aeH5/BNrrkWs+E7fw9rs/iPTmudHh0bVJLxbGf+eH/AILV/wDBU74RaR+1P4Btv+CEf7UPxA/Zk/ZFf9n/AMKz/EXwF+xTB8bP2F/hZq/7RzfEX4qx+LvF2v8Awk8O6B8DrLxF8QL/AOGUXwg0bVfiLL4T1G61fw5oHhXwy/iK7h8IwabpH7//APBq1/won/hwX/wUS/4aj/5Nl/4aA/a3/wCGi/8Akcf+SE/8MYfs8f8AC3f+Sd/8XA/5J/8A8JD/AMiN/wAVj/0LP/E6+w1+IH7a3/BGbwJ/wUS+KegfGv8A4Nr/ANm//hcH7DHhf4f6V8Lfit4m/wCFwax8P/sP7WOieI/Ffizx1oX9jft6/FHwT8YLn7N8H/G3wJ1D+0/DelXHw2m/tP7Lo+oS+KLLxjbWgB+n/wCwx/xrv/4Wj/xFs/8AFwP+Fv8A/CE/8O//APhuf/jaD/ZP/Cv/APhLv+Gq/wDhV3/CF/8ADW3/AAo77f8A8Jt+zd/wm39pf8K//wCFl/YvCP2P/hK/+Ff3X/CN/wBD3/BL/wDa7/4IEfH74++L/B3/AASu8J/swaF+0Hpvwf1/xN4xvPgp+xF4k/Zr8VSfBqz8afD/AEvxDbah461j4BfCu21bw+/jbWfh5LdeE4/EN5PfajDpWsLo1xHoUt9p388P/Bc7/jpQ/wCGXf8Ahyp/xmh/wxf/AMLt/wCGlv8Am3T/AIVt/wANF/8ACo/+FN/8nY/8KJ/4TH/hMf8AhRPxV/5EH/hKf+Ee/wCEW/4qr+w/7c8Of2v+n/8Awb+fC3/gjH8DvinZfBT9mrQv+EX/AOCwPwf/AGQLb4W/8FCfDP8Aaf7Vet/8I747+H/iP4M+E/2sdC/tnx9qGr/swav/AGR+0/pGg6f/AGn8EdV1PR7/AOz/AGr4bahe/D2W8uZQD+cH/gmn/wArknxG/wCz/wD/AIKxf+oN+2RXwB/wdHf8p1/25v8Au2b/ANY8/Z9r3/8AZ3/aj+BP7F3/AAdX/tAftL/tL+Of+Fa/BL4a/t//APBTv/hNfGv/AAjPjHxj/Yv/AAmNv+1R4A8N/wDFOeAPD3irxbqP9o+LfFWg6T/xKdBv/sf2/wC33/2XTLW9vbf9/wD9qP8Aaj/4Mxv20fjt45/aX/aX8c/8LK+NvxK/4Rn/AITXxr/wjP8AwVW8Hf21/wAId4O8PeAPDn/FOeAPD3hXwlp39neEvCug6T/xKdBsPtn2D7ff/atTur29uAD+IL/gk7/ylN/4Jp/9n/8A7G//AK0V8Oa/f7/g9W/5Sm/AP/swD4Wf+tFftVV+n/wn+KX/AAZGfA74p/DT41/C3Xf+EX+Jvwf+IHg34pfDrxN/Zn/BW7W/+Ed8d/D/AMR6b4s8I67/AGN4i0/V/D+r/wBkeINI0/UP7M13StT0e/8As/2XU9PvbKWe2l/AH/g6B/b1/ZO/4KJft9fCL41/sdfFb/hcHwy8L/sgeAfhbrvib/hBfiT8P/sPjvRPjR8f/Fmp6F/Y3xS8HeCfEFz9m8P+NvDGof2nZ6VcaPN/af2W31CW9stQtrQA/wBbqiiigD8gf+Crf/BFT9lj/gsH/wAKF/4aX8fftAeB/wDhnf8A4Wj/AMIV/wAKL8VfDrwz/an/AAtv/hXX/CSf8JT/AMJ/8Kvib9t+xf8ACstB/sT+yf7E+zfa9X+3/wBpfaLP7B+APgD/AINWv+CBfxX+KfjX4F/C3/gol+0B8Svjb8Nf+Ej/AOFi/B3wB+1v+xh4x+KfgH/hDvEdn4P8Xf8ACa/D3w7+zxqPi3wr/wAIr4t1HT/C3iP+3dIsP7D8R39nomp/ZdTuoLV/v/8A4OQv+C1f7U//AAR8/wCGNP8AhmjwD+z/AOOP+GiP+GiP+E1/4Xp4V+Ivib+y/wDhUn/CjP8AhG/+EW/4QD4q/DL7F9t/4Wbr39t/2t/bf2n7JpH2D+zfs959v/nh/wCDS741+Kv2lP8AguV+3b+0X460/wAP6T42+P37MH7T3xr8Y6X4TtdRsfCum+Kvip+19+zh468Q6f4ZsdY1XXtXs/D9nq+u3lvo1rqmuazqNvp0dtDfarqNykt5MAfq98Uv+DQH/gi98DvAmu/FL41/tj/tf/B/4ZeF/wCzP+Em+IvxS/aF/ZS+H/gTw7/besaf4d0b+3fF3iz9mfSPD+kf2v4g1fStC0z+0NQt/t+sanp+mWvm3t7bQS8B/wAQrX/BAv8A4UT/AMNR/wDDxL9oD/hmX/o4v/hrf9jD/hRP/I4/8K7/AOSu/wDDPH/Cv/8AkoH/ABQ3/Iw/8jj/AMUz/wAhr/Qa/q9/b1/Yp+Fn/BRL9k74rfsdfGvX/iB4X+GXxg/4QX/hJtd+Fuq+HNE8d2P/AAr/AOJPg74paN/YWp+LPCnjbw/bfafEHgnSrPU/7Q8Man52j3GoW9r9ivZbbULT+ML/AJvs/wCIOr/nGX/0XP8A5vs/5I7/AMPR/wDkpv8Ayb//AMnAf8Uf/wAmxf8AJHf+Kf8A+R1/4uDQB/Q9/wAE2f8Agmz/AME2/AX/AATb/av/AGIv2Iv2r/EH7Tn7Ln7TniD46+E/i18WvCfx1+A3xo8VeE/FXxo+A3gT4R+PPDPhnx58I/Aln8O9B8QaF8O7Pwn4l0bRvEvhPX9R0vUdfttZ1m21XQ9V03TV6D9in4Of8Esv+CAvws1/9jr/AIbq+H/w1/4WV8QNV/aX/sL9tb9pz9nXwd8U7v8A4THw54V+Fv8Aa2gaZ/Zfwa8/4fz/APCmvselX/8AwjF/5viOw8V2/wDb119l/s/S/wCYH9tb9tb4p/8ABpp8U9A/4J0f8E6NA+H/AMaPgl8aPh/pX7a3inxT+2tpXiP4i/FOw+KfxG8R+K/gXregaBrfwL8V/s4+ErX4f2vhL9nHwPqOlaVqPgfVfEcHiPVfFd3d+K77TL7SNI0P6A/Yp/Yp+Fn/AAdl/CzX/wDgov8A8FF9f+IHwX+NvwX+IGq/sU+FvC37FOq+HPh18LL/AOFnw58OeFfjpomv6/onx08KftHeLbr4gXXi39o7xxp2q6rp3jjSvDk/hzSvCtpaeFLHU7HV9X1wA/nB/YY/b6/4Km/8G7n/AAtH/jCv/hV//DYH/CE/8nz/ALOP7RXgr+3P+Gfv+Eu/5Jd/xWXwS/tP+zP+F2/8Vt/yM32L+0PCP/IF+1/8Tb9fv+Ddfx/8U/hR/wAFTf2qP+CnP/BRfwV/wxF8Ev23f2f/AI4eP/C3x/8Aj74c8R/s2fssePvin+0n+0V8Ef2gtE8FfBX4q/HS907wl4q/4Srwlp3jjxr8OPDmnePvFniPXPh14T1nxHaXuu6ZoWr60n0B/wAHzn/OLr/u9n/30ev3e8O/8Ev/AIBf8FZv+CGv/BKX9nT9ozxf8YPBfgnwX+zB+wx8a9L1T4Ka/wCC/Dniq48VeHP2QYPAtjp+oX3jr4f/ABH0iXw/LpHxH1y4urW30O11F9RtdKmh1WC2gvLO+APmD4s/8GoH/BLL9tH4p/Ev9sX/AIaS/a/1/wD4ay+IHjL9pf8At34T/GL9nXVPhZrX/C9/EepfFL+1vhpqf/DOfir+0fh/qP8AwlX2zwbf/wDCT+I/tnhybTbj+3tY8z+0Lj5A/wCIVr/ggX/wvb/hlz/h4l+0B/w01/0bp/w1v+xh/wAL2/5E7/hYn/JIv+GeP+Fgf8k//wCK5/5F7/kTv+Km/wCQL/p1fu9/wUU+Nfir/giz/wAEW9f8dfstaf4f8e6v+xD8H/2VPgp8Kbf4/Wuo+KdO8QeFdL+I3wT/AGc7fUPiFD8O9V+Fdzq3iB/BOs3WqTXXhu88J6c3iqO3vk0qPSFk0OX+aH/mxP8A4jFf+cmn/RDP+bE/+Sxf8OuP+SZf8nAf8m//APFYf8nO/wDJYv8AioP+RK/4t9QB9AeP/wDg1a/4IF/Cj4p+CvgX8Uv+CiX7QHw1+NvxK/4Rz/hXXwd8f/tb/sYeDvin4+/4THxHe+D/AAj/AMIV8PfEX7PGneLfFX/CVeLdO1Dwt4c/sLSL/wDtzxHYXuiaZ9q1O1ntU5/41/8ABsN/wbxfs1+KtP8AAv7Rn/BTj4wfAHxtq3h+18WaX4O+Nf7aH7D/AMK/FWpeFb7UdV0ex8Taf4e8dfAHQdXvPD95q+ha5pdrrNvZyadcajo2q2MNy9zp15FD4/8AAL/jdH+yx8av+Di79qP/AIoL9tr/AIJOf8LH/wCGdPhd8Av+KW/ZY8af8MJfDrRv25/hF/wurwT8RP8Ahafxa8R/8JH8Wvin4h8O/Ef/AIQb43/Dj+1/h1Z6NpHhn/hEPEtvfeLtR9A/Yp/Yp+Fn/B2X8LNf/wCCi/8AwUX1/wCIHwX+NvwX+IGq/sU+FvC37FOq+HPh18LL/wCFnw58OeFfjpomv6/onx08KftHeLbr4gXXi39o7xxp2q6rp3jjSvDk/hzSvCtpaeFLHU7HV9X1wA/u8ooooAK/gD/4IF/8rTX/AAWo/wC8jf8A68U+Ddfv9/wXO/YF/wCCpv7cf/DLv/DtH9tT/hj/AP4Vf/wu3/hdX/GR37RX7P8A/wALE/4TX/hUf/CuP+SBeDfFv/CW/wDCJf8ACJePP+Rs/s/+wf8AhJv+JF9r/trWfs33/wDsIfsIfCz9lH4WfB7xF4i+D37P/wDw21/wz/8AD7wB+1P+1P4A+H3hz/hafx9+Kf8Awjng+++OHjXxr8cL7wf4c+LXxT/4Wn8WvDk/xF8R+I/iLP8A8JH448R/Y/F3i6y/4SXe8AB/mCa3+wx/w8o/4OOf2uf2Kv8AhaP/AApf/hdH7f8A/wAFFf8Ai5f/AAhP/Cxv+Ea/4Vz4o/aH+LP/ACJv/CXeBP7Y/tj/AIQT+wP+Rr0r+z/7V/tX/TvsP9m3n7/f8QMf/WUX/wA0m/8AyuK5/wDaL/4NbP8Agrv4j/4KF/tP/tu/stftcfswfAnV/it+0/8AtIfGv4U+MfDPx7/ab+GHxl8F+Ffjf4+8eaxb6fc+Ifh3+z5Pc+HPEF14J8aXXhrxZa+G/Fmo6dPBf6zoyarq2kXUkt10H/Dgv/g6a/6TUf8AnRv/AIKKf/OboA+f/wBrH46f8QzP7LH7S3/BDr/hFv8Ahtf/AIb4/Z/+Mnx0/wCGn/7b/wCGb/8AhVH/AA1N8OvEf7If/CLf8KV/sj49f8J1/wAIL/woX/hYX9t/8La8Hf8ACT/8JX/wif8AZHh7+wv+El1j9f8A/gyp/wCUWXx8/wCz/wD4p/8ArOv7KtfnB8Of+DWz/grv49/bQ/Za/aM/b/8A2uP2YP2x/BPwg+MHwQ1L4naX8a/j3+03+0L4q8WfAL4f/Fax8deNPhJp9j8av2fLzSNd8P67pF54zt7XwF4g1zTPBeqaj4o1WHVpLK21rVbxv7vPgp+z18Av2a/CuoeBf2c/gd8H/gD4J1bxBdeLNU8HfBT4aeC/hX4V1LxVfadpWj33ibUPD3gXRdB0i88QXmkaFoel3Ws3FnJqNxp2jaVYzXL22nWcUIB+MP8AwXO/4IY/8Po/+GXf+Mov+GbP+GbP+F2/80S/4XF/wmn/AAuL/hUf/VXPhZ/wjn/COf8ACrP+o7/a/wDbv/ML/sv/AImP5A/8HUvwL/4Zf/4IF/8ABO39mj/hKf8AhOP+Gd/2gP2SPgX/AMJr/Yn/AAjP/CYf8Kk/Yw/aH8Af8JT/AMI5/a/iD/hH/wDhIP8AhH/7W/sT+3tb/sr7X9g/tfUvs/2yb9fv+CGP7Av/AAVN/Yc/4ai/4eXftqf8Ngf8LQ/4Ul/wpX/jI79or9oD/hXf/CFf8Lc/4WP/AMl98G+Ev+ES/wCEt/4S3wH/AMin/aH9vf8ACM/8T37J/YujfafyB/ax8AfFP/gln+1P+0t+3r/wW68a/wDDxr/glx+0N+0B8ZPAH7Jn7F//AAkfiP8Aa8/4Ub8U/i18RfEfxm+A/jX/AIZ0/a3svh7+zx8M/wDhWf7PHw9+LHwp/wCEj+GvjHW/Efgz/hOP+EF8G2WpeB/EviTVLIA/AD9pb/g5C/4aI/4I2+HP+CSf/DGn/CH/APCP/s//ALJ3wL/4aA/4aI/4SD7X/wAMv678G9a/4Sn/AIVT/wAKM0T7P/wnH/CpPs39if8ACyZv+EZ/4SDzv7X8Qf2V5WpfQH/BLj9uf/h5R+wn8DP+DX//AIVd/wAKX/4XR/ws3/jOH/hNv+Fjf8I1/wAK6+MXxB/4KE/8m0/8Ij4E/tj+2P8AhBP+FRf8l/0r+z/7V/4T7/TvsP8AwhV4f8FR/wDgrv8A8EC/2oP2E/jn8C/2Kf8AgmD/AMM7/tNeOP8AhWX/AArT4xf8MVfsYfCT/hD/APhGfjF8PvGHjL/i4Xwn+JfiD4geH/8AhIPh/wCH/Ffhb/iQaRd/2r/bf9iar9n0XUtSuofv/wD4Ncf2+v8Agll/xgz+wx/wxX/xs0/4yZ/4zE/4Zx/Z1/6uC+MH/Jwf/CZf8NAf8m//APFrv+RR/wCpJ/5Er/iZ0Afv9+wL/wAEMf8Ahhz/AIJZftqf8E0f+Gov+Fof8Ngf8NHf8Xq/4Ul/whX/AArv/hoD9nXwb8Av+Scf8Lc8W/8ACW/8Il/wiX/CWf8AI+eGf7e/tD+wv+JL9k/tm5/AH/iBj/6yi/8Amk3/AOVxX7/ft9fsC/8ABU349/8ABU39iv8Aaj/Zc/bU/wCFL/sS/Bf/AIZx/wCGi/2dP+Gjv2ivhz/wtj/hXP7RXjL4ifF3/i0Xw78G6x8JfHf/AAnfwl1jw94G/wCK58Q6V/wk/wDZX/CM+JvsPhqxsb6XwD/gtX/wTG/4LQ/to/tT+Afil/wTo/4KE/8ADJvwS0D9n/wr4A8U/Dr/AIax/at+BH9tfFPS/iL8VfEWt+Nf+ER+BfgHxV4S1H+0fCXirwPoX/CR6jqEPiO8/wCEc/sy7so9M0fSJ7gA/p9ooooA/iD/AODyn9rH9qf9l/8A4dx/8M0ftLftAfs7/wDCcf8ADX3/AAmv/Ci/jJ8RfhJ/wmH/AAjP/DL3/CN/8JT/AMIB4j8P/wDCQf8ACP8A/CQa9/Yn9rfa/wCyv7b1f7B9n/tK8878QPhP+xL/AMHdPxx+Fnw0+Nfwt+Mf7f8A4o+GXxg+H/g34pfDrxN/w9P8PaJ/wkXgT4geHNN8WeEdd/sbxF+1xpHiDSP7X8P6vp+of2ZrulaZrFh9o+y6np9lexT20X6f/wDB85/zi6/7vZ/99Hr6/wD+Cj/7ev7WP/BO3/g24/4I7fGv9jr4rf8ACn/ib4o+H/8AwT4+Fuu+Jv8AhBfht8QPt3gTW/2DfHPizU9C/sb4peDvG3h+2+0+IPBPhjUP7Ts9Kt9Yh/sz7Lb6hFZXuoW12AfiD/w7T/4PJP8Aoo37f/8A4ti8Df8A0ZFfP/7Uf7O3/B1f+xd8CfHP7S/7S/7QH7f/AMNfgl8Nf+EZ/wCE18a/8PO7fxj/AGL/AMJj4x8PeAPDn/FOeAP2qPFXi3Uf7R8W+KtB0n/iU6Df/Y/t/wBvv/sumWt7e2/gH/EUd/wXX/6Pm/8ANZv2PP8A6H2v6fv2o/2o/jt+2j/wZjeOf2l/2l/HP/Cyvjb8Sv8AhGf+E18a/wDCM+DvB39tf8Id/wAFVvD3gDw5/wAU54A8PeFfCWnf2d4S8K6DpP8AxKdBsPtn2D7ff/atTur29uAD7f8A+DRT9oX4+/tKf8E2/jb46/aM+OPxg+P3jbSf23/iT4T0vxj8a/iX40+KnirTfCtj8Bv2atYsfDOn+IfHWta9q9n4fs9X13XNUtdGt7yPTrfUdZ1W+htkudRvJZvxA/4O6/23f20P2a/+CknwS8C/s5/td/tP/AHwTq37EHw28Wap4O+Cnx9+K3wr8K6l4qvvjz+0ro994m1Dw94F8WaDpF54gvNI0LQ9LutZuLOTUbjTtG0qxmuXttOs4ofuD/g1a/4Xt/w4L/4KJf8ADLn/ACc1/wANAftb/wDDOn/Inf8AJdv+GMP2eP8AhUX/ACUT/i3/APyUD/hHv+R5/wCKO/6Gb/iS/bq+f/8AjBP/AJ3Ff+Umn/NDP+Sxf8mJ/wDNMv8AlFx/xj//AMnAf8NO/wDI4f8AF4v+hg/4or/hX1AH0B/weU/tY/tT/sv/APDuP/hmj9pb9oD9nf8A4Tj/AIa+/wCE1/4UX8ZPiL8JP+Ew/wCEZ/4Ze/4Rv/hKf+EA8R+H/wDhIP8AhH/+Eg17+xP7W+1/2V/ber/YPs/9pXnnef8A/Bv5+wj/AMFP/wBoj4p2Xxi/4LF+F/iB+2H/AME+Pi7+yBbfFj9nTSP21vj/AOAP2zfhZd/FPx94j+DPin4RfEvQPgX8RPin8W9T8D/EC4+CWt/E610rxlrHw98N+I/DPhzxP4r8H6hqWj3Him+0TUv4wv25/wDgqP8At2f8FKP+FXf8NrfHP/hdH/Cl/wDhNv8AhWn/ABbL4O/Dn/hGv+Fjf8Ij/wAJl/ySb4feBP7Y/tj/AIQTwp/yH/7V/s/+yv8AiVfYft2pfbP1+/4Jo/8ABUf/AIOTf2oP+ET/AGKf+CdHxz/4Tj/hnf8AZ/0L/hFvhp/wrL9gvwz/AMIf8CfhJ/wgfwn0T/isvjp8PvD/APwkH/CP/wDCQeCNA/4mPivW/GOq/a/7Vu/7S+z6vqUIB+r/AOyJ/wAG8X7VXhP/AIL7+LPjt8dv+Cf/AMH7r/gmFdftP/tu+JtD0PxNqv7KPjT4NL8GvGnhv4+2/wCznbW37Olv4313V7Pw/Z6vrvwwbwn4Tb4YQT+Ap4NGurrRvDi+HJptL8f/AOCo/wDwQV/4Kw6d/wAFYvjn+0v/AMEk/wBlP/hRHwSh/wCFZf8ADP8A41/Zc+Of7Nv7Jv8Awivmfs2/D7wB8Vv+EG8OaL8YvhR4t8A/254tf4k6T4m+zaDoH/CVf2x4hv5v7U0zxHLe6iftR/tR/wDB5z+xd8CfHP7S/wC0v45/4Vr8Evhr/wAIz/wmvjX/AIRn/glT4x/sX/hMfGPh7wB4c/4pzwB4e8VeLdR/tHxb4q0HSf8AiU6Df/Y/t/2+/wDsumWt7e2/wB+y5/wXq/4OTf20fjt4G/Zo/Zo/as/4WV8bfiV/wk3/AAhXgr/hRn7Bfg7+2v8AhDvB3iHx/wCI/wDio/H/AMHfCvhLTv7O8JeFde1b/iba9YfbPsH2Cw+1andWVlcAH9f3/BMb9mn/AILJfDX/AIIv/wDBQn4O/ti+I/2gNR/4KD+Pv+Gsf+GWNX8f/tY6F8V/inYf8JV+yl4B8LfA/wD4Qr46WPxk8Y6Z8NfsvxtsPE914c+2fEHwr/wh3iN73xhcf2Hb6imt3X8IX7a3xt/4L/f8E7finoHwU/bF/bW/b/8Ag/8AE3xR8P8ASviloXhn/h4F8QfiB9u8Ca34j8V+E9M13+2fhb8d/G3h+2+0+IPBPifT/wCzLzVbfWIf7M+1XGnxWV7p9zd/f/7a3/BZn/g6I/4J2/FPQPgp+2L+0h/wp/4m+KPh/pXxS0Lwz/wp/wD4J5/ED7d4E1vxH4r8J6Zrv9s/C34XeNvD9t9p8QeCfE+n/wBmXmq2+sQ/2Z9quNPisr3T7m7/AAB/bW/b1/ax/wCCiXxT0D41/ti/Fb/hcHxN8L/D/SvhboXib/hBfht8P/sPgTRPEfivxZpmhf2N8LfB3gnw/c/ZvEHjbxPqH9p3mlXGsTf2n9luNQlsrLT7a0AP9zmiiigD+AP/AIPnP+cXX/d7P/vo9ewf8Fiv2evj7+0p/wAGx3/BGbwL+zn8DvjB8fvG2k+H/wDgnd4s1Twd8FPhp40+KnirTfCtj/wT8+J2j33ibUPD3gXRde1ez8P2er67oel3Ws3FnHp1vqOs6VYzXKXOo2cU3j//AAfOf84uv+72f/fR6/KD9nr/AIO6/wDgpJ+zX8Avgf8As5+Bfgl+xBq3gn4A/B/4afBTwdqniz4bfHm+8Val4V+FfgvRfAvh7UPE19o/7Sug6ReeILzSNCs7jWbrS9D0bTrjUZLmax0rTrZ4rOEA/GH/AIdO/wDBU3/pGn+3/wD+Ib/tFf8Azua/s9+KXwn+KfwO/wCDIzXfhb8a/hp8QPg/8TfC/wDZn/CTfDr4peDfEfw/8d+Hf7b/AOCt2n+ItG/t3wj4s03SPEGkf2v4f1fStd0z+0NPt/t+j6np+p2vm2V7bTy/mB/xGrf8FTf+iB/sAf8AhrP2iv8A6KqvkD9vX/g6B/b6/wCCiX7J3xW/Y6+Nfwi/ZA8L/DL4wf8ACC/8JNrvwt8A/GjRPHdj/wAK/wDiT4O+KWjf2Fqfiz4/+NvD9t9p8QeCdKs9T/tDwxqfnaPcahb2v2K9lttQtAD+p3/gzV8WeFfAX/BIj9qLx1468TeH/BfgnwX+2/8AGzxZ4x8Y+LNZ07w54V8J+FfDn7Mn7L2seIfE3ibxDrFzZ6RoPh/QtIs7zVNZ1nVLy107S9Otbm+vrmC2gllX7f8A21v+CN3/AASy/wCC/XxT0D9sX/hr74gfEr/hWvw/0r9mj+3f2Kfj/wDs6+MfhZaf8Id4j8V/FL+ydf1P/hV/xl8j4gQf8Ll+2arYf8JPYeV4cv8Awrcf2Da/av7Q1T84P+DS74KeFf2lP+CGv7dv7OnjrUPEGk+Cfj9+0/8AtPfBTxjqnhO606x8Vab4V+Kn7IP7OHgXxDqHhm+1jSte0iz8QWeka7eXGjXWqaHrOnW+ox2019pWo2yS2c3xB+2t+2t8U/8Ag00+Kegf8E6P+CdGgfD/AONHwS+NHw/0r9tbxT4p/bW0rxH8RfinYfFP4jeI/FfwL1vQNA1v4F+K/wBnHwla/D+18Jfs4+B9R0rStR8D6r4jg8R6r4ru7vxXfaZfaRpGhgHyB/wQx/4No/8AhuP/AIai/wCHl3wn/b//AGP/APhV/wDwpL/hSv8AxQn/AAz/AP8ACxP+E1/4W5/wsf8A5L78B/Fv/CW/8Il/wiXgP/kU/wCz/wCwf+Em/wCJ79r/ALa0b7N/Y7/wS/8A+Den9i//AIJM/H3xf+0Z+zn8Tv2n/Gnjbxp8H9f+CmqaX8a/Gnwp8R+Fbfwr4j8afD/x1fahp9j4F+Cvw41eLxBFq/w40O3tbq41y605NOutVhm0qe5ns7yx+YP+Db3/AILV/tT/APBYP/hsv/hpfwD+z/4H/wCGd/8Ahnf/AIQr/hRfhX4i+Gf7U/4W3/wvP/hJP+Ep/wCE/wDir8Tftv2L/hWWg/2J/ZP9ifZvter/AG/+0vtFn9g/CD9t3/g7r/4KSfs1/toftd/s5+Bfgl+xBq3gn4A/tP8Ax9+Cng7VPFnw2+PN94q1Lwr8K/it4s8C+HtQ8TX2j/tK6DpF54gvNI0KzuNZutL0PRtOuNRkuZrHStOtnis4QD9H/i/8Y/8Agqb/AMFW/wBuH48/8EdP2zf2FfiB8Gf+CVfxP/aA+O/gC/8A2xPhb+zH+0V8O/HZ+Fn7NHi3xn8YP2cvGuhftB/FXVPiL+zl/wAXT8Z/Bf4UaPqfiOb4Yah4c8b6P4y1DT/AtloOq+IfDep6V6B+y5/wSI/4IF/8EfP27PA3x0/4eff8IP8AtNfs7/8ACTf8Wd/aj/bV/Yw8M/2X/wALb+DviHwf/wAVz8Pf+FafDL4gWX234f8AxN/4Snwz/wATfRPtP2vw9rf/ABMtFuPst/8AgD/xGrf8FTf+iB/sAf8AhrP2iv8A6KqvgD9lz/joj/4Lr+Bv+G1v+LX/APDYH/CTf8LL/wCGXP8Aiiv7D/4Z/wD2PPEP/CG/8IN/wtj/AIXb/Zn9p/8ACkvCn/CTf2//AMJN9t/tDxD/AGV/Yv2vTf7JAP7nP+CgX/BJr/gkR/wW88VTft/+Ov25PEGreCfgD8H5Pgp4x+J37K37TH7Ml98AvBHhX4V6j4z+NXiHUPiL401j4cfFjSPDXiDw1pHxYvPEHi661Txno2naN4Lk8O6tfaVp1s8uq6l+MP8Aw4L/AODWX/pNR/50b/4J1/8Azm6Pj7/xpc/an+Cv/Buj+y5/xXv7Ev8AwVj/AOFcf8NF/FH4+/8AFU/tT+C/+G7fiLrP7DHxd/4Ur42+Hf8Awqz4S+HP+Ec+Evws8PeIvhx/wnPwQ+I/9kfEW81nV/E3/CX+Grix8I6d/PD/AMHC3/BL/wCAX/BJn9tD4Y/s5/s5+L/jB408E+NP2YPBfxr1TVPjXr/gvxH4qt/FXiP4rfGrwLfafp994F+H/wAONIi8PxaR8ONDuLW1uNDutRTUbrVZptVntp7OzsQD/YaooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAP/ZCmVuZHN0cmVhbQplbmRvYmoKMTEgMCBvYmoKPDwKL1R5cGUgL1hPYmplY3QKL1N1YnR5cGUgL0ltYWdlCi9CaXRzUGVyQ29tcG9uZW50IDgKL1dpZHRoIDEwMAovSGVpZ2h0IDEwMAovQ29sb3JTcGFjZSAvRGV2aWNlUkdCCi9GaWx0ZXIgL0RDVERlY29kZQovTGVuZ3RoIDExMzAxCj4+CnN0cmVhbQr/2P/gABBKRklGAAEBAAABAAEAAP/bAEMAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/bAEMBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/AABEIAGQAZAMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AP36/wCC53/Bc7/hy5/wy7/xi7/w0n/w0n/wu3/mtv8Awp3/AIQv/hTv/Co/+qR/FP8A4SP/AISP/haf/UC/sj+wv+Yp/an/ABLvwB/4jnP+sXX/AJuz/wDkj0f8Hzn/ADi6/wC72f8A30evv+7u/wDgi9/wTX/4Ivf8Eyv2xf2xf+CZX7P/AMaP+F0fs/8A7GPgDXdd8AfsY/spfEb4p+Jfin8Rv2Um+KWp+NfGup/FJvAn9sf2x/wgnie88R+I7zxPqviPUPEeq2dxcWV99u1DULMA+AP+I5z/AKxdf+bs/wD5I9H/ABHOf9Yuv/N2f/yR6P8Ah/p/way/9IV//Ocn/BOv/wCfJX0B/wAFR/Bf/BLL9qD/AINsvjn/AMFF/wBin/gn/wDs/wD7O/8AwnH/AArL/hWnin/hlT9nX4SfHbwf/wAIz+3p8PvgX4y/4nfwntfEH/CP/wDCQf8ACP8AivTv+JB44u/7V8Ha39k1X7P/AGlqWkQgH6/fsC/8Fzv+G4/+CWX7an/BS7/hl3/hV/8Awx//AMNHf8WV/wCF2/8ACa/8LE/4Z/8A2dfBvx9/5KP/AMKj8Jf8Il/wlv8Awlv/AAif/Ih+Jv7B/s/+3f8Aidfa/wCxrb6A/wCCKn/BVv8A4fB/ssePv2l/+FC/8M7/APCD/tAeKvgX/wAIV/wtH/hbf9qf8Iz8OvhV4/8A+Ep/4SP/AIV18MvsX23/AIWb/ZP9if2Dd/Zv7E+3/wBr3H9pfY7D8YP+DNXwn4V8e/8ABIj9qLwL468M+H/Gngnxp+2/8bPCfjHwd4s0bTvEfhXxZ4V8R/syfsvaP4h8M+JvD2sW15pGveH9d0i8vNL1nRtUs7rTtU066ubG+tp7aeWJvxh/4Ogfix8U/wDgmv8At9fCL4F/8E6PiX8QP2BPgl4r/ZA8A/FjxT8Hf2KfGXiP9lf4WeJfinrvxo+P/g/W/iXr/wAPfgXqXgTwlrHxA1jwl4E8D+FtV8ZajpFz4j1Dw54N8K6Jd6lNpnh7SLWzAP6vf+CGP/Bc7/h9H/w1F/xi7/wzZ/wzZ/wpL/mtv/C4v+E0/wCFxf8AC3P+qR/Cz/hHP+Ec/wCFWf8AUd/tf+3f+YX/AGX/AMTH9/q/iD+Bf/B1L/wQL/Zf/wCEp/4Zo/4J2/tAfs7/APCcf2J/wmv/AAov9kj9jD4Sf8Jh/wAIz/a//CN/8JT/AMIB+0P4f/4SD/hH/wDhINe/sT+1vtf9lf23q/2D7P8A2leed/Y5+z18a/Cv7SnwC+B/7RngXT/EGk+Cfj98H/hp8a/B2l+LLXTrHxVpvhX4qeC9F8deHtP8TWOj6rr2kWfiCz0jXbO31m10vXNZ0631GO5hsdV1G2SK8mAP44/2sf8Ag8p/4Zf/AGp/2lv2aP8Ah3H/AMJx/wAM7/tAfGT4F/8ACa/8Nff8Iz/wmH/CpPiL4j8Af8JT/wAI5/wy94g/4R//AISD/hH/AO1v7E/t7W/7K+1/YP7X1L7P9sm+f/8AiOc/6xdf+bs//kj1+YH7Evwn+Fnxx/4O6fjH8LfjX8NPh/8AGD4ZeKP2/wD/AIKn/wDCTfDr4peDfDnxA8CeIv7E8PftceItG/t3wj4s03V/D+r/ANkeINI0rXdM/tDT7j7BrGmafqdr5V7ZW08X7/ft6/8ABR//AINuP+Cdv7WPxW/Y6+Nf/BHb4f8Aij4m/B//AIQX/hJtd+Fv/BPj9g3W/Al9/wALA+G3g74paN/YWp+LPHPgnxBc/ZvD/jbSrPU/7Q8MaZ5OsW+oW9r9tsorbULsA+QP+I5z/rF1/wCbs/8A5I9H/Ec5/wBYuv8Azdn/APJHr2D9nr/gsV/wbHftKfH34H/s5+Bf+CM3h/SfG3x++MHw0+Cng7VPFn/BO7/gn5Y+FdN8VfFTxpovgXw9qHia+0f4na9q9n4fs9X12zuNZutL0PWdRt9OjuZrHStRuUis5vxA/wCDuv8AZ6+AX7Nf/BST4JeBf2c/gd8H/gD4J1b9iD4beLNU8HfBT4aeC/hX4V1LxVffHn9pXR77xNqHh7wLoug6ReeILzSNC0PS7rWbizk1G407RtKsZrl7bTrOKEA/1W6KKKAP4A/+D5z/AJxdf93s/wDvo9H/AAX0/wCVWX/giv8A945P/Xdfxko/4PnP+cXX/d7P/vo9fQHgv/gqP/wbZftQf8Esv+Cf/wCxT/wUX+Of/Ccf8M7/ALP/AOyp/wAJT8NP+FZft6eGf+EP+O3wk/Z1tfhPrf8AxWXwL+H3h/8A4SD/AIR//hIPG+gf8S7xXrfg7Vftf9q2n9pfZ9I1KEA/zg6/v8/50Uf8/wDSYej/AI4Uf8/8PhqP+Co//BUf/ghR/wAOKPjn/wAE0f8Agmj8c/8AomX/AApX4K/8Ky/bD/6PD+H3x9+I/wDxcf4+/D7/ALHzxZ/xVnjz/qBaF/zBtGoA9g/4NhvDPxl8af8ABvF/wU48Hfs53PiCz/aD8WfGD9tDwz8Cbzwn4sg8BeKrX4y67+w/8AdL+GFz4Z8dXWs+HLbwX4gg8bXWhy6N4suPEOhQeHNRW21ibWdLjs2voP0f/wCCKn/BLH4u6v8AssePrn/gu5+y98P/ANpv9rpP2gPFUHw68e/trT/BP9uj4p6R+zivw6+FUnhHwjoHxb8Ra/8AHG98O/D+w+Jsvxf1nSvh1F4s0610jxHr/ivxMnh20m8XT6lq/wCYH/Btl8UvHfwO/wCDbj/gq78a/hbrv/CL/E34P/ED9un4pfDrxN/Zmj63/wAI747+H/7BvwK8WeEdd/sbxFp+r+H9X/sjxBpGn6h/Zmu6Vqej3/2f7Lqen3tlLPbS/AH7FP7ev/B39/wUS+Fmv/Gv9jr4rf8AC4Phl4X+IGq/C3XfE3/CC/8ABML4f/YfHeieHPCvizU9C/sb4peDvBPiC5+zeH/G3hjUP7Ts9KuNHm/tP7Lb6hLe2WoW1oAfH/8AwchftLf8Ebf2iP8AhjT/AIdJ+HP2f/D/APwh/wDw0R/w0B/wov8AZO139l/7X/wkH/CjP+FU/wDCU/218G/hJ/wnH2f+xPiT/Yn2b/hIP+EZ87V/O/sr/hIIv7S/f/8A4NZf2af+CyXw1+Kfhz4xfti+I/2gNR/4J8ePv2ANI/4ZY0jx/wDtY6F8V/hZYf8ACVeI/wBnvxT8D/8AhCvgXY/GTxjqfw1+y/BKw8T2vhz7Z8PfCv8Awh3hx73wfcf2HcaimiXXv/7DH/BLj/g08/4KUf8AC0f+GKfgZ/wuj/hS/wDwhP8Awsv/AIub/wAFJfhz/wAI1/wsb/hLv+EN/wCSs/EHwJ/bH9sf8IJ4r/5AH9q/2f8A2V/xNfsP27Tftn7ffsU/t6/8E2PF/wAU9f8A+CX/AOx18Vv7R+Jv7C/w/wBV+Fuu/A7/AIQX49Wn/CrvAn7MniPwr+z1qehf8LL+KXg628P+Nv8AhCfEFz4Y8If2nZ/EDxdrHiTf/b9vqGv2S6hrSgH8If8AwTT/AOVyT4jf9n//APBWL/1Bv2yK+AP+Do7/AJTr/tzf92zf+sefs+17/wDs7/tR/An9i7/g6v8A2gP2l/2l/HP/AArX4JfDX9v/AP4Kd/8ACa+Nf+EZ8Y+Mf7F/4TG3/ao8AeG/+Kc8AeHvFXi3Uf7R8W+KtB0n/iU6Df8A2P7f9vv/ALLplre3tv8Av/8AtR/tR/8ABmN+2j8dvHP7S/7S/jn/AIWV8bfiV/wjP/Ca+Nf+EZ/4KreDv7a/4Q7wd4e8AeHP+Kc8AeHvCvhLTv7O8JeFdB0n/iU6DYfbPsH2+/8AtWp3V7e3AB/EF/wSd/5Sm/8ABNP/ALP/AP2N/wD1or4c1+/3/B6t/wApTfgH/wBmAfCz/wBaK/aqr9P/AIT/ABS/4MjPgd8U/hp8a/hbrv8Awi/xN+D/AMQPBvxS+HXib+zP+Ct2t/8ACO+O/h/4j03xZ4R13+xvEWn6v4f1f+yPEGkafqH9ma7pWp6Pf/Z/sup6fe2Us9tL+AP/AAdA/t6/snf8FEv2+vhF8a/2Ovit/wALg+GXhf8AZA8A/C3XfE3/AAgvxJ+H/wBh8d6J8aPj/wCLNT0L+xvil4O8E+ILn7N4f8beGNQ/tOz0q40eb+0/stvqEt7ZahbWgB/rdUUUUAfkD/wVb/4Iqfssf8Fg/wDhQv8Aw0v4+/aA8D/8M7/8LR/4Qr/hRfir4deGf7U/4W3/AMK6/wCEk/4Sn/hP/hV8Tftv2L/hWWg/2J/ZP9ifZvter/b/AO0vtFn9g/ID/iCp/wCCWX/RfP2//wDw6f7Ov/0KtfQH/ByF/wAFq/2p/wDgj5/wxp/wzR4B/Z/8cf8ADRH/AA0R/wAJr/wvTwr8RfE39l/8Kk/4UZ/wjf8Awi3/AAgHxV+GX2L7b/ws3Xv7b/tb+2/tP2TSPsH9m/Z7z7f/ADA/8Rq3/BU3/ogf7AH/AIaz9or/AOiqoA/f7/iCp/4JZf8ARfP2/wD/AMOn+zr/APQq18gfFL/g2y/4NuPgd47134W/Gv8A4Ku/ED4P/E3wv/Zn/CTfDr4pft0/sG/D/wAd+Hf7b0fT/EWjf274R8WfArSPEGkf2v4f1fStd0z+0NPt/t+j6np+p2vm2V7bTyn/AARn/wCDoH9vr/gol/wUn/Zw/Y6+Nfwi/ZA8L/DL4wf8Lg/4SbXfhb4B+NGieO7H/hX/AMBfij8UtG/sLU/Fnx/8beH7b7T4g8E6VZ6n/aHhjU/O0e41C3tfsV7LbahafAH7ev7FPws/4KJf8Hf3xW/Y6+Nev/EDwv8ADL4wf8IL/wAJNrvwt1Xw5onjux/4V/8A8EwvB3xS0b+wtT8WeFPG3h+2+0+IPBOlWep/2h4Y1PztHuNQt7X7Fey22oWgB/V7+wL+wL/wSy+An/BLL9tT9lz9lz9tT/hdH7Evxo/4aO/4aL/aL/4aO/Z1+I3/AAqf/hY37Ovg34d/F3/i7vw78G6P8JfAn/CCfCXR/D3jn/iufD2q/wDCMf2r/wAJN4m+3eGr6xsYv5YvjX/wVa8K/wDBuR4q0/8AYi/4Iu/FH9mD9ub9lz4p+H7X9qnx78WvjX42079pnxV4e+PvjfUdV+Efin4daf48/ZS+IvwO+Hek+H9J+HfwO+FniW18I6z4T1DxpYaj4u1XWdR8RXeh6/4c03ST/gq18a/FX/BuR4V+KP8AwRd/Yi0/w/8AFL9lz9ub9mDxt8a/i149/aptdR8b/H3w94q/aZ074i/spePNP+HXin4R6r8Dvh3pPh/Sfh38DvCes+EbXxL8LPF2o2HjTUPEWo6zquv6Hd6b4c0n+KKgD+/z/lB1/wAq0f8AxuA/4af/AOT1P+cgP/DPH/Clf+Tcf+TBf+FS/wDCpf8AhbX/AAtr48f8lY/4SD/hPP8AhWf/ABQn9lf8IZ4y/tL9H/8Agl/4I/4JEfsj/H3xf/wUv+Ln/BRD4P8Awg/4KIftj/B/X9S/bY/Zg+Nf7Wv7Mnw/8K/s9/H39oXxp8P/AI/ftIfCTT/gr4mtPDXxx+E/iD4T/HHw1qXw9tfAXxa8eeKPGngTTtM1Xwn48k1vxfZXGswfwxf8EpP+C1f7U/8AwR8/4X1/wzR4B/Z/8cf8NEf8Ku/4TX/henhX4i+Jv7L/AOFSf8LF/wCEb/4Rb/hAPir8MvsX23/hZuvf23/a39t/afsmkfYP7N+z3n2/84f2hfjX4q/aU+Pvxw/aM8daf4f0nxt8fvjB8S/jX4x0vwna6jY+FdN8VfFTxprXjrxDp/hmx1jVde1ez8P2er67eW+jWuqa5rOo2+nR20N9quo3KS3kwB/pN/tVf8GzH/BF74waz8aP+Ci/xr/bd/aA+Hvwy/aK+IGv/tL+JvjFB+0p+yl4T/Zxt/8AhpHx2fGGjat4R+IXiz4C6n4fi+H/AIo8QfEDStO+HV/qHjjW/wC27XWfDtpa69rt7qNtdXvgH/EK1/wQL/4UT/w1H/w8S/aA/wCGZf8Ao4v/AIa3/Yw/4UT/AMjj/wAK7/5K7/wzx/wr/wD5KB/xQ3/Iw/8AI4/8Uz/yGv8AQa/b74JfsU/Cz/gol/wQB/Yp/Y6+Nev/ABA8L/DL4wfsAf8ABP3/AISbXfhbqvhzRPHdj/wr/wCH3wI+KWjf2Fqfizwp428P232nxB4J0qz1P+0PDGp+do9xqFva/Yr2W21C0/iC/wCCzP7a3xT/AOCdvgT9pD/g2v8AgpoHw/8AFH7DHwf/AOFP/wDCM/Fb4paV4j1v9rG+/wCFgax8Lv29dZ/t3x14T8V+Cfg/c/ZvjB421Xw3pn9n/AnTPJ+G1vp+j3X23xRFc+MbsA/d74Kf8Gl3/BDX9pTwrqHjr9nP9u39p/4/eCdJ8QXXhPVPGPwU/ae/ZB+KnhXTfFVjp2laxfeGdQ8Q+Bf2b9e0iz8QWeka7oeqXWjXF5HqNvp2s6VfTWyW2o2cs3AfGv8A4Nhv+DeL9mvxVp/gX9oz/gpx8YPgD421bw/a+LNL8HfGv9tD9h/4V+KtS8K32o6ro9j4m0/w946+AOg6veeH7zV9C1zS7XWbezk0641HRtVsYbl7nTryKH8IP+DeL/gtX+1P+xd8U/2cv+CdHwt8A/s/6/8ABL9rL9v/AOEP/CxfFPj/AMK/EXVPinov/C9/EfwT+Bfi7/hCtb8O/FXwr4S07+zvCXhXT9R8Of274H8R/Y/Ec17d6n/bGmSQaRb/AEB/werf8pTfgH/2YB8LP/Wiv2qqAP8AT7ooooA/gD/4PnP+cXX/AHez/wC+j1+v/wASf+Crf/Dnz/ggX/wSV/aX/wCFC/8ADRH/AAnH7P8A+wb8C/8AhCv+Fo/8Kk/sv/hJv2ML/wAf/wDCU/8ACR/8K6+Jv237F/wrL+yf7E/sG0+0/wBt/b/7Xt/7N+x3/wC/3x0/ZO/ZY/ag/wCEW/4aX/Zp/Z//AGiP+EH/ALb/AOEK/wCF6fBv4dfFv/hD/wDhJv7I/wCEk/4Rb/hP/DniD/hH/wDhIP8AhH9B/tv+yfsn9q/2JpH2/wC0f2bZ+T+AP7If/BFT9qfw3+31+0/4w/b18ffs/wD7WX/BLnX/APhdX/DF/wCwn4/8VfEX47/Cz9mj+1PjR4a1T9nT/hCv2YfjN8KoP2ePg1/wpr9niDxj8HfDn/Cqbqb/AIV54c8R3vw+8C+Z4H1jVJAAH/Bd346f8NQf8GwPxQ/aX/4Rb/hB/wDhoj9n/wDYB+On/CFf23/wk3/CH/8AC2/j9+y14/8A+EW/4SP+yPD/APwkH/CP/wDCQf2T/bf9g6J/av2T7f8A2Rpv2j7HD/MD/wAEuP8Ag1K/4eUfsJ/Az9tb/hvP/hS//C6P+Fm/8W0/4Zc/4WN/wjX/AArr4xfEH4Tf8jl/w0V4E/tj+2P+EE/t/wD5FTSv7P8A7V/sr/TvsP8AaV5/c5/wVs/4J++Kv21P+CV/xq/YA/Zag+D/AMI9X8WeH/gN4T+FOl+Jo9R8BfBrwL4V+Dnxp+Evjq38M21j8O/Bniq58MeH9L8E/Dy68P8AhPRvDfgy506xnXRtJS20vSFkvLL4g+Fv/BKz9vr4Hf8ABvboX/BMb4KftE/D/wCD/wC3P4X/ALT/AOEZ+P8A8Lfi58aPh/4E8O/23+25qH7QWs/2F8VfCfw80j4waR/a/wAH9X1XwVqf9n+Abf7frGp6h4cuvN8L3tzrUoB+IP8AxClf8Ovv+Nl3/Def/C8f+Hd//Gc//Clf+GXP+Faf8Lf/AOGSf+L+/wDCrv8AhY//AA0V8QP+Ff8A/CwP+Ff/APCJ/wDCbf8ACB+Nv+EU/tb+3f8AhEfEn2D+xr3+YH/gtX/wVb/4fB/tT+Af2l/+FC/8M7/8IP8As/8AhX4F/wDCFf8AC0f+Ft/2p/wjPxF+Kvj/AP4Sn/hI/wDhXXwy+xfbf+Fm/wBk/wBif2Dd/Zv7E+3/ANr3H9pfY7D+/wB+G37If7fX7F3/AAQL/wCCtXwt/wCCi/7T/wDw1l8bdf8A2f8A9vLx/wCFviL/AMLq+NHx3/sX4Wap+xhYeHdE8Ff8Jd8dPDXhXxbp39neLfCvjjXf+Ec07T5vDln/AMJH/adpeyanrGrwW/8AID/wRU/4Kc/8EXv2Lv2WPH3wt/4KL/8ABPb/AIay+Nuv/tAeKvH/AIW+Iv8Awyd+yl8d/wCxfhZqnw6+FXh3RPBX/CXfHTx94V8W6d/Z3i3wr4413/hHNO0+bw5Z/wDCR/2naXsmp6xq8FuAfr//AMGMf/OUX/uyb/37ivoD9rH46f8AETN+1P8AtLf8EOv+EW/4Yo/4YH/aA+Mnx0/4af8A7b/4aQ/4Wv8A8Ms/EXxH+yH/AMIt/wAKV/sj4C/8IL/wnX/C+v8AhYX9t/8AC2vGP/CMf8Ip/wAIn/ZHiH+3f+El0f5//wCDrX/jV9/wwZ/w7R/413/8Lx/4aj/4XV/wwx/xiT/wt/8A4Vp/wzr/AMK4/wCFo/8ACgv+Ff8A/CwP+Ff/APCwPHn/AAhP/CWf2t/win/CbeLv7C+wf8JJrP20/YQ/4OZ/+CL37KPws+D3iLxF+xF+0B/w21/wz/8AD7wB+1P+1P4A/Zr/AGUv+Fp/H34p/wDCOeD7744eNfGvxwvvj14c+LXxT/4Wn8WvDk/xF8R+I/iLP/wkfjjxH9j8XeLrL/hJd7wAH8wP7NP/AASk/wCGiP8Agsl4j/4JJ/8AC+v+EP8A+Ef/AGgP2sfgX/w0B/wq7/hIPtf/AAy/oXxk1r/hKf8AhVP/AAsXRPs//Ccf8Kk+zf2J/wALJm/4Rn/hIPO/tfxB/ZXlal/q9/8ABLj9hj/h2v8AsJ/Az9in/haP/C6P+FL/APCzf+Ll/wDCE/8ACuf+El/4WL8YviD8Wf8AkTf+Eu8d/wBj/wBj/wDCd/2B/wAjXqv9of2V/av+g/bv7Ns/5gv+CX//AARU/an1f/gr18Ov+C7lt4+/Z/T9kX9pv4gftJftreA/h1P4q+Iq/tHaR8LP26PhP8Y/EXwk0Dxd4Rj+FUvwysPiB4dsvjj4Ti+IulaN8X9f8OaRdad4iTwz4r8XQ2mmz6v8f/t6/wDBYb4p/wDBO3/g6I+K3iL41/Hf9r/xR+wx8H/+EF/4Sb9lj4W/FDxHrfgS+/4WB/wTy8HWOjf2F8D/ABZ8TvBPwfufs3xg8baV8RdT/tCfTPJ1i31Dxda/bfFEVsl2Afp//wAHLn/Bc7/hhz/hbH/BNH/hl3/haH/DYH7AHjv/AIvV/wALt/4Qr/hXf/DQH/C+PgF/yTj/AIVH4t/4S3/hEv8AhEv+Es/5Hzwz/b39of2F/wASX7J/bNyf8GVP/KLL4+f9n/8AxT/9Z1/ZVr5A/aX/AOC6H/BF7/gr/wD2t+y54d/YM+IGv/ttftY/D+//AGKf2WP2i/2l/wBl39lLVP8AhTnxT+O/9vfDv4H6/q3xdsfi58TPi18Pfh/8Pfi18TIPHN/qvw68PeI/EfhPzte8TeEfCmseJZEsb8/Yp/bW+Fn/AAaafCzX/wDgnR/wUX0D4gfGj42/Gj4gar+2t4W8U/sU6V4c+IvwssPhZ8RvDnhX4F6JoGv638dPFf7OPi21+IFr4t/Zx8cajqulad4H1Xw5B4c1Xwrd2niu+1O+1fSNDAP7vKKKKAP4g/8Ag8p/ax/an/Zf/wCHcf8AwzR+0t+0B+zv/wAJx/w19/wmv/Ci/jJ8RfhJ/wAJh/wjP/DL3/CN/wDCU/8ACAeI/D//AAkH/CP/APCQa9/Yn9rfa/7K/tvV/sH2f+0rzzvxA+E/7Ev/AAd0/HH4WfDT41/C34x/t/8Aij4ZfGD4f+Dfil8OvE3/AA9P8PaJ/wAJF4E+IHhzTfFnhHXf7G8RftcaR4g0j+1/D+r6fqH9ma7pWmaxYfaPsup6fZXsU9tF+n//AAfOf84uv+72f/fR6+v/APgo/wDt6/tY/wDBO3/g24/4I7fGv9jr4rf8Kf8Aib4o+H//AAT4+Fuu+Jv+EF+G3xA+3eBNb/YN8c+LNT0L+xvil4O8beH7b7T4g8E+GNQ/tOz0q31iH+zPstvqEVle6hbXYB+IP/DtP/g8k/6KN+3/AP8Ai2LwN/8ARkV8/wD7Uf7O3/B1f+xd8CfHP7S/7S/7QH7f/wANfgl8Nf8AhGf+E18a/wDDzu38Y/2L/wAJj4x8PeAPDn/FOeAP2qPFXi3Uf7R8W+KtB0n/AIlOg3/2P7f9vv8A7Lplre3tv4B/xFHf8F1/+j5v/NZv2PP/AKH2v6fv2o/2o/jt+2j/AMGY3jn9pf8AaX8c/wDCyvjb8Sv+EZ/4TXxr/wAIz4O8Hf21/wAId/wVW8PeAPDn/FOeAPD3hXwlp39neEvCug6T/wASnQbD7Z9g+33/ANq1O6vb24APf/8Ag2Y/aq1j4wf8EXv23fjX/wAFF/jR8QP2ivhl8Pf2gP2lIPjF4m/aX1/x3+0j9n/Zx8J/spfAXxZ8QfCOraN4wPxA8QeKPh/F4f1PxvqF/wDDrTtK1m11v+29etbTw7qN7rt1bXp/w8s/4M2/+ic/sAf+KnfHP/0G9ef/APBoD8Lf
[...]
